-------------------------------------------------------------------------------------------------------
--- spdGlobalUser.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdGlobalUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdGlobalUser]
GO

CREATE PROCEDURE [dbo].[spdGlobalUser]
	@UserId uniqueidentifier,
	@LastUpdated timestamp,
	@NewLastUpdated timestamp OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	IF NOT EXISTS
		(
		SELECT
			[Id]
		FROM
			[User]
		WHERE
			[Id] = @UserId AND
			[LastUpdated] = @LastUpdated
		) BEGIN
			RAISERROR('The User information has been edited by another user', 16, 1)
			RETURN
		END

	UPDATE
		[User]
	SET
		[IsProfileEditor] = 0,
		[IsPolicyProfileUser] = 0
	WHERE
		[Id] = @UserId

	SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[User]
	WHERE
		[Id] = @UserId
END

GO
GRANT EXECUTE ON [dbo].[spdGlobalUser] TO [VLAProfilesUser]
GO
