--------------------------------------------------------------------------------------------------------
--- spdProfileVersionQuestionRow.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdProfileVersionQuestionRow]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdProfileVersionQuestionRow]
GO

CREATE PROCEDURE spdProfileVersionQuestionRow
	@Id uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	-- first remove the field values from inside the row
    DELETE
		[ProfileVersionFieldValue]
	WHERE
		[ProfileVersionQuestionRowId] = @Id

	-- then remove the row
	DELETE
		[ProfileVersionQuestionRow]
	WHERE
		[Id] = @Id

END

GO
GRANT EXECUTE ON [dbo].[spdProfileVersionQuestionRow] TO [VLAProfilesUser]
GO
