---------------------------------------------------------------------------------------------------------
--- spdProfileSectionUser.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdProfileSectionUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdProfileSectionUser]
GO

CREATE PROCEDURE [dbo].[spdProfileSectionUser]
	@UserId uniqueidentifier,
	@ProfileId uniqueidentifier,
	@ProfileSectionId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    DELETE FROM 
		[ProfileSectionUser] 
	WHERE
		[UserId] = @UserId AND
		[ProfileId] = @ProfileId AND
		[ProfileSectionId] = @ProfileSectionId
	
END

GO
GRANT EXECUTE ON [dbo].[spdProfileSectionUser] TO [VLAProfilesUser]
GO
