----------------------------------------------------------------------------------------------------------
--- spdProfileContributor.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdProfileContributor]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdProfileContributor]
GO

CREATE PROCEDURE [dbo].[spdProfileContributor]
	@UserId uniqueidentifier,
	@ProfileId uniqueidentifier,
	@LastUpdated timestamp
AS
BEGIN
	SET NOCOUNT ON;

	IF NOT EXISTS (	SELECT 
						[Id] 
					FROM 
						[User]
					WHERE
						[Id] = @UserId AND
						[LastUpdated] = @LastUpdated )
	BEGIN
		RAISERROR('The user has been edited by another user', 16, 1)
		RETURN
	END

	DELETE FROM
		[ProfileSectionUser]
	WHERE
		[UserId] = @UserId AND
		[ProfileId] = @ProfileId

	DELETE FROM 
		[ProfileUser]
	WHERE 
		[UserId] = @UserId AND 
		[ProfileId] = @ProfileId

END

GO
GRANT EXECUTE ON [dbo].[spdProfileContributor] TO [VLAProfilesUser]
GO
