-------------------------------------------------------------------------------------------------------
--- spdProfileVersionSpecies.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdProfileVersionSpecies]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdProfileVersionSpecies]
GO

CREATE PROCEDURE [dbo].[spdProfileVersionSpecies]
	@ProfileVersionId uniqueidentifier,
	@SpeciesId uniqueidentifier
AS
BEGIN

		SET NOCOUNT ON;

		-- delete per-species field values
		DELETE
			[ProfileVersionFieldValue]
		WHERE
			[ProfileVersionId] = @ProfileVersionId AND
			[SpeciesId] = @SpeciesId	
 
		--delete from prioritisation tables
		DELETE
			[ProfileVersionSpeciesPrioritisation]
		FROM
			[ProfileVersionSpeciesPrioritisation] INNER JOIN [ProfileVersionPrioritisedSpecies] ON [ProfileVersionSpeciesPrioritisation].[ProfileVersionId] = [ProfileVersionPrioritisedSpecies].[ProfileVersionId] AND [ProfileVersionSpeciesPrioritisation].[SpeciesId] = [ProfileVersionPrioritisedSpecies].[SpeciesId]
		WHERE
			[ProfileVersionSpeciesPrioritisation].[ProfileVersionId] = @ProfileVersionId AND
			[ProfileVersionPrioritisedSpecies].[AffectedSpeciesId] = @SpeciesId

		DELETE
			[ProfileVersionPrioritisedSpecies]
		WHERE
			[ProfileVersionPrioritisedSpecies].[ProfileVersionId] = @ProfileVersionId AND
			[ProfileVersionPrioritisedSpecies].[AffectedSpeciesId] = @SpeciesId
	  
		--delete the row in the link table to indicate that this species is affected for this profile version
		DELETE 
			[ProfileVersionSpecies]
		WHERE
			[ProfileVersionId] = @ProfileVersionId AND
			[SpeciesId] = @SpeciesId

 END

GO
GRANT EXECUTE ON [dbo].[spdProfileVersionSpecies] TO [VLAProfilesUser]
GO
