--------------------------------------------------------------------------------------------------------
--- spdProfileVersionNoteQuestion.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdProfileVersionNoteQuestion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdProfileVersionNoteQuestion]
GO

CREATE PROCEDURE [dbo].[spdProfileVersionNoteQuestion]
	@ProfileVersionNoteId uniqueidentifier,
	@ProfileQuestionId uniqueidentifier,
	@ProfileSectionId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM 
		[ProfileVersionNoteQuestion]
	WHERE
		[ProfileVersionNoteQuestion].[ProfileVersionNoteId] = @ProfileVersionNoteId AND
		[ProfileVersionNoteQuestion].[ProfileQuestionId] = @ProfileQuestionId AND
		[ProfileVersionNoteQuestion].[ProfileSectionId] = @ProfileSectionId
	
END

GO
GRANT EXECUTE ON [dbo].[spdProfileVersionNoteQuestion] TO [VLAProfilesUser]
GO
