-------------------------------------------------------------------------------------------------------
--- spdProfileVersionNote.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdProfileVersionNote]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdProfileVersionNote]
GO

CREATE PROCEDURE [dbo].[spdProfileVersionNote]
	@Id uniqueidentifier,
	@LastUpdated timestamp
AS
BEGIN

	SET NOCOUNT ON;

	IF NOT EXISTS (
		SELECT
			[Id] 
		FROM
			[ProfileVersionNote]
		WHERE
			[Id] = @Id AND 
			[LastUpdated] = @LastUpdated
	) BEGIN
		RAISERROR('The reference has been edited by another user',16,1)
		RETURN
	END

	DELETE FROM
		[ProfileVersionNoteQuestion]
	WHERE
		[ProfileVersionNoteId] = @Id 	

	DELETE FROM 
		[ProfileVersionNote]
	WHERE
		[Id] = @Id AND
		[LastUpdated] = @LastUpdated


END

GO
GRANT EXECUTE ON [dbo].[spdProfileVersionNote] TO [VLAProfilesUser]
GO
