---------------------------------------------------------------------------------------------------------
--- spdProfileVersion.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdProfileVersion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdProfileVersion]
GO

CREATE PROCEDURE [dbo].[spdProfileVersion]
	@ProfileVersionId uniqueidentifier,
	@NextLatestProfileVersionId uniqueidentifier OUTPUT,
	@ProfileDeleted bit OUTPUT
AS  
BEGIN

		SET NOCOUNT ON;

		DECLARE @ProfileId uniqueidentifier
		DECLARE @VersionMajor tinyint
		DECLARE @EffectiveDateTo smalldatetime
		DECLARE @StateName varchar(50)
		DECLARE @ProfileVersionCount int
		DECLARE @ParentProfileCount int

		SELECT
			@ProfileId = [ProfileVersion].[ProfileId],
			@VersionMajor = [ProfileVersion].[VersionMajor],
			@EffectiveDateTo = [ProfileVersion].[EffectiveDateTo],
			@StateName = [luProfileVersionState].[Name]
		FROM
			[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
		WHERE
			[ProfileVersion].[Id] = @ProfileVersionId

		IF @EffectiveDateTo IS NOT NULL BEGIN
			RAISERROR('You cannot delete this profile version because it is not current', 16, 1)
			RETURN
		END

		IF @StateName != 'Draft' BEGIN
			RAISERROR('You cannot delete this profile version because it is not draft', 16, 1)
			RETURN
		END

		-- check that we are not trying to delete the last profile version of a profile that has scenarios
		SELECT
			@ProfileVersionCount = COUNT(*)
		FROM
			[ProfileVersion]
		WHERE
			[ProfileId] = @ProfileId

		SELECT
			@ParentProfileCount = COUNT(*)
		FROM
			[Profile]
		WHERE
			[ParentId] = @ProfileId

		IF @ProfileVersionCount = 1 AND @ParentProfileCount > 0 BEGIN
			RAISERROR('You cannot delete this profile because it has associated "what-if" scenarios. Delete them before deleting this profile.', 16, 1)
			RETURN
		END

		-- Get the ID of the next latest profile version
		SELECT
			@NextLatestProfileVersionId = [ProfileVersion].[Id]
		FROM
			[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
		WHERE
			[luProfileVersionState].[Name] = 'Draft' AND
			[ProfileVersion].[ProfileId] = @ProfileId AND
			[ProfileVersion].[VersionMajor] = @VersionMajor AND
			[ProfileVersion].[VersionMinor] = (
				SELECT
					MAX([VersionMinor])
				FROM
					[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
				WHERE
					[luProfileVersionState].[Name] = 'Draft' AND
					[ProfileId] = @ProfileId AND
					[VersionMajor] = @VersionMajor AND
					[EffectiveDateTo] IS NOT NULL
				)

		DELETE
			[ProfileVersionFieldValue]
		WHERE
			[ProfileVersionId] = @ProfileVersionId   

		DELETE
			[ProfileVersionQuestionRow]
		WHERE
			[ProfileVersionId] = @ProfileVersionId

		DELETE
			[ProfileVersionNoteQuestion]
		WHERE
			[ProfileVersionNoteQuestion].[ProfileVersionNoteId] IN
				(
				SELECT
					[Id]
				FROM
					[ProfileVersionNote]
				WHERE
					[ProfileVersionId] = @ProfileVersionId
				)

		DELETE
			[ProfileVersionNote]
		WHERE
			[ProfileVersionId] = @ProfileVersionId

		DELETE
			[ReviewComment]
		WHERE
			[ProfileVersionId] = @ProfileVersionId

		DELETE
			[ProfileVersionSectionUser]
		WHERE
			[ProfileVersionId] = @ProfileVersionId

		DELETE
			[ProfileVersionSection]
		WHERE
			[ProfileVersionId] = @ProfileVersionId

		--delete prioritisation scores for this profile version
		DELETE FROM
			[PrioritisationScore]
		WHERE
			[ProfileVersionId] = @ProfileVersionId

		--delete profile reports for this profile version
		DELETE FROM
			[ProfileVersionReport]
		WHERE
			[ProfileVersionId] = @ProfileVersionId

		--delete the rows in the link table for the affected species in this profile version
		DELETE FROM
			[ProfileVersionSpecies]
		WHERE
			[ProfileVersionId] = @ProfileVersionId

		--delete the row in the profile version table
		DELETE FROM
			[ProfileVersion]
		WHERE
			[Id] = @ProfileVersionId

	  -- change the current draft version
	  IF @NextLatestProfileVersionId IS NOT NULL BEGIN
		  UPDATE
			[ProfileVersion]
		  SET
			[EffectiveDateTo] = NULL
		  WHERE
			[Id] = @NextLatestProfileVersionId
	  END

	  SET @ProfileDeleted = 0

	  -- if there are no profile versions left in this profile, remove the profile
	  IF NOT EXISTS (SELECT * FROM [ProfileVersion] WHERE [ProfileId] = @ProfileId) BEGIN

		  DELETE
			[ProfileSectionUser]
		  WHERE
			[ProfileId] = @ProfileId

		  DELETE
			[ProfileUser]
		  WHERE
			[ProfileId] = @ProfileId

		  DELETE
			[Profile]
		  WHERE
			[Id] = @ProfileId

		  SET @ProfileDeleted = 1

		END

END

GO
GRANT EXECUTE ON [dbo].[spdProfileVersion] TO [VLAProfilesUser]
GO
