-------------------------------------------------------------------------------------------------------
--- spdProfileVersionFieldMultiValue.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdProfileVersionFieldMultiValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdProfileVersionFieldMultiValue]
GO

CREATE PROCEDURE spdProfileVersionFieldMultiValue
	@ProfileVersionId uniqueidentifier,
	@ProfileFieldId uniqueidentifier,
	@SpeciesId uniqueidentifier = NULL,
	@ProfileVersionQuestionRowId uniqueidentifier = NULL
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @EmptyGuid uniqueidentifier
	SET @EmptyGuid = '00000000-0000-0000-0000-000000000000'

    DELETE
	FROM
		[ProfileVersionFieldValue]
	WHERE
		[ProfileVersionId] = @ProfileVersionId AND
		[ProfileFieldId] = @ProfileFieldId AND
		ISNULL([SpeciesId], @EmptyGuid) = ISNULL(@SpeciesId, @EmptyGuid) AND
		ISNULL([ProfileVersionQuestionRowId], @EmptyGuid) = ISNULL(@ProfileVersionQuestionRowId, @EmptyGuid)
END

GO
GRANT EXECUTE ON [dbo].[spdProfileVersionFieldMultiValue] TO [VLAProfilesUser]
GO
