------------------------------------------------------------------------------------------------------
--- spdReviewComment.SQL
------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdReviewComment]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdReviewComment]
GO

CREATE PROCEDURE spdReviewComment
	@Id uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

    DELETE
		[ReviewComment]
	WHERE
		[Id] = @Id
END

GO
GRANT EXECUTE ON [dbo].[spdReviewComment] TO [VLAProfilesUser]
GO
