-------------------------------------------------------------------------------------------------------
--- spdReviewCommentsByProfileSection.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdReviewCommentsByProfileSection]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdReviewCommentsByProfileSection]
GO

CREATE PROCEDURE [dbo].[spdReviewCommentsByProfileSection]
	@ProfileVersionId uniqueidentifier,
	@ProfileSectionId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @currentId uniqueidentifier

	BEGIN TRANSACTION

	DECLARE DeleteCursor CURSOR FOR
	WITH ReviewCommentHierarchy (Id, HierarchyLevel) AS
	(
	   SELECT 
		[Id],
		1 as [HierarchyLevel]
	   FROM 
		[dbo].[ReviewComment]
	   WHERE 
		[ParentId] IS NULL AND
		[ProfileVersionId] = @ProfileVersionId AND
		[ProfileSectionId] = @ProfileSectionId
			 
	   UNION ALL

	   SELECT
		  rc.[Id],
		  rch.[HierarchyLevel] + 1 AS [HierarchyLevel]
	   FROM [ReviewComment] rc
		  INNER JOIN [ReviewCommentHierarchy] rch ON
			 rc.[ParentId] = rch.[Id]
	)

	SELECT [Id]
	FROM [ReviewCommentHierarchy]
	ORDER BY [HierarchyLevel] DESC

	OPEN DeleteCursor

	FETCH NEXT FROM DeleteCursor
	INTO @currentId

	WHILE @@FETCH_STATUS = 0
	BEGIN

	DELETE FROM 
		[dbo].[ReviewComment]
	WHERE
		[Id]=@currentId


	FETCH NEXT FROM DeleteCursor
	INTO @currentId

	END

	IF @@ERROR <> 0
	BEGIN
    -- Rollback the transaction
    ROLLBACK

    -- Raise an error and return
    RAISERROR ('Error deleting review comments.', 16, 1)
    RETURN
 END

	COMMIT TRANSACTION

	CLOSE DeleteCursor
	DEALLOCATE DeleteCursor

END

GO
GRANT EXECUTE ON [dbo].[spdReviewCommentsByProfileSection] TO [VLAProfilesUser]
GO
