---------------------------------------------------------------------------------------------------------
--- spdSsoUser.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdSsoUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdSsoUser]
GO

CREATE PROCEDURE [dbo].[spdSsoUser]
	@SsoUserId uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;
	
	IF EXISTS
		(
			SELECT [UserId] 
			FROM [dbo].[ProfileVersionSectionUser] 
				INNER JOIN [dbo].[User] ON [User].[Id] = [ProfileVersionSectionUser].[UserId]
			WHERE [User].[SsoUserId] = @SsoUserId
		)
	BEGIN
		RETURN
	END

		IF EXISTS
		(
			SELECT [UserId] 
			FROM [dbo].[ReviewComment] 
				INNER JOIN [dbo].[User] ON [User].[Id] = [ReviewComment].[UserId]
			WHERE [User].[SsoUserId] = @SsoUserId
		)
	BEGIN
		RETURN
	END
		
	IF EXISTS
		(
			SELECT [UserId] 
			FROM [dbo].[ReferenceTableAuditLog] 
				INNER JOIN [dbo].[User] ON [User].[Id] = [ReferenceTableAuditLog].[UserId]
			WHERE [User].[SsoUserId] = @SsoUserId
		)
	BEGIN
		RETURN
	END
		
	IF EXISTS
		(
			SELECT [UserId] 
			FROM [dbo].[SpeciesTableAuditLog] 
				INNER JOIN [dbo].[User] ON [User].[Id] = [SpeciesTableAuditLog].[UserId]
			WHERE [User].[SsoUserId] = @SsoUserId
		)
	BEGIN
		RETURN
	END

	BEGIN TRANSACTION

		DELETE [dbo].[ProfileSectionUser] FROM 
			[dbo].[ProfileSectionUser]
			INNER JOIN [dbo].[User] ON [User].[Id] = [ProfileSectionUser].[UserId]
		WHERE
			[User].[SsoUserId] = @SsoUserId

		DELETE [dbo].[ProfileUser] FROM 
			[dbo].[ProfileUser] 
			INNER JOIN [dbo].[User] ON [User].[Id] = [ProfileUser].[UserId]
		WHERE
			[User].[SsoUserId] = @SsoUserId

		DELETE FROM 
			[dbo].[User] 
		WHERE 
			[SsoUserId] = @SsoUserId
	
	IF @@ERROR <> 0
	BEGIN
		-- Rollback the transaction
		ROLLBACK TRANSACTION

		-- Raise an error and return
		RAISERROR ('Error deleting user.', 16, 1)
		RETURN
	END
	
	COMMIT TRANSACTION

END

GO
GRANT EXECUTE ON [dbo].[spdSsoUser] TO [VLAProfilesUser]
GO
