---------------------------------------------------------------------------------------------------------
--- spdStaticReportVersion.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdStaticReportVersion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdStaticReportVersion]
GO

CREATE PROCEDURE [dbo].[spdStaticReportVersion]
	@StaticReportVersionId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @StaticReportId uniqueidentifier
	DECLARE @EffectiveDateTo smalldatetime
	DECLARE @NextLatestStaticReportVersionId uniqueidentifier

    SELECT
		@StaticReportId = [StaticReportId],
		@EffectiveDateTo = [EffectiveDateTo]
	FROM
		[StaticReportVersion]
	WHERE
		[Id] = @StaticReportVersionId

	IF @EffectiveDateTo IS NOT NULL BEGIN
		RAISERROR('You cannot delete this static report version because it is not current', 16, 1)
		RETURN
    END

	-- remove the selected static report version
    DELETE FROM
		[StaticReportVersion]
    WHERE
		[Id] = @StaticReportVersionId

	SELECT
		@NextLatestStaticReportVersionId = [Id]
    FROM
		[StaticReportVersion]
    WHERE
		[StaticReportId] = @StaticReportId AND
		[VersionMajor] = (
			SELECT
				MAX([VersionMajor])
			FROM
				[StaticReportVersion]    
			WHERE
				[StaticReportId] = @StaticReportId
			)

	-- set the previous static report version to be current
    IF @NextLatestStaticReportVersionId IS NOT NULL BEGIN
		UPDATE
			[StaticReportVersion]
		SET
			[EffectiveDateTo] = NULL
		WHERE
			[Id] = @NextLatestStaticReportVersionId
    END

	-- if there are no versions left for this static report,
	-- remove the entry from the StaticReport table
    IF NOT EXISTS (SELECT * FROM [StaticReportVersion] WHERE [StaticReportId] = @StaticReportId) BEGIN
    
		DELETE FROM
			[StaticReport]
		WHERE
			[Id] = @StaticReportId
	END
    
END

GO
GRANT EXECUTE ON [dbo].[spdStaticReportVersion] TO [VLAProfilesUser]
GO
