--------------------------------------------------------------------------------------------------------
--- spdSpeciesFieldMultiValue.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdSpeciesFieldMultiValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdSpeciesFieldMultiValue]
GO

CREATE PROCEDURE [dbo].[spdSpeciesFieldMultiValue]
	@SpeciesId uniqueidentifier,
	@SpeciesFieldId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

    DELETE
	FROM
		[SpeciesFieldValue]
	WHERE
		[SpeciesId] = @SpeciesId AND
		[SpeciesFieldId] = @SpeciesFieldId
END

GO
GRANT EXECUTE ON [dbo].[spdSpeciesFieldMultiValue] TO [VLAProfilesUser]
GO