-------------------------------------------------------------------------------------------------------
--- spdSpellCustomWord.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spdSpellCustomWord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spdSpellCustomWord]
GO

CREATE PROCEDURE [dbo].[spdSpellCustomWord]
	@Id uniqueidentifier,
	@Word varchar(255)
AS
BEGIN
	SET NOCOUNT ON;

    DELETE FROM 
		[dbo].[SpellCustomWord]	
	WHERE	
		[Id] = @Id	

END

GO
GRANT EXECUTE ON [dbo].[spdSpellCustomWord] TO [VLAProfilesUser]
GO
