--------------------------------------------------------------------------------------------------------
--- spgCurrentPublicProfileByParent.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgCurrentPublicProfileByParent]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgCurrentPublicProfileByParent]
GO

CREATE PROCEDURE [dbo].[spgCurrentPublicProfileByParent] 
	@ParentProfileId uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @EmptyGuid As uniqueidentifier
	SET @EmptyGuid = '00000000-0000-0000-0000-000000000000'

	DECLARE @DateNow smalldatetime
	SET @DateNow = DATEADD(mi, 1, GETDATE());

	WITH [RelevantScenarioCounts] ([ParentId]) AS
	(
	SELECT
		[Profile].[ParentId]
	FROM
		[dbo].[Profile]
		INNER JOIN [dbo].[ProfileVersion] ON [Profile].[Id]=[ProfileVersion].[ProfileId]
	WHERE
		[IsPublic]=1 AND
		[ParentId] IS NOT NULL
	GROUP BY
		[Profile].[ParentId]
	)

	SELECT
		[ProfileVersion].[Id],
		[ProfileVersion].[ProfileId],
		[ProfileVersion].[Title],
		[ProfileVersion].[VersionMajor],
		[ProfileVersion].[VersionMinor],
		[luProfileVersionState].[Name],
		[ProfileVersion].[EffectiveDateFrom],
		[ProfileVersion].[EffectiveDateTo],
		CAST(CASE WHEN [ProfileVersion].[VersionMajor] = tempVersion.VersionMajor AND [ProfileVersion].[VersionMinor] = tempVersion.VersionMinor THEN 1 ELSE 0 END AS bit) AS IsLatestVersion,
		[ProfileVersion].[ScenarioTitle],
		[Profile].[ParentId],
		[ProfileVersion].[IsPublic],
		CAST(CASE WHEN [RelevantScenarioCounts].[ParentId] IS NULL THEN 0 ELSE 1 END AS bit) AS [HasRelevantPublicScenarios],
		[Profile].[ProfileStatusId],
		[luProfileStatusType].[Name] 
	FROM
		[ProfileVersion]  INNER JOIN
		(SELECT ProfileId, MAX(VersionMajor) AS VersionMajor, MAX(VersionMinor) AS VersionMinor FROM [ProfileVersion] WHERE [EffectiveDateTo] IS NULL GROUP BY [ProfileId]
		) tempVersion ON [ProfileVersion].[ProfileId] = tempVersion.ProfileId
		INNER JOIN
		(SELECT ProfileId, MAX(VersionMajor) AS VersionMajor, MAX(VersionMinor) AS VersionMinor FROM [ProfileVersion] WHERE [IsPublic]=1 GROUP BY [ProfileId]
		) tempPublicVersion ON [ProfileVersion].[ProfileId] = tempPublicVersion.ProfileId
		INNER JOIN [luProfileVersionState] 
		ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
		INNER JOIN [Profile] ON [Profile].[Id] = [ProfileVersion].[ProfileId]
		LEFT JOIN [RelevantScenarioCounts] ON [RelevantScenarioCounts].[ParentId] = [Profile].[Id]	
		LEFT JOIN [luProfileStatusType] ON [luProfileStatusType].[Id] = [Profile].[ProfileStatusId]	
	WHERE
		([ProfileVersion].[EffectiveDateTo] IS NULL OR CAST(CASE WHEN [ProfileVersion].[VersionMajor] = tempPublicVersion.VersionMajor AND [ProfileVersion].[VersionMinor] = tempPublicVersion.VersionMinor THEN 1 ELSE 0 END AS bit)=1) AND
		[luProfileVersionState].[Name] = 'Published' AND
		[IsPublic] = 1 AND
		ISNULL([Profile].[ParentId],@EmptyGuid) = ISNULL(@ParentProfileId,@EmptyGuid)
	ORDER BY
		[ProfileVersion].[Title]

	SELECT
		[ProfileVersion].[Id],
		[Species].[Name],
		[luAffectedSpeciesType].[Name] AS [AffectedSpeciesType],
		CAST(CASE WHEN [Species].[EffectiveDateTo] IS NULL THEN 1 WHEN @DateNow BETWEEN [Species].[EffectiveDateFrom] AND [Species].[EffectiveDateTo] THEN 1 ELSE 0 END AS bit) AS [IsActive]
	FROM
		[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
		INNER JOIN [ProfileVersionSpecies] ON [ProfileVersion].[Id] = [ProfileVersionSpecies].[ProfileVersionId]
		INNER JOIN [Species] ON [ProfileVersionSpecies].[SpeciesId] = [Species].[Id]
		INNER JOIN [luAffectedSpeciesType] ON [ProfileVersionSpecies].[AffectedSpeciesTypeId] = [luAffectedSpeciesType].[Id]
		INNER JOIN [Profile] ON [Profile].[Id] = [ProfileVersion].[ProfileId]
	WHERE
		[ProfileVersion].[EffectiveDateTo] IS NULL AND
		[luProfileVersionState].[Name] = 'Published' AND
		[IsPublic] = 1 AND
		[Profile].[ParentId] = @ParentProfileId
	ORDER BY
		[Species].[Name]

END

GO
GRANT EXECUTE ON [dbo].[spgCurrentPublicProfileByParent] TO [VLAProfilesUser] AS [dbo]
GO
