--------------------------------------------------------------------------------------------------------
--- spgContributor.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgContributor]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgContributor]
GO

CREATE PROCEDURE [dbo].[spgContributor]
	@UserId uniqueidentifier,
	@ProfileId uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

IF EXISTS 
		(
		SELECT  
				[UserId]
		FROM    
				[ProfileUser]
		WHERE     
				(
				[UserId] = @UserId
				) 
				AND 
				(
				[ProfileId] = @ProfileId
				)
		)
	BEGIN

		SELECT     
				[User].[Id], 
				[User].[UserName],
				[User].[FullName],
				[User].[Organisation], 
				[ProfileUser].[ProfileUserRoleId], 
				[luProfileUserRole].[Name], 
				[luProfileUserRole].[IsContributor],
				[User].[SsoUserId],
				[User].[LastUpdated]
		FROM     
				[User] INNER JOIN [ProfileUser] ON [User].[Id] = [ProfileUser].[UserId] INNER JOIN
				[luProfileUserRole] ON [ProfileUser].[ProfileUserRoleId] = [luProfileUserRole].[Id]
		WHERE
				[User].[Id] = @UserId AND [ProfileUser].[ProfileId] = @ProfileId


		SELECT
				[ProfileSectionId]
		FROM
				[ProfileSectionUser]
		WHERE
				(
				[UserId] = @UserId
				) 
				AND 
				(
				[ProfileId] = @ProfileId
				)

	END
	
ELSE
	BEGIN
		SELECT     
				[User].[Id], 
				[User].[UserName],
				[User].[FullName],
				[User].[Organisation], 
				NULL, 
				NULL, 
				NULL, 
				[User].[SsoUserId],
				[User].[LastUpdated]
		FROM     
				[User] 
		WHERE
				[User].[Id] = @UserId

	END

END

GO
GRANT EXECUTE ON [dbo].[spgContributor] TO [VLAProfilesUser]
GO
