----------------------------------------------------------------------------------------------------------
--- spgLookupValueByTable.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgLookupValueByTable]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgLookupValueByTable]
GO

CREATE PROCEDURE spgLookupValueByTable
	@ReferenceTableId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		[ReferenceValue].[Id],
		[ReferenceValue].[LookupValue]
	FROM
		[ReferenceValue]
	WHERE
		[ReferenceValue].[ReferenceTableId] = @ReferenceTableId
	ORDER BY
		[SequenceNumber]
END

GO
GRANT EXECUTE ON [dbo].[spgLookupValueByTable] TO [VLAProfilesUser]
GO
