---------------------------------------------------------------------------------------------------------
--- spgMaintainableReferenceTables.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgMaintainableReferenceTables]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgMaintainableReferenceTables]
GO

CREATE PROCEDURE spgMaintainableReferenceTables 

AS
BEGIN
	SET NOCOUNT ON;

	SELECT		
		[Id], 
		[Name]
	FROM         
		[ReferenceTable]
	WHERE     
		(
		[IsMaintainable] = 1
		)
END

GO
GRANT EXECUTE ON [dbo].[spgMaintainableReferenceTables] TO [VLAProfilesUser]
GO
