--------------------------------------------------------------------------------------------------------
--- spgPrioritisationCategoryScoreByProfileVersionId.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgPrioritisationCategoryScoreByProfileVersionId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgPrioritisationCategoryScoreByProfileVersionId]
GO
 
CREATE PROCEDURE [dbo].[spgPrioritisationCategoryScoreByProfileVersionId]
	@ProfileVersionId uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

    	SELECT
		[PrioritisationCategory].[Id],
		[PrioritisationCategory].[Name],
		[Species].[Id],
		[Species].[Name],
		CAST(CASE WHEN [PrioritisationScore].[Score] IS NULL THEN 1 ELSE 0 END AS bit) AS [DataIncomplete],
		[PrioritisationScore].[Score],
		[PrioritisationScore].[Rank],
		ISNULL([pvs].[IsProfiledSpecies], 0) As IsProfiledSpecies		
	FROM
		[PrioritisationCategory] INNER JOIN [PrioritisationScore] ON [PrioritisationScore].[PrioritisationCategoryId] = [PrioritisationCategory].[Id]
		INNER JOIN [Species] ON [PrioritisationScore].[SpeciesId] = [Species].[Id]
		LEFT JOIN 
		(
		SELECT			
			[ProfileVersionSpecies].[SpeciesId],
			CAST(CASE WHEN [luAffectedSpeciesType].[Name] = 'Profiled' THEN 1 ELSE 0 END as bit) as [IsProfiledSpecies]
		FROM
			[ProfileVersionSpecies] 
			INNER JOIN [luAffectedSpeciesType] ON [ProfileVersionSpecies].[AffectedSpeciesTypeId] = [luAffectedSpeciesType].[Id]
		WHERE 
			[ProfileVersionSpecies].[ProfileVersionId] = @ProfileVersionId
		) [pvs]		
		ON [Species].[Id] = [pvs].[SpeciesId]
	WHERE
		[PrioritisationScore].[ProfileVersionId] = @ProfileVersionId AND
		[PrioritisationCategory].[IsVisibleOnSPR] = 1
	ORDER BY
		[PrioritisationCategory].[Id],
		[Species].[Name]


END

GO
GRANT EXECUTE ON [dbo].[spgPrioritisationCategoryScoreByProfileVersionId] TO [VLAProfilesUser]
GO
