--------------------------------------------------------------------------------------------------------
--- spgProfileMetadata.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileMetadata]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileMetadata]
GO

CREATE PROCEDURE [dbo].[spgProfileMetadata]
	
AS
BEGIN
	SET NOCOUNT ON;

    -- query to list reference tables
SELECT
	[Id],
	REPLACE([Name], ' ', '') AS [Name],
	[IsMaintainable]
FROM
	[ReferenceTable]
FOR XML AUTO

-- query to list reference values
SELECT
	[ReferenceValue].[Id],
	REPLACE([ReferenceTable].[Name], ' ', '') AS [TableName],
	ISNULL([ReferenceTable].[IsMaintainable], 0) AS [IsMaintainable],
	[ReferenceValue].[LookupValue],
	[ReferenceValue].[SequenceNumber]
FROM
	[ReferenceValue] INNER JOIN [ReferenceTable] ON [ReferenceValue].[ReferenceTableId] = [ReferenceTable].[Id]
FOR XML AUTO

-- query to list species fields
SELECT
	REPLACE([SpeciesField].[ShortName], ' ', '') AS [Name],
	REPLACE([ReferenceTable].[Name], ' ', '') AS [ReferenceTable]
FROM
	[SpeciesField] LEFT JOIN [ReferenceTable] ON [SpeciesField].[ReferenceTableId] = [ReferenceTable].[Id]
FOR XML AUTO

-- query to build profile section/question/field structure
SELECT
	1 AS Tag,
    NULL AS Parent,
	REPLACE([ProfileSection].[ShortName], ' ', '') AS [Section!1!Name],
	NULL AS [Question!2!Id],
	NULL AS [Question!2!Name],
	NULL AS [Question!2!IsPerSpecies],
	NULL AS [Question!2!IsRepeating],
	NULL AS [Question!2!QuestionNumber],
	NULL AS [Field!3!Id],
	NULL AS [Field!3!Name],
	NULL AS [Field!3!Type],
	NULL AS [Field!3!FieldValueColumn],
	NULL AS [Field!3!IsMultiValue],
	NULL AS [Field!3!ReferenceTable],
	NULL AS [Field!3!FieldNumber],
	NULL AS [Field!3!DefaultValue]
FROM
	[ProfileSection]

UNION ALL

SELECT
	2 AS Tag,
	1 AS Parent,
	REPLACE([ProfileSection].[ShortName], ' ', '') AS [Section!1!Name],
	[ProfileQuestion].[Id] AS [Question!2!Id],
	REPLACE([ProfileQuestion].[ShortName], ' ', '') AS [Question!2!Name],
	[ProfileQuestion].[IsPerSpecies] AS [Question!2!IsPerSpecies],
	[ProfileQuestion].[IsRepeating] AS [Question!2!IsRepeating],
	[ProfileQuestion].[QuestionNumber] AS [Question!2!QuestionNumber],
	NULL AS [Field!3!Id],
	NULL AS [Field!3!Name],
	NULL AS [Field!3!Type],
	NULL AS [Field!3!FieldValueColumn],
	NULL AS [Field!3!IsMultiValue],
	NULL AS [Field!3!ReferenceTable],
	NULL AS [Field!3!FieldNumber],
	NULL AS [Field!3!DefaultValue]
FROM
	[ProfileQuestion] INNER JOIN [ProfileSection] ON [ProfileQuestion].[ProfileSectionId] = [ProfileSection].[Id]

UNION ALL

SELECT
	3 AS Tag,
	2 AS Parent,
	REPLACE([ProfileSection].[ShortName], ' ', '') AS [Section!1!Name],
	[ProfileQuestion].[Id] AS [Question!2!Id],
	REPLACE([ProfileQuestion].[ShortName], ' ', '') AS [Question!2!Name],
	NULL AS [Question!2!IsPerSpecies],
	NULL AS [Question!2!IsRepeating],
	[ProfileQuestion].[QuestionNumber] AS [Question!2!QuestionNumber],
	[ProfileField].[Id] AS [Field!3!Id],
	REPLACE([ProfileField].[ShortName], ' ', '') AS [Field!3!Name],
	luDataFieldType.SqlType AS [Field!3!Type],
	luDataFieldType.FieldValueColumn AS [Field!3!FieldValueColumn],
	CASE WHEN [luDataFieldType].[Name] = 'Multi Value List' THEN 1 ELSE 0 END AS [Field!3!IsMultiValue],
	REPLACE([ReferenceTable].[Name], ' ', '') AS [Field!3!ReferenceTable],
	[ProfileField].[FieldNumber] AS [Field!3!FieldNumber],
	[ProfileField].[DefaultValue] AS [Field!3!DefaultValue]
FROM
	[ProfileField] INNER JOIN [ProfileQuestion] ON [ProfileField].[ProfileQuestionId] = [ProfileQuestion].[Id]
	INNER JOIN [ProfileSection] ON [ProfileQuestion].[ProfileSectionId] = [ProfileSection].[Id]
	INNER JOIN [luDataFieldType] ON [ProfileField].[DataFieldTypeId] = [luDataFieldType].[Id]
	LEFT JOIN [ReferenceTable] ON [ProfileField].[ReferenceTableId] = [ReferenceTable].[Id]
WHERE
	[luDataFieldType].[SqlType] IS NOT NULL
ORDER BY
	[Section!1!Name],
	[Question!2!QuestionNumber],
	[Question!2!Name],
	[Field!3!FieldNumber],
	[Field!3!Name]

FOR XML EXPLICIT

END

GO
