---------------------------------------------------------------------------------------------------------
--- spgPrioritisedSpeciesByProfileVersionId.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgPrioritisedSpeciesByProfileVersionId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgPrioritisedSpeciesByProfileVersionId]
GO

CREATE PROCEDURE spgPrioritisedSpeciesByProfileVersionId
	@ProfileVersionId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		[SpeciesId],
		[Name]
	FROM
		[ProfileVersionPrioritisedSpecies] INNER JOIN [Species] ON [ProfileVersionPrioritisedSpecies].[SpeciesId] = [Species].[Id]
	WHERE
		[ProfileVersionPrioritisedSpecies].[ProfileVersionId] = @ProfileVersionId
	ORDER BY
		[Name]
END

GO
GRANT EXECUTE ON [dbo].[spgPrioritisedSpeciesByProfileVersionId] TO [VLAProfilesUser]
GO
