----------------------------------------------------------------------------------------------------------
--- spgPrioritisationCriterionScoreByProfileVersionId.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgPrioritisationCriterionScoreByProfileVersionId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgPrioritisationCriterionScoreByProfileVersionId]
GO

CREATE PROCEDURE [dbo].[spgPrioritisationCriterionScoreByProfileVersionId]
	@ProfileVersionId uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT
		[PrioritisationCategory].[Id],
		[PrioritisationCategory].[Name],
		[PrioritisationCriterion].[Id],
		[PrioritisationCriterion].[Code],
		[PrioritisationCriterion].[Name],
		[Species].[Id],
		[Species].[Name],
		[ProfileVersionSpeciesPrioritisation].[IsMissing],
		CAST(CASE WHEN [PrioritisationCriterionValue].[CriterionValue] IS NULL THEN 1 ELSE 0 END AS bit) AS [IrrelevantCategory],
		ISNULL([PrioritisationCriterionValue].[CriterionValue], CASE WHEN [IsMissing] = 1 THEN 'Data incomplete' ELSE 'Irrelevant category' END) AS [Value],
		CASE WHEN [IsMissing] = 1 THEN NULL ELSE ISNULL([PrioritisationCriterionValue].[Score], 0) END AS [Score],
		[PrioritisationCategory].[DisplayName]
	FROM
		[PrioritisationCriterion] INNER JOIN [PrioritisationCategory] ON [PrioritisationCriterion].[PrioritisationCategoryId] = [PrioritisationCategory].[Id]
		INNER JOIN [ProfileVersionSpeciesPrioritisation] ON [ProfileVersionSpeciesPrioritisation].[PrioritisationCriterionId] = [PrioritisationCriterion].[Id]
		INNER JOIN [Species] ON [ProfileVersionSpeciesPrioritisation].[SpeciesId] = [Species].[Id]
		LEFT JOIN [PrioritisationCriterionValue] ON [ProfileVersionSpeciesPrioritisation].[PrioritisationCriterionValueId] = [PrioritisationCriterionValue].[Id]
	WHERE
		[ProfileVersionSpeciesPrioritisation].[ProfileVersionId] = @ProfileVersionId AND
		[PrioritisationCategory].[IsVisibleOnSPR] = 1
	ORDER BY
		[PrioritisationCategory].[SequenceNumber],
		[PrioritisationCriterion].[Code],
		[Species].[Name]
END

GO
GRANT EXECUTE ON [dbo].[spgPrioritisationCriterionScoreByProfileVersionId] TO [VLAProfilesUser]
GO
