----------------------------------------------------------------------------------------------------------
--- spgProfileQuestion.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileQuestion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileQuestion]
GO

CREATE PROCEDURE [dbo].[spgProfileQuestion]
	@Id uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT
		[ProfileQuestion].[Id],
		[ProfileQuestion].[Name],
		[ProfileQuestion].[ShortName],
		[ProfileQuestion].[QuestionNumber],
		[ProfileQuestion].[UserGuidance],
		[ProfileQuestion].[LastUpdated],
		[ProfileQuestion].[NonTechnicalName]
	FROM
		[ProfileQuestion]
	WHERE
		[ProfileQuestion].[Id] = @Id
END

GO
GRANT EXECUTE ON [dbo].[spgProfileQuestion] TO [VLAProfilesUser]
GO
