--------------------------------------------------------------------------------------------------------
--- spgProfileVersionNoteByType.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileVersionNoteByType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileVersionNoteByType]
GO

CREATE PROCEDURE spgProfileVersionNoteByType
	@ProfileNoteTypeId uniqueidentifier,
	@ProfileVersionId uniqueidentifier	
AS
BEGIN
	SET NOCOUNT ON;
    
	SELECT 
		[ProfileVersionNote].[Id],
		[ProfileVersionNote].[NoteText],
		[ProfileVersionNote].[LastUpdated]
	FROM
		[ProfileVersionNote]
	WHERE
		[ProfileVersionNote].[ProfileNoteTypeId] = @ProfileNoteTypeId AND		
		[ProfileVersionNote].[ProfileVersionId] = @ProfileVersionId 
	ORDER BY 
		[ProfileVersionNote].[NoteText]
		
	SELECT 
		[ProfileVersionNoteQuestion].[ProfileVersionNoteId],
		[ProfileVersionNoteQuestion].[ProfileSectionId],		
		[ProfileVersionNoteQuestion].[ProfileQuestionId]		
	FROM
		[ProfileVersionNoteQuestion] INNER JOIN 
		[ProfileVersionNote] ON	[ProfileVersionNoteQuestion].[ProfileVersionNoteId] = [ProfileVersionNote].[Id]
	WHERE
		[ProfileVersionNote].[ProfileNoteTypeId] = @ProfileNoteTypeId AND		
		[ProfileVersionNote].[ProfileVersionId] = @ProfileVersionId 	
		
	
END

GO
GRANT EXECUTE ON [dbo].[spgProfileVersionNoteByType] TO [VLAProfilesUser]
GO
