------------------------------------------------------------------------------------------------------
--- spgProfileFieldByQuestion.SQL
------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileFieldByQuestion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileFieldByQuestion]
GO

CREATE PROCEDURE [dbo].[spgProfileFieldByQuestion]
	@ProfileQuestionId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		[ProfileField].[Id],
		[ProfileField].[ShortName],
		[ProfileField].[FieldNumber],
		[ProfileField].[DataFieldTypeId],
		[luDataFieldType].[Name] AS [DataTypeName],
		[ProfileField].[IsMandatory],
		[ReferenceTable].[Name] AS [ReferenceTableName]
	FROM
		[ProfileField] INNER JOIN [luDataFieldType] ON [ProfileField].[DataFieldTypeId] = [luDataFieldType].[Id]
		LEFT JOIN [ReferenceTable] ON [ProfileField].[ReferenceTableId] = [ReferenceTable].[Id]
	WHERE
		[ProfileField].[ProfileQuestionId] = @ProfileQuestionId
	ORDER BY
		[ProfileField].[FieldNumber]
END

GO
GRANT EXECUTE ON [dbo].[spgProfileFieldByQuestion] TO [VLAProfilesUser]
GO
