----------------------------------------------------------------------------------------------------------
--- spgProfileVersionSectionUser.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileVersionSectionUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileVersionSectionUser]
GO

CREATE PROCEDURE [dbo].[spgProfileVersionSectionUser]
	@ProfileVersionId uniqueidentifier,
	@ProfileSectionId uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT 
		[ProfileVersionSectionUser].[ProfileVersionId],
		[ProfileVersionSectionUser].[UserId],
		[ProfileVersionSectionUser].[ProfileSectionId],
		[User].[UserName],
		[User].[Organisation],
		[User].[FullName],
		[ProfileVersionSectionUser].[LastContributionDate]
	FROM 
		[ProfileVersionSectionUser] INNER JOIN
		[User] ON [ProfileVersionSectionUser].[UserId] = [User].[Id]
	WHERE
		[ProfileVersionSectionUser].[ProfileVersionId] = @ProfileVersionId AND
		[ProfileVersionSectionUser].[ProfileSectionId] = @ProfileSectionId
	ORDER BY 
		[ProfileVersionSectionUser].[LastContributionDate] DESC


END

GO
GRANT EXECUTE ON [dbo].[spgProfileVersionSectionUser] TO [VLAProfilesUser]
GO
