--------------------------------------------------------------------------------------------------------
--- spgProfileQuestionBySectionId.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileQuestionBySectionId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileQuestionBySectionId]
GO

CREATE PROCEDURE [dbo].[spgProfileQuestionBySectionId]
	@ProfileSectionId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		[Id],
		[Name],
		[QuestionNumber]
	FROM
		[ProfileQuestion]
	WHERE
		[ProfileQuestion].[ProfileSectionId] = @ProfileSectionId
	ORDER BY
		[QuestionNumber]
END

GO
GRANT EXECUTE ON [dbo].[spgProfileQuestionBySectionId] TO [VLAProfilesUser] 
GO
