-----------------------------------------------------------------------------------------------------------
--- spgPrioritisationMetadata.SQL
-----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgPrioritisationMetadata]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgPrioritisationMetadata]
GO

CREATE PROCEDURE [dbo].[spgPrioritisationMetadata]
	
AS
BEGIN
	
SET NOCOUNT ON;

SELECT
	[Id],
	[FieldName],
	[DataType],
	[SqlType],
	[QuestionName],
	[IsPerSpecies],
	[IsRepeating],
	[IsMultiValue],
	[SectionName],
	[ReferenceTableName]
FROM
(
    SELECT
	[ProfileField].[Id],
	REPLACE([ProfileField].[ShortName], ' ', '') AS [FieldName],
	[luDataFieldType].[Name] AS [DataType],
	[luDataFieldType].[SqlType] AS [SqlType],
	REPLACE([ProfileQuestion].[ShortName], ' ', '') AS [QuestionName],
	[ProfileQuestion].[IsPerSpecies],
	[ProfileQuestion].[IsRepeating],
	CASE WHEN [luDataFieldType].[Name] = 'Multi Value List' THEN 1 ELSE 0 END AS [IsMultiValue],
	REPLACE([ProfileSection].[ShortName], ' ', '') AS [SectionName],
	'lu' + REPLACE([ReferenceTable].[Name], ' ', '') AS [ReferenceTableName]
FROM
	[ProfileField] INNER JOIN [luDataFieldType] ON [ProfileField].[DataFieldTypeId] = [luDataFieldType].[Id]
	INNER JOIN [ProfileQuestion] ON [ProfileField].[ProfileQuestionId] = [ProfileQuestion].[Id]
	INNER JOIN [ProfileSection] ON [ProfileQuestion].[ProfileSectionId] = [ProfileSection].[Id]
	LEFT JOIN [ReferenceTable] ON [ProfileField].[ReferenceTableId] = [ReferenceTable].[Id]
) ProfileField
FOR XML AUTO


SELECT
	1 AS Tag,
    NULL AS Parent,
	[PrioritisationCategory].[Id] AS [Category!1!Id],
	REPLACE([PrioritisationCategory].[Name], ' ', '') AS [Category!1!Name],
	NULL AS [Irrelevance!2!Id],
	NULL AS [Irrelevance!2!IrrelevanceFieldId],
	NULL AS [Irrelevance!2!IrrelevanceValueId],
	NULL AS [Irrelevance!2!IrrelevanceFlag],
	NULL AS [Criterion!3!Id],
	NULL AS [Criterion!3!Code],
	NULL AS [Criterion!3!Name],
	NULL AS [Criterion!3!MappingFlag],
	NULL AS [Criterion!3!TrueMapping],
	NULL AS [Criterion!3!FalseMapping]
FROM
	[PrioritisationCategory]

UNION ALL

SELECT
	2 AS Tag,
	1 AS Parent,
	[PrioritisationCategoryId] AS [Category!1!Id],
	NULL AS [Category!1!Name],
	[Id] AS [Irrelevance!2!Id],
	[IrrelevanceFieldId] AS [Irrelevance!2!IrrelevanceFieldId],
	[IrrelevanceValueId] AS [Irrelevance!2!IrrelevanceValueId],
	[IrrelevanceFlag] AS [Irrelevance!2!IrrelevanceFlag],
	NULL AS [Criterion!3!Id],
	NULL AS [Criterion!3!Code],
	NULL AS [Criterion!3!Name],
	NULL AS [Criterion!3!MappingFlag],
	NULL AS [Criterion!3!TrueMapping],
	NULL AS [Criterion!3!FalseMapping]
FROM
	[PrioritisationCategoryIrrelevance]

UNION ALL

SELECT
	3 AS Tag,
	1 AS Parent,
	[PrioritisationCategoryId] AS [Category!1!Id],
	NULL AS [Category!1!Name],
	NULL AS [Irrelevance!2!Id],
	NULL AS [Irrelevance!2!IrrelevanceFieldId],
	NULL AS [Irrelevance!2!IrrelevanceValueId],
	NULL AS [Irrelevance!2!IrrelevanceFlag],
	[Id] AS [Criterion!3!Id],
	[Code] AS [Criterion!3!Code],
	[Name] AS [Criterion!3!Name],
	[MappingFlag] AS [Criterion!3!MappingFlag],
	[TrueMapping] AS [Criterion!3!TrueMapping],
	[FalseMapping] AS [Criterion!3!FalseMapping]
FROM
	[PrioritisationCriterion]

ORDER BY
	[Category!1!Id],
	[Irrelevance!2!Id],
	[Criterion!3!Id]
	

FOR XML EXPLICIT

END

GO