---------------------------------------------------------------------------------------------------------
--- spgProfileVersionNoteBySectionAndType.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileVersionNoteBySectionAndType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileVersionNoteBySectionAndType]
GO

CREATE PROCEDURE [dbo].[spgProfileVersionNoteBySectionAndType]
	@ProfileNoteTypeId uniqueidentifier,
	@ProfileSectionId uniqueidentifier,
	@ProfileVersionId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;
	
	SELECT DISTINCT
		[ProfileVersionNote].[Id],
		[ProfileVersionNote].[NoteText],
		[ProfileVersionNote].[LastUpdated]
	FROM
		[ProfileVersionNote] INNER JOIN ProfileVersionNoteQuestion ON
		[ProfileVersionNote].[Id] = [ProfileVersionNoteQuestion].[ProfileVersionNoteId]
	WHERE
		[ProfileVersionNote].[ProfileNoteTypeId] = @ProfileNoteTypeId AND		
		[ProfileVersionNote].[ProfileVersionId] = @ProfileVersionId AND
		[ProfileVersionNoteQuestion].[ProfileSectionId] = @ProfileSectionId
	ORDER BY
		[ProfileVersionNote].[NoteText]
	
	SELECT 
		[ProfileVersionNoteQuestion].[ProfileVersionNoteId],
		[ProfileVersionNoteQuestion].[ProfileQuestionId]		
	FROM
		[ProfileVersionNoteQuestion] INNER JOIN 
		[ProfileVersionNote] ON	[ProfileVersionNoteQuestion].[ProfileVersionNoteId] = [ProfileVersionNote].[Id]
	WHERE
		[ProfileVersionNote].[ProfileNoteTypeId] = @ProfileNoteTypeId AND
		[ProfileVersionNoteQuestion].[ProfileSectionId] = @ProfileSectionId AND
		[ProfileVersionNote].[ProfileVersionId] = @ProfileVersionId 
			
END

GO
GRANT EXECUTE ON [dbo].[spgProfileVersionNoteBySectionAndType] TO [VLAProfilesUser]
GO
