---------------------------------------------------------------------------------------------------------
--- spgProfile.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfile]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfile]
GO

CREATE PROCEDURE [dbo].[spgProfile]
	@ProfileId uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @CurrentDraftVersionId uniqueidentifier
	DECLARE @CurrentPublishedVersionId uniqueidentifier
	DECLARE @CurrentPublicVersionId uniqueidentifier
	DECLARE @HasPublicScenarios bit
	DECLARE @DateNow smalldatetime

	SET @DateNow = DATEADD(mi, 1, GETDATE()) 

	SELECT
		@CurrentDraftVersionId = [ProfileVersion].[Id]
	FROM
		[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
	WHERE
		[ProfileVersion].[ProfileId] = @ProfileId AND
		[ProfileVersion].[EffectiveDateTo] IS NULL AND
		[luProfileVersionState].[Name] = 'Draft'
	
	SELECT
		@CurrentPublishedVersionId = [ProfileVersion].[Id]
	FROM
		[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
	WHERE
		[ProfileVersion].[ProfileId] = @ProfileId AND
		[ProfileVersion].[EffectiveDateTo] IS NULL AND
		[luProfileVersionState].[Name] = 'Published'

	SELECT
		@CurrentPublicVersionId = [ProfileVersion].[Id]
	FROM
		[dbo].[ProfileVersion]
	WHERE
		[ProfileVersion].[ProfileId] = @ProfileId AND
		([ProfileVersion].[EffectiveDateTo] IS NULL OR
		 [ProfileVersion].[VersionMajor] = (
				SELECT max([VersionMajor]) 
				FROM [dbo].[ProfileVersion]
				WHERE [ProfileId] = @ProfileId AND [IsPublic] = 1)) AND
		[ProfileVersion].[IsPublic] = 1

		
	IF EXISTS 
	(
		SELECT top 1 [IsPublic] FROM [dbo].[ProfileVersion]
		JOIN [dbo].[Profile] ON [ProfileVersion].[ProfileId]=[Profile].[Id]
		WHERE [Profile].[ParentId]=@ProfileId AND 
		[IsPublic]=1
	)
		SET @HasPublicScenarios=1
	ELSE
		SET @HasPublicScenarios=0

	SELECT
		[Profile].[Id],
		[Profile].[Title],
		[Profile].[ScenarioTitle],
		[Profile].[ParentId],
		[ParentProfile].[Title] AS [ParentTitle],
		@CurrentDraftVersionId AS [CurrentDraftProfileVersionId],
		@CurrentPublishedVersionId AS [CurrentPublishedProfileVersionId],
		@CurrentPublicVersionId AS [CurrentPublicVersionId],
		@HasPublicScenarios AS [HasPublicScenarios],
		[Profile].[ProfileStatusId],
		[Profile].[LastUpdated]
	FROM
		[Profile] LEFT JOIN [Profile] AS [ParentProfile] ON [Profile].[ParentId] = [ParentProfile].[Id]
	WHERE
		[Profile].[Id] = @ProfileId

	IF @CurrentDraftVersionId IS NOT NULL BEGIN

		SELECT
			[Species].[Id],
			[Species].[Name],
			[luAffectedSpeciesType].[Name] AS [AffectedSpeciesType],
			CAST(CASE WHEN [EffectiveDateTo] IS NULL THEN 1 WHEN @DateNow BETWEEN [EffectiveDateFrom] AND [EffectiveDateTo] THEN 1 ELSE 0 END AS bit) AS [IsActive]
		FROM
			[ProfileVersionSpecies] INNER JOIN [Species] ON [ProfileVersionSpecies].[SpeciesId] = [Species].[Id]
			INNER JOIN [luAffectedSpeciesType] ON [ProfileVersionSpecies].[AffectedSpeciesTypeId] = [luAffectedSpeciesType].[Id]	
		WHERE
			[ProfileVersionSpecies].[ProfileVersionId] = @CurrentDraftVersionId

	END
END

GO
GRANT EXECUTE ON [dbo].[spgProfile] TO [VLAProfilesUser]
GO
