--------------------------------------------------------------------------------------------------------
--- spgProfileSectionIdByProfileVersionNoteId.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileSectionIdByProfileVersionNoteId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileSectionIdByProfileVersionNoteId]
GO

CREATE PROCEDURE spgProfileSectionIdByProfileVersionNoteId
	@ProfileVersionNoteId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;
    
	SELECT 
		ProfileVersionNoteQuestion.ProfileSectionId,
		ProfileVersionNote.NoteText
	FROM 
		ProfileVersionNoteQuestion INNER JOIN ProfileVersionNote ON
		ProfileVersionNoteQuestion.ProfileVersionNoteId = ProfileVersionNote.Id
	WHERE 
		ProfileVersionNoteQuestion.ProfileVersionNoteId = @ProfileVersionNoteId
	
END

GO
GRANT EXECUTE ON [dbo].[spgProfileSectionIdByProfileVersionNoteId] TO [VLAProfilesUser]
GO
