-------------------------------------------------------------------------------------------------------
--- spgProfileHistory.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileHistory]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileHistory]
GO

CREATE PROCEDURE [dbo].[spgProfileHistory]
	@ProfileId uniqueidentifier,
	@StateName varchar(50),
	@PublicOnly bit
AS
BEGIN

	SET NOCOUNT ON;

	IF ((@StateName = 'Draft') AND (@PublicOnly = 1)) 
	BEGIN
		RAISERROR('No draft profiles that are public',16,1)
		RETURN
	END

	DECLARE @DateNow smalldatetime
	SET @DateNow = DATEADD(mi, 1, GETDATE()) 

    SELECT
		[ProfileVersion].[Id],
		[ProfileVersion].[ProfileId],
		[ProfileVersion].[Title],
		[ProfileVersion].[VersionMajor],
		[ProfileVersion].[VersionMinor],
		[luProfileVersionState].[Name],
		[ProfileVersion].[EffectiveDateFrom],
		[ProfileVersion].[EffectiveDateTo],
		CAST(CASE WHEN [ProfileVersion].[VersionMajor] = tempVersion.VersionMajor AND [ProfileVersion].[VersionMinor] = tempVersion.VersionMinor THEN 1 ELSE 0 END AS bit) AS IsLatestVersion,
		[ProfileVersion].[ScenarioTitle],
		[Profile].[ParentId],
		[ProfileVersion].[IsPublic],
		[Profile].[ProfileStatusId],
		[luProfileStatusType].[Name]
	FROM
		[ProfileVersion] INNER JOIN
		(SELECT ProfileId, MAX(VersionMajor) AS VersionMajor, MAX(VersionMinor) AS VersionMinor FROM [ProfileVersion] WHERE [EffectiveDateTo] IS NULL GROUP BY [ProfileId]
		) tempVersion ON [ProfileVersion].[ProfileId] = tempVersion.ProfileId
		INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
		INNER JOIN [Profile] ON [Profile].[Id] = [ProfileVersion].[ProfileId] 
		LEFT JOIN [luProfileStatusType] ON [luProfileStatusType].[Id] = [Profile].[ProfileStatusId]			
	WHERE
		[ProfileVersion].[ProfileId] = @ProfileId AND
		[luProfileVersionState].[Name] = @StateName AND
		[ProfileVersion].[IsPublic] = (CASE @PublicOnly WHEN 1 THEN 1 ELSE [ProfileVersion].[IsPublic] END)
	ORDER BY
		[ProfileVersion].[VersionMajor] DESC,
		[ProfileVersion].[VersionMinor] DESC

	SELECT
		[ProfileVersion].[Id],
		[Species].[Name],
		[luAffectedSpeciesType].[Name] AS [AffectedSpeciesType],
		CAST(CASE WHEN [Species].[EffectiveDateTo] IS NULL THEN 1 WHEN @DateNow BETWEEN [Species].[EffectiveDateFrom] AND [Species].[EffectiveDateTo] THEN 1 ELSE 0 END AS bit) AS [IsActive]
	FROM
		[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
		INNER JOIN [ProfileVersionSpecies] ON [ProfileVersion].[Id] = [ProfileVersionSpecies].[ProfileVersionId]
		INNER JOIN [Species] ON [ProfileVersionSpecies].[SpeciesId] = [Species].[Id]
		INNER JOIN [luAffectedSpeciesType] ON [ProfileVersionSpecies].[AffectedSpeciesTypeId] = [luAffectedSpeciesType].[Id]	
	WHERE
		[ProfileVersion].[ProfileId] = @ProfileId AND
		[luProfileVersionState].[Name] = @StateName AND
		[ProfileVersion].[IsPublic] = (CASE @PublicOnly WHEN 1 THEN 1 ELSE [ProfileVersion].[IsPublic] END)
	ORDER BY
		[Species].[Name]
END

GO
GRANT EXECUTE ON [dbo].[spgProfileHistory] TO [VLAProfilesUser]
GO
