---------------------------------------------------------------------------------------------------------
--- spgProfileContributorsByProfileId.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileContributorsByProfileId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileContributorsByProfileId]
GO

CREATE PROCEDURE [dbo].[spgProfileContributorsByProfileId] 
	@ProfileId uniqueidentifier
AS
BEGIN

SET NOCOUNT ON;

SELECT     
		[User].[Id], 
		[User].[UserName], 
		[User].[FullName], 
		[User].[Organisation], 
		[ProfileUser].[ProfileUserRoleId], 
		[luProfileUserRole].[Name], 
		[luProfileUserRole].[IsContributor],
		[User].[SsoUserId],
		[User].[LastUpdated]
FROM    
		[ProfileUser] INNER JOIN [User] ON [ProfileUser].[UserId] = [User].[Id] 
		INNER JOIN [luProfileUserRole] ON [ProfileUser].[ProfileUserRoleId] = [luProfileUserRole].[Id]
WHERE   
		[ProfileUser].[ProfileId] = @ProfileId


SELECT 
		[UserId],
		[ProfileSectionId],
		[ReviewEmail]
FROM
		[ProfileSectionUser]
WHERE
		(
			[ProfileId] = @ProfileId
		)


END

GO
GRANT EXECUTE ON [dbo].[spgProfileContributorsByProfileId] TO [VLAProfilesUser]
GO
