-------------------------------------------------------------------------------------------------------
--- spgProfileVersionReportData.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileVersionReportData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileVersionReportData]
GO

CREATE PROCEDURE [spgProfileVersionReportData]
	@ProfileVersionId uniqueidentifier,
	@ProfileReportId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

	SELECT
		[PdfData]
	FROM
		[ProfileVersionReport]
	WHERE
		[ProfileVersionId] = @ProfileVersionId AND
		[ProfileReportId] = @ProfileReportId
END

GO
GRANT EXECUTE ON [dbo].[spgProfileVersionReportData] TO [VLAProfilesUser]
GO
