----------------------------------------------------------------------------------------------------------
--- spgProfileVersionSection.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileVersionSection]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileVersionSection]
GO

CREATE PROCEDURE [dbo].[spgProfileVersionSection] 
	@ProfileVersionId uniqueidentifier,
	@ProfileSectionId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	--Profiled Species
	SELECT
		[Species].[Id],
		[Species].[Name],
		CAST(CASE WHEN [EffectiveDateTo] IS NULL THEN 1 ELSE 0 END AS bit) AS [IsActive]
	FROM
		[Species] INNER JOIN [ProfileVersionSpecies] ON [Species].[Id] = [ProfileVersionSpecies].[SpeciesId]
		INNER JOIN [luAffectedSpeciesType] ON [ProfileVersionSpecies].[AffectedSpeciesTypeId] = [luAffectedSpeciesType].[Id]	
	WHERE
		[ProfileVersionSpecies].[ProfileVersionId] = @ProfileVersionId AND
		[luAffectedSpeciesType].[Name] = 'Profiled'

	--Revision Dates and Timestamp
    SELECT
		[ProfileVersionSection].[ProfileSectionId],
		[ProfileVersionSection].[TechnicalReviewFrequency],
		[ProfileVersionSection].[PolicyReviewFrequency],
		[ProfileVersionSection].[NextTechnicalReview],
		[ProfileVersionSection].[NextPolicyReview],
		[ProfileVersionSection].[LastUpdated],		
		[Profile].[ParentId],
		[ProfileVersionSection].[PolicyReviewStatusId],
		[ProfileVersionSection].[TechnicalReviewStatusId]		
	FROM
		[ProfileVersionSection] INNER JOIN [ProfileSection] ON [ProfileVersionSection].[ProfileSectionId] = [ProfileSection].[Id]
		INNER JOIN [ProfileVersion] ON [ProfileVersionSection].[ProfileVersionId] = [ProfileVersion].[Id]
		INNER JOIN [Profile] ON [ProfileVersion].[ProfileId] = [Profile].[Id]
	WHERE
		[ProfileVersionSection].[ProfileVersionId] = @ProfileVersionId AND
		[ProfileVersionSection].[ProfileSectionId] = @ProfileSectionId

	--Question Names
	SELECT 
		[ProfileQuestion].[Id],
		[ProfileQuestion].[Name],
		[ProfileQuestion].[NonTechnicalName]
	FROM
		[ProfileQuestion] 
	WHERE
		[ProfileQuestion].[ProfileSectionId] = @ProfileSectionId
	ORDER BY
		[ProfileQuestion].[QuestionNumber]

	--Question Rows
	SELECT
		[ProfileVersionQuestionRow].[Id],
		[ProfileVersionQuestionRow].[ProfileQuestionId],
		[ProfileVersionQuestionRow].[SequenceNumber]
	FROM
		[ProfileVersionQuestionRow] INNER JOIN [ProfileQuestion] ON [ProfileVersionQuestionRow].[ProfileQuestionId] = [ProfileQuestion].[Id]
	WHERE
		[ProfileVersionId] = @ProfileVersionId AND
		[ProfileQuestion].[ProfileSectionId] = @ProfileSectionId
	ORDER BY
		[SequenceNumber]

	--Field Values
	SELECT 
		[ProfileVersionFieldValue].[Id],
		[ProfileVersionFieldValue].[SpeciesId],
		[ProfileVersionFieldValue].[ProfileVersionQuestionRowId],
		[ProfileVersionFieldValue].[BooleanValue],
		[ProfileVersionFieldValue].[ListValue],
		[ProfileVersionFieldValue].[DecimalValue],
		[ProfileVersionFieldValue].[DateValue],
		[ProfileVersionFieldValue].[TextValue],
		[ProfileField].[Id],
		'00000000-0000-0000-0000-000000000000',
		[ProfileQuestion].[QuestionNumber],
		[ProfileQuestion].[Id] as QuestionId,
		[ProfileField].[FieldNumber]
	FROM
		[ProfileVersionFieldValue] INNER JOIN
		[ProfileField] ON [ProfileVersionFieldValue].[ProfileFieldId] = [ProfileField].[Id] INNER JOIN
		[ProfileQuestion] ON [ProfileField].[ProfileQuestionId] = [ProfileQuestion].[Id]	
	WHERE 
		[ProfileVersionFieldValue].[ProfileVersionId] = @ProfileVersionId AND
		[ProfileQuestion].[ProfileSectionId] = @ProfileSectionId

	UNION

	SELECT 
		[ProfileVersionFieldValue].[Id],
		[ProfileVersionFieldValue].[SpeciesId],
		[ProfileVersionFieldValue].[ProfileVersionQuestionRowId],
		[ProfileVersionFieldValue].[BooleanValue],
		[ProfileVersionFieldValue].[ListValue],
		[ProfileVersionFieldValue].[DecimalValue],
		[ProfileVersionFieldValue].[DateValue],
		[ProfileVersionFieldValue].[TextValue],
		[ProfileField].[Id],		
		[ProfileField].[ProfileFieldGroupId],
		tmpField.[QuestionNumber] as QuestionNumber,
		tmpField.[QuestionId] as QuestionId,
		[ProfileField].[FieldNumber]
	FROM
		[ProfileVersionFieldValue] INNER JOIN
		[ProfileField] ON [ProfileVersionFieldValue].[ProfileFieldId] = [ProfileField].[Id] INNER JOIN	
		(
		SELECT
			[ProfileField].[Id],
			[ProfileQuestion].[QuestionNumber],
			[ProfileQuestion].[Id] as QuestionId
		FROM 
			[ProfileField] INNER JOIN 
			[ProfileQuestion] ON [ProfileField].[ProfileQuestionId] = [ProfileQuestion].[Id]
		WHERE 
			[ProfileQuestion].[ProfileSectionId] = @ProfileSectionId
		) tmpField ON [ProfileField].[ProfileFieldGroupId] = tmpField.[Id] 
	WHERE
		[ProfileVersionFieldValue].[ProfileVersionId] = @ProfileVersionId 

END

GO
GRANT EXECUTE ON [dbo].[spgProfileVersionSection] TO [VLAProfilesUser]
GO
