--------------------------------------------------------------------------------------------------------
--- spgProfileVersionReportByProfileVersionId.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgProfileVersionReportByProfileVersionId]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgProfileVersionReportByProfileVersionId]
GO

CREATE PROCEDURE [dbo].[spgProfileVersionReportByProfileVersionId]
	@ProfileVersionId uniqueidentifier,
	@IsAuthenticated bit
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @IsWhatIfScenario bit

	IF EXISTS
		(
		SELECT
			[Profile].[Id]
		FROM
			[ProfileVersion] INNER JOIN [Profile] ON [ProfileVersion].[ProfileId] = [Profile].[Id]
		WHERE
			[ProfileVersion].[Id] = @ProfileVersionId AND
			[Profile].[ParentId] IS NOT NULL
		) BEGIN
		SET @IsWhatIfScenario = 1
	END

	SELECT
		[Id],
		[ReportName],
		[DisplayName],
		CAST(CASE WHEN [ProfileVersionId] IS NULL THEN 0 ELSE 1 END AS bit) AS [HasPdfData],
		[FileSize],
		[DisplayPublic]
	FROM
		[luProfileReport] LEFT JOIN
		(
		SELECT
			[ProfileVersionId],
			[ProfileReportId],
			DATALENGTH([PdfData]) AS [FileSize]
		FROM
			[ProfileVersionReport]
		WHERE
			[ProfileVersionId] = @ProfileVersionId
		) tmpProfileVersionReport ON [luProfileReport].[Id] = tmpProfileVersionReport.[ProfileReportId]
	WHERE
		[IncludeInScenarios] = ISNULL(@IsWhatIfScenario, [IncludeInScenarios]) AND
		(
			@IsAuthenticated = 1 OR
			@IsAuthenticated = 0 AND [DisplayPublic] = 1
		)
	ORDER BY
		[SequenceNumber]

END

GO
GRANT EXECUTE ON [dbo].[spgProfileVersionReportByProfileVersionId] TO [VLAProfilesUser]
GO
