--------------------------------------------------------------------------------------------------------
--- spgReferenceTableAudit.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgReferenceTableAudit]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgReferenceTableAudit]
GO

CREATE PROCEDURE [dbo].[spgReferenceTableAudit] 
	@ReferenceTableId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	SELECT     
		[ReferenceTableAuditLog].[Id], 
		[ReferenceTableAuditLog].[OldLookupValue], 
		[ReferenceTableAuditLog].[NewLookupValue], 
		[User].[FullName], 
        [ReferenceTableAuditLog].[EffectiveDate], 
		[ReferenceTableAuditLog].[LogDate], 
		[ReferenceTableAuditLog].[Reason]
	FROM    
		[ReferenceTableAuditLog] INNER JOIN [User] ON [ReferenceTableAuditLog].[UserId] = [User].[Id] 
	WHERE   
		(  
		[ReferenceTableAuditLog].[ReferenceTableId] = @ReferenceTableId
		)
	ORDER BY [ReferenceTableAuditLog].[LogDate] DESC

END

GO
GRANT EXECUTE ON [dbo].[spgReferenceTableAudit] TO [VLAProfilesUser]
GO
