----------------------------------------------------------------------------------------------------------
--- spgReferenceTableName.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgReferenceTableName]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgReferenceTableName]
GO

CREATE PROCEDURE spgReferenceTableName 
	@ReferenceTableId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	SELECT     
		[Name]
	FROM        
		[ReferenceTable]
	WHERE     
		([Id] = @ReferenceTableId)
END

GO
GRANT EXECUTE ON [dbo].[spgReferenceTableName] TO [VLAProfilesUser]
GO
