--------------------------------------------------------------------------------------------------------
--- spgReferenceValue.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgReferenceValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgReferenceValue]
GO

CREATE PROCEDURE [dbo].[spgReferenceValue]
	@ValueId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @ReferenceTableId uniqueidentifier

	SELECT
		@ReferenceTableId = [ReferenceTable].[Id]
	FROM
		[ReferenceTable] INNER JOIN [ReferenceValue] ON [ReferenceTable].[Id] = [ReferenceValue].[ReferenceTableId]
	WHERE
		[ReferenceValue].[Id] = @ValueId AND
		[ReferenceTable].[IsMaintainable] = 1

	IF @ReferenceTableId IS NULL BEGIN
		RAISERROR('The specified reference value does not belong to a maintainable reference table', 16, 1)
		RETURN
	END
		
	SELECT
        [ReferenceValue].[LookupValue],
		CAST(CASE WHEN ISNULL([ListValueCount], 0) > 0 THEN 1 ELSE 0 END AS bit) AS [IsInUse],
        [ReferenceValue].[EffectiveDateFrom],
        [ReferenceValue].[EffectiveDateTo],
		[ReferenceValue].[LastUpdated]
	FROM
		[ReferenceValue]
		LEFT JOIN
			(
			SELECT
				[ListValue] AS [Id],
				COUNT([ListValue]) AS [ListValueCount]
			FROM
				[ProfileVersionFieldValue]
			WHERE
				[ListValue] = @ValueId
			GROUP BY
				[ListValue]
			) [ListValue] ON [ReferenceValue].[Id] = [ListValue].[Id]
	WHERE
		[ReferenceValue].[Id] = @ValueId

END

GO
GRANT EXECUTE ON [dbo].[spgReferenceValue] TO [VLAProfilesUser]
GO
