-------------------------------------------------------------------------------------------------------
--- spgReferenceValueByTable.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgReferenceValueByTable]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgReferenceValueByTable]
GO

CREATE PROCEDURE [dbo].[spgReferenceValueByTable]
	@ReferenceTableId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

	IF NOT EXISTS(
		SELECT
			[Id]	
		FROM
			[ReferenceTable]
		WHERE
			[Id] = @ReferenceTableId AND
			[IsMaintainable] = 1
	) BEGIN
		RAISERROR('The specified reference table does not exist or is not maintainable', 16, 1)
		RETURN
	END

    SELECT
		[ReferenceValue].[Id],
        [ReferenceValue].[LookupValue],
        [ReferenceValue].[EffectiveDateFrom],
        [ReferenceValue].[EffectiveDateTo],
		CAST(CASE WHEN ISNULL([ListValueCount], 0) > 0 THEN 1 ELSE 0 END AS bit) AS [IsInUse],
		CAST(CASE WHEN [ReferenceValue].[EffectiveDateTo] IS NULL THEN 1 ELSE 0 END AS bit) AS [IsActive]
	FROM
		[ReferenceValue]
		LEFT JOIN
			(
			SELECT
				[ListValue] AS [Id],
				COUNT([ListValue]) AS [ListValueCount]
			FROM
				[ProfileVersionFieldValue]
			GROUP BY
				[ListValue]
			) [ListValue] ON [ReferenceValue].[Id] = [ListValue].[Id]
	WHERE
		[ReferenceValue].[ReferenceTableId] = @ReferenceTableId
	ORDER BY
		ISNULL([SequenceNumber], 255),
		[EffectiveDateFrom]

END

GO
GRANT EXECUTE ON [dbo].[spgReferenceValueByTable] TO [VLAProfilesUser]
GO
