----------------------------------------------------------------------------------------------------------
--- spgReviewCommentByProfileVersionSection.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgReviewCommentByProfileVersionSection]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgReviewCommentByProfileVersionSection]
GO

CREATE PROCEDURE [dbo].[spgReviewCommentByProfileVersionSection]
	@ProfileVersionId uniqueidentifier,
	@ProfileSectionId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

	WITH [ReviewCommentList] (
			[Id],
			[CommentDate],
			[Subject],
			[CommentReference],
			[Comment],
			[UserName],
			[FullName],
			[ProfileVersionId],
			[LastUpdated],
			[ParentId],
			[Level],
			[RowCode]
			) AS
	(

	SELECT
		[ReviewComment].[Id],
		[ReviewComment].[CommentDate],
		[ReviewComment].[Subject],
		[ReviewComment].[CommentReference],
		[ReviewComment].[Comment],
		[User].[UserName],
		[User].[FullName],
		@ProfileVersionId as ProfileVersionId,
		[ReviewComment].[LastUpdated],
		[ReviewComment].[ParentId],
		1 AS [Level],
		CONVERT(VARCHAR(1000), RIGHT(SPACE(10) + CONVERT(VARCHAR(10),ROW_NUMBER() OVER (ORDER BY [ReviewComment].[CommentDate] DESC)),10)) AS RowCode
	FROM
		[ReviewComment] INNER JOIN [User] ON [ReviewComment].[UserId] = [User].[Id]
	WHERE
		[ReviewComment].[ProfileVersionId] = @ProfileVersionId AND
		[ReviewComment].[ProfileSectionId] = @ProfileSectionId AND
		[ReviewComment].[ParentId] IS NULL

	UNION ALL

	SELECT
		[ReviewComment].[Id],
		[ReviewComment].[CommentDate],
		[ReviewComment].[Subject],
		[ReviewComment].[CommentReference],
		[ReviewComment].[Comment],
		[User].[UserName],
		[User].[FullName],
		@ProfileVersionId as ProfileVersionId,
		[ReviewComment].[LastUpdated],
		[ReviewComment].[ParentId],
		[ReviewCommentList].[Level] + 1 AS [Level],
		CONVERT(VARCHAR(1000), [ReviewCommentList].[RowCode] + RIGHT(SPACE(10) + CONVERT(VARCHAR(10),ROW_NUMBER() OVER (ORDER BY [ReviewComment].[CommentDate])),10)) AS RowCode
	FROM
		[ReviewComment] INNER JOIN [User] ON [ReviewComment].[UserId] = [User].[Id]
		INNER JOIN [ReviewCommentList] ON [ReviewComment].[ParentId] = [ReviewCommentList].[Id]
	WHERE
		[ReviewComment].[ProfileVersionId] = @ProfileVersionId AND
		[ReviewComment].[ProfileSectionId] = @ProfileSectionId

	)SELECT 
		[ReviewCommentList].[Id],
		[ReviewCommentList].[CommentDate],
		[ReviewCommentList].[Subject],
		[ReviewCommentList].[CommentReference],
		[ReviewCommentList].[Comment],
		[ReviewCommentList].[UserName],
		[ReviewCommentList].[FullName],
		[ReviewCommentList].[ProfileVersionId],
		[ReviewCommentList].[LastUpdated],
		[ReviewCommentList].[ParentId],
		[ReviewCommentList].[Level],
		[ReviewCommentList].[RowCode],
		ISNULL([ReviewCommentChildCount].[ChildCount], 0) AS [ChildCount]
	FROM
		[ReviewCommentList] LEFT JOIN
			(
			SELECT
				[ParentId],
				COUNT([ParentId]) AS [ChildCount]
			FROM
				[ReviewComment]
			WHERE
				[ReviewComment].[ProfileVersionId] = @ProfileVersionId AND
				[ReviewComment].[ProfileSectionId] = @ProfileSectionId
			GROUP BY
				[ParentId]
			) [ReviewCommentChildCount] ON [ReviewCommentList].[Id] = [ReviewCommentChildCount].[ParentId]
	ORDER BY
		[RowCode]

END

GO
GRANT EXECUTE ON [dbo].[spgReviewCommentByProfileVersionSection] TO [VLAProfilesUser]
GO
