---------------------------------------------------------------------------------------------------------
--- spgSpeciesValidParents.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgSpeciesValidParents]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgSpeciesValidParents]
GO

CREATE PROCEDURE [dbo].[spgSpeciesValidParents]
	@SpeciesID uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

SELECT 
	[Species].[Id], 
	[Species].[Name] 
FROM
	[Species] LEFT JOIN dbo.GetChildSpecies(@SpeciesID) tmpChildSpecies ON [Species].[Id] = tmpChildSpecies.Id
WHERE 
	([Species].[EffectiveDateTo] IS NULL OR GETDATE() BETWEEN [Species].[EffectiveDateFrom] AND [Species].[EffectiveDateTo]) AND
	tmpChildSpecies.Id IS NULL
ORDER BY
	[Species].[Name] 
END

GO
GRANT EXECUTE ON [dbo].[spgSpeciesValidParents] TO [VLAProfilesUser]
GO
