---------------------------------------------------------------------------------------------------------
--- spgStaticReportVersionData.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgStaticReportVersionData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgStaticReportVersionData]
GO

CREATE PROCEDURE [dbo].[spgStaticReportVersionData]
	@StaticReportVersionId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		[PdfData],
		[IsPublic],
		[Title]
	FROM
		[StaticReportVersion]
	WHERE
		[Id] = @StaticReportVersionId 
END

GO
GRANT EXECUTE ON [dbo].[spgStaticReportVersionData] TO [VLAProfilesUser]
GO
