--------------------------------------------------------------------------------------------------------
--- spgSpeciesAnswerData.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgSpeciesAnswerData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgSpeciesAnswerData]
GO

CREATE PROCEDURE [dbo].[spgSpeciesAnswerData]
	@SpeciesId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

	--Timestamp
	SELECT
		[LastUpdated],
		[Name],
		@SpeciesId
	FROM
		[Species]
	WHERE
		[Id] = @SpeciesId

	--Species Section Id
	SELECT 
		[SpeciesSection].[Id]
	FROM
		[SpeciesSection]
	ORDER BY
		[SectionNumber]		

	--Field Values
	SELECT
		[SpeciesQuestion].[SpeciesSectionId],	
		[SpeciesFieldValue].[Id],
		[SpeciesFieldValue].[BooleanValue],
		[SpeciesFieldValue].[ListValue],
		[SpeciesFieldValue].[TextValue],
		[SpeciesQuestion].[Id],
		[SpeciesField].[FieldNumber]
	FROM
		[SpeciesFieldValue] INNER JOIN [SpeciesField] ON [SpeciesFieldValue].[SpeciesFieldId] = [SpeciesField].[Id]
		INNER JOIN [SpeciesQuestion] ON [SpeciesField].[SpeciesQuestionId] = [SpeciesQuestion].[Id]
	WHERE
		[SpeciesFieldValue].[SpeciesId] = @SpeciesId 

END

GO
GRANT EXECUTE ON [dbo].[spgSpeciesAnswerData] TO [VLAProfilesUser] 
GO
