---------------------------------------------------------------------------------------------------------
--- spgStaticReportHistory.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgStaticReportHistory]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgStaticReportHistory]
GO

CREATE PROCEDURE [dbo].[spgStaticReportHistory]
	@StaticReportId uniqueidentifier,
	@PublicOnly bit
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		[StaticReportVersion].[Id],
		[StaticReportVersion].[StaticReportId],
		[StaticReportVersion].[Title],
		[StaticReportVersion].[VersionMajor],
		[StaticReportVersion].[EffectiveDateFrom],
		[StaticReportVersion].[EffectiveDateTo],
		[StaticReport].[IsUserManual],
		[StaticReportVersion].[IsPublic],
		DATALENGTH([StaticReportVersion].[PdfData])
	FROM
		[StaticReportVersion] INNER JOIN [StaticReport] ON [StaticReportVersion].[StaticReportId] = [StaticReport].[Id]
	WHERE
		[StaticReportVersion].[StaticReportId] = @StaticReportId AND
		[StaticReportVersion].[IsPublic] = CASE @PublicOnly WHEN 1 THEN 1 ELSE [StaticReportVersion].[IsPublic] END
	ORDER BY
		[StaticReportVersion].[VersionMajor] DESC
END

GO
GRANT EXECUTE ON [dbo].[spgStaticReportHistory] TO [VLAProfilesUser]
GO
