---------------------------------------------------------------------------------------------------------
--- spgSpeciesNameById.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgSpeciesNameById]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgSpeciesNameById]
GO

CREATE PROCEDURE spgSpeciesNameById
	@SpeciesId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @DateNow smalldatetime
	SET @DateNow = GETDATE() 

    SELECT
		[Id],
		[Name],
		CAST(CASE WHEN [EffectiveDateTo] IS NULL THEN 1 WHEN @DateNow BETWEEN [EffectiveDateFrom] AND [EffectiveDateTo] THEN 1 ELSE 0 END AS bit) AS [IsActive]
	FROM
		[Species]
	WHERE
		[Id] = @SpeciesId
END

GO
GRANT EXECUTE ON [dbo].[spgSpeciesNameById] TO [VLAProfilesUser]
GO
