---------------------------------------------------------------------------------------------------------
--- spgUserAuthorisation.SQL
--------------------------------------------------------------------------------------------------------- 

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgUserAuthorisation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgUserAuthorisation]
GO

CREATE PROCEDURE [dbo].[spgUserAuthorisation]
	@UserName varchar(50) = NULL,
	@SsoUserId uniqueidentifier = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @UserId uniqueidentifier
 
	IF @UserName IS NOT NULL BEGIN
		SELECT
			@UserId = [Id]
		FROM
			[User]
		WHERE
			[UserName] = @UserName

	END ELSE BEGIN

		SELECT
			@UserId = [Id]
		FROM
			[User]
		WHERE
			[SsoUserId] = @SsoUserId

	END

    SELECT
		[Id],
		[FullName],
		[Organisation],
		[IsProfileEditor],
		[IsPolicyProfileUser],
		[UserName],
		[SsoUserId],
		[IsUserManagementSystem]
	FROM
		[User]
	WHERE
		[Id] = @UserId

	SELECT
		[ProfileId],
		[ProfileUserRoleId],
		[Name],
		[IsContributor]
	FROM
		[ProfileUser] INNER JOIN [luProfileUserRole] ON [ProfileUser].[ProfileUserRoleId] = [luProfileUserRole].[Id]
	WHERE
		[ProfileUser].[UserId] = @UserId
		
	SELECT 
		[ProfileId],
		[ProfileSectionId]
	FROM
		[ProfileSectionUser]
	WHERE
		[ProfileSectionUser].[UserId] = @UserId
		
		
END

GO
GRANT EXECUTE ON [dbo].[spgUserAuthorisation] TO [VLAProfilesUser]
GO
