--------------------------------------------------------------------------------------------------------
--- spgUser.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgUser]
GO

CREATE PROCEDURE [dbo].[spgUser]
	@UserId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		[Id],
		[UserName],
		[FullName],
		[Organisation],
		[IsProfileEditor],
		[IsPolicyProfileUser],
		[SsoUserId],
		[LastUpdated]
	FROM
		[User]
	WHERE
		[Id] = @UserId
END

GO
GRANT EXECUTE ON [dbo].[spgUser] TO [VLAProfilesUser]
GO
