<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<connectionStrings>
		<add name="ProfilesDatabase" connectionString="Server=dawhedbs01,1435;Database=SurveillanceProfiles;User Id=VLAProfilesUser;Password=VLAProfilesUs3r;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<appSettings>
		<add key="SsoRoleId" value="B2D9F2D8-86B6-4F2F-BB3B-55EFDC6515D2" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
		<add key="VersionName" value="User Acceptance Testing"/>
		<add key="TallPDF.NET 3.0 Key" value="AlMNUJwgq4v4g29TNepoKk++" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
	<system.serviceModel>
		<services>
			<service>
				<endpoint binding="wsHttpBinding">
					<identity>
						<dns value="DAWHEASS02" xdt:Transform="SetAttributes"/>
					</identity>
				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Profiles.Services.ProfilesSecureBehavior">
					<serviceCredentials>
						<serviceCertificate x509FindType="FindByThumbprint"
											findValue="AD E5 6B 95 31 A4 41 E5 48 E1 23 E5 68 59 6D C9 D4 A4 A9 BF" storeLocation="LocalMachine" storeName="My" xdt:Transform="Replace"/>
						<clientCertificate xdt:Transform="Insert">
							<authentication certificateValidationMode="PeerOrChainTrust" revocationMode="Offline" />
						</clientCertificate>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://localhost:81/SsoUserManagement/Service.asmx"
				  binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
				  contract="SsoUserManagement.ServiceSoap" name="SsoUserManagement"
				  xdt:Transform="Replace"/>
		</client>
	</system.serviceModel>
	<system.diagnostics xdt:Transform="Remove"/>
</configuration>