<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<connectionStrings>
		<add name="ProfilesDatabase" connectionString="Server=dawhedbs01,1434;Database=SurveillanceProfiles;User Id=VLAProfilesUser;Password=a9x!qWJK;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<appSettings>
		<add key="SsoRoleId" value="1736945A-0705-461C-A1EE-03609545E91A" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
		<add key="VersionName" value="Live"/>
		<add key="TallPDF.NET 3.0 Key" value="CODqvD4ZCdw8U22OhstC5+++" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
	<system.serviceModel>
		<services>
			<service>
				<endpoint binding="wsHttpBinding">
					<identity>
						<dns value="DAWHEASS01" xdt:Transform="SetAttributes"/>
					</identity>
				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Profiles.Services.ProfilesSecureBehavior">
					<serviceCredentials>
						<serviceCertificate x509FindType="FindByThumbprint"	findValue="09 d2 66 4d e5 df de 57 5c b7 16 11 2e 7f 1c a0 fc fd b7 4c" storeLocation="LocalMachine" storeName="My" xdt:Transform="Replace"/>
						<clientCertificate xdt:Transform="Insert">
							<authentication certificateValidationMode="PeerOrChainTrust" revocationMode="Offline" />
						</clientCertificate>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://localhost:81/SsoUserManagement/Service.asmx"
				  binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
				  contract="SsoUserManagement.ServiceSoap" name="SsoUserManagement"
				  xdt:Transform="Replace"/>
		</client>
	</system.serviceModel>
	<system.diagnostics xdt:Transform="Remove"/>
</configuration>