---------------------------------------------------------------------------------------------------------
--- sppPrioritisationScore.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sppPrioritisationScore]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sppPrioritisationScore]
GO

CREATE PROCEDURE [dbo].[sppPrioritisationScore]
	
AS
BEGIN
	SET NOCOUNT ON;

	-- read in the upper and lower bounds from the ranking range table
    DECLARE
		@UpperBound as decimal(25,10),
		@LowerBound decimal(25,10),
		@Range decimal(25,10)

	SELECT
		@UpperBound = [UpperBound],
		@LowerBound = [LowerBound],
		@Range = [UpperBound] - [LowerBound]
	FROM
		[PrioritisationRankingRange]
	WHERE
		[PrioritisationType]= 'Profile'

	-- update the PrioritisationCategory table with derived minimum score,
	-- maximum score and modifier figures, based on the values in 
	-- PrioritisationCriterion and PrioritisationCriterionValue
	-- (these may have been changed via the Maintain Prioritisation
	-- Variables page)
	UPDATE
		[PrioritisationCategory]
	SET
		[MinimumScore] = CASE WHEN tmpIrrelevance.[IrrelevanceCount] IS NULL THEN tmpCategory.[MinimumScore] ELSE 0 END,
		[MaximumScore] = tmpCategory.[MaximumScore],
		[Modifier] = (tmpCategory.[MaximumScore] - CASE WHEN tmpIrrelevance.[IrrelevanceCount] IS NULL THEN tmpCategory.[MinimumScore] ELSE 0 END) / @Range
	FROM
		[PrioritisationCategory] INNER JOIN
			(
			SELECT
				[PrioritisationCategory].[Id],	
				SUM(tmpScore.[MinScore] * [PrioritisationCriterion].[Weighting]) AS [MinimumScore],
				SUM(tmpScore.[MaxScore] * [PrioritisationCriterion].[Weighting]) AS [MaximumScore]
			FROM
				[PrioritisationCriterion] INNER JOIN [PrioritisationCategory] ON [PrioritisationCriterion].[PrioritisationCategoryId] = [PrioritisationCategory].[Id]
				INNER JOIN
					(SELECT
						[PrioritisationCriterionId],
						MIN([Score]) AS [MinScore],
						MAX([Score]) AS [MaxScore]
					FROM
						[PrioritisationCriterionValue]
					GROUP BY
						[PrioritisationCriterionId]) tmpScore ON [PrioritisationCriterion].[Id] = tmpScore.[PrioritisationCriterionId]
			GROUP BY
				[PrioritisationCategory].[Id]	
			) tmpCategory ON [PrioritisationCategory].[Id] = tmpCategory.[Id]
		LEFT JOIN
			(
			SELECT
				[PrioritisationCategoryId],
				COUNT([Id]) AS [IrrelevanceCount]
			FROM
				[PrioritisationCategoryIrrelevance]
			GROUP BY
				[PrioritisationCategoryId]
			) AS tmpIrrelevance ON [PrioritisationCategory].[Id] = tmpIrrelevance.[PrioritisationCategoryId]

	-- rebuild the data in the PrioritisationScore table
	DELETE FROM [PrioritisationScore]

	-- insert the per-category data for categories that have values in
	-- [ProfileVersionSpeciesPrioritisation]
	INSERT INTO [PrioritisationScore]
		(
		[ProfileVersionId],
		[SpeciesId],
		[PrioritisationCategoryId],
		[Score],
		[Rank]
		)
	SELECT
		[ProfileVersionId],
		[SpeciesId],
		[PrioritisationCategoryId],
		CASE WHEN [DataIncomplete] = 1 THEN NULL ELSE [Score] END AS [Score],
		CASE WHEN [DataIncomplete] = 1 THEN NULL ELSE ROUND(@LowerBound + (CAST([Score] AS decimal(25,10)) - CAST([MinimumScore] AS decimal(25,10))) / [Modifier], 0) END AS [Rank]
	FROM
		(
		SELECT
			[ProfileVersionSpeciesPrioritisation].[ProfileVersionId],
			[ProfileVersionSpeciesPrioritisation].[SpeciesId],
			[PrioritisationCriterion].[PrioritisationCategoryId],
			ISNULL(SUM([PrioritisationCriterionValue].[Score] * [PrioritisationCriterion].[Weighting]), 0) AS [Score],
			MAX(CAST([ProfileVersionSpeciesPrioritisation].[IsMissing] AS integer)) AS [DataIncomplete]
		FROM
			[ProfileVersionSpeciesPrioritisation] INNER JOIN [PrioritisationCriterion] ON [ProfileVersionSpeciesPrioritisation].[PrioritisationCriterionId] = [PrioritisationCriterion].[Id]
			LEFT JOIN [PrioritisationCriterionValue] ON [ProfileVersionSpeciesPrioritisation].[PrioritisationCriterionValueId] = [PrioritisationCriterionValue].[Id]
		GROUP BY
			[ProfileVersionSpeciesPrioritisation].[ProfileVersionId],
			[ProfileVersionSpeciesPrioritisation].[SpeciesId],
			[PrioritisationCriterion].[PrioritisationCategoryId]
		) tmpTotal
		INNER JOIN [PrioritisationCategory] ON tmpTotal.[PrioritisationCategoryId] = [PrioritisationCategory].[Id]

	

END

GO
GRANT EXECUTE ON [dbo].[sppPrioritisationScore] TO [VLAProfilesUser]
GO