---------------------------------------------------------------------------------------------------------
--- sppPrioritisationCalculation.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sppPrioritisationCalculation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sppPrioritisationCalculation]
GO

CREATE PROCEDURE sppPrioritisationCalculation
	@ProfileVersionId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @SpeciesId uniqueidentifier

	DELETE
		[ProfileVersionSpeciesPrioritisation]
	WHERE
		[ProfileVersionId] = @ProfileVersionId

	DELETE
		[ProfileVersionPrioritisedSpecies]
	WHERE
		[ProfileVersionId] = @ProfileVersionId
	  
	DECLARE @SpeciesList TABLE
		(
		SpeciesId uniqueidentifier
		)

	DECLARE csrProfileSpecies CURSOR FOR
		SELECT
			[SpeciesId]
		FROM
			[ProfileVersionSpecies] INNER JOIN [luAffectedSpeciesType] ON [ProfileVersionSpecies].[AffectedSpeciesTypeId] = [luAffectedSpeciesType].[Id]
		WHERE
			[ProfileVersionId] = @ProfileVersionId AND
			[luAffectedSpeciesType].[Name] = 'Profiled'
	FOR READ ONLY

	OPEN csrProfileSpecies

	FETCH NEXT FROM csrProfileSpecies INTO @SpeciesId

	WHILE @@FETCH_STATUS = 0 BEGIN

		INSERT INTO @SpeciesList
		SELECT
			[Id]
		FROM
			dbo.GetChildSpecies(@SpeciesId)

		INSERT INTO [ProfileVersionPrioritisedSpecies]
		SELECT
			@ProfileVersionId,
			SpeciesId,
			@SpeciesId
		FROM
			@SpeciesList
		;

		WITH ProfileSpeciesData (ProfileFieldId, BooleanValue, ListValue)
		AS
		(
		SELECT
			[ProfileFieldId],
			[BooleanValue],
			[ReferenceValue].[LookupValue] AS [ListValue]
		FROM
			[ProfileVersionFieldValue] LEFT JOIN [ReferenceValue] ON [ProfileVersionFieldValue].[ListValue] = [ReferenceValue].[Id]
		WHERE
			[ProfileVersionId] = @ProfileVersionId AND
			ISNULL([SpeciesId], @SpeciesId) = @SpeciesId
		),
		IrrelevanceData (PrioritisationCategoryId, IsIrrelevant, IsMissing)
		AS
		(
		SELECT
			[PrioritisationCategoryIrrelevance].[PrioritisationCategoryId],
			MAX(
			CASE WHEN [PrioritisationCategoryIrrelevance].[IrrelevanceValueId] IS NOT NULL THEN 
				CASE WHEN [PrioritisationCategoryIrrelevance].[IrrelevanceValueId] = [ProfileVersionFieldValue].[ListValue] THEN 1 ELSE 0 END
			ELSE
				CASE WHEN [PrioritisationCategoryIrrelevance].[IrrelevanceFlag] = [ProfileVersionFieldValue].[BooleanValue] THEN 1 ELSE 0 END
			END
			)
			AS [IsIrrelevant],
			MAX(
			CASE WHEN [PrioritisationCategoryIrrelevance].[IrrelevanceValueId] IS NOT NULL THEN 
				CASE WHEN [ProfileVersionFieldValue].[ListValue] IS NULL THEN 1 ELSE 0 END
			ELSE
				CASE WHEN [ProfileVersionFieldValue].[BooleanValue] IS NULL THEN 1 ELSE 0 END
			END
			)
			AS [IsMissing]
		FROM
			[PrioritisationCategoryIrrelevance] LEFT JOIN [ProfileVersionFieldValue] ON 
				(
				[PrioritisationCategoryIrrelevance].[IrrelevanceFieldId] = [ProfileVersionFieldValue].[ProfileFieldId] AND
				[ProfileVersionFieldValue].[ProfileVersionId] = @ProfileVersionId AND
				ISNULL([ProfileVersionFieldValue].[SpeciesId], @SpeciesId) = @SpeciesId
				)
		GROUP BY
			[PrioritisationCategoryIrrelevance].[PrioritisationCategoryId]
		)
		INSERT INTO [ProfileVersionSpeciesPrioritisation]
			(
			[ProfileVersionId],
			[SpeciesId],
			[PrioritisationCriterionId],
			[PrioritisationCriterionValueId],
			[IsMissing]
			)
		SELECT
			@ProfileVersionId,
			speciesList.[SpeciesId],
			[PrioritisationCriterion].[Id] AS PrioritisationCriterionId,
			CASE WHEN ISNULL(IrrelevanceData.IsIrrelevant, 0) = 1 THEN NULL WHEN ISNULL(MappingData.BooleanValue, 1) = 1 THEN TrueValue.Id ELSE FalseValue.Id END AS PrioritisationCriterionValueId,
			CASE WHEN (CASE WHEN ISNULL(MappingData.BooleanValue, 1) = 1 THEN TrueValue.Id ELSE FalseValue.Id END IS NULL OR ISNULL(IrrelevanceData.IsMissing, 0) = 1) AND ISNULL(IrrelevanceData.IsIrrelevant, 0) = 0 THEN 1 ELSE 0 END AS IsMissing
		FROM
			[PrioritisationCriterion] LEFT JOIN IrrelevanceData ON [PrioritisationCriterion].[PrioritisationCategoryId] = IrrelevanceData.PrioritisationCategoryId
			LEFT JOIN ProfileSpeciesData MappingData ON [PrioritisationCriterion].[MappingFlag] = MappingData.ProfileFieldId
			LEFT JOIN ProfileSpeciesData TrueData ON [PrioritisationCriterion].[TrueMapping] = TrueData.ProfileFieldId
			LEFT JOIN ProfileSpeciesData FalseData ON [PrioritisationCriterion].[FalseMapping] = FalseData.ProfileFieldId
			LEFT JOIN [PrioritisationCriterionValue] TrueValue ON ([PrioritisationCriterion].[Id] = TrueValue.[PrioritisationCriterionId] AND TrueData.ListValue = LEFT(TrueValue.CriterionValue, LEN(TrueData.ListValue)))
			LEFT JOIN [PrioritisationCriterionValue] FalseValue ON ([PrioritisationCriterion].[Id] = FalseValue.[PrioritisationCriterionId] AND FalseData.ListValue = LEFT(FalseValue.CriterionValue, LEN(FalseData.ListValue)))
			, @SpeciesList speciesList


		DELETE FROM @SpeciesList
    
		FETCH NEXT FROM csrProfileSpecies INTO @SpeciesId

	END

    CLOSE csrProfileSpecies
    DEALLOCATE csrProfileSpecies

END

GO
GRANT EXECUTE ON [dbo].[sppPrioritisationCalculation] TO [VLAProfilesUser]
GO
