---------------------------------------------------------------------------------------------------------
--- sppProfileVersionCurrency.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sppProfileVersionCurrency]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sppProfileVersionCurrency]
GO

CREATE PROCEDURE [dbo].[sppProfileVersionCurrency]
	@ProfileVersionId uniqueidentifier,
	@State varchar(50),
	@EffectiveDateTo smalldatetime
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @ProfileId uniqueidentifier

	IF NOT EXISTS (
		SELECT
			[Id]
		FROM
			[ProfileVersion]
		WHERE
			[Id] = @ProfileVersionId AND
			[EffectiveDateTo] IS NULL
	) BEGIN
		RAISERROR('The specified profile version is not the latest version of this profile. The profile may have been altered by another user.',16,1)
		RETURN	
	END

	UPDATE
		[ProfileVersion]
	SET
		[EffectiveDateTo] = @EffectiveDateTo
	FROM
		[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
	WHERE
		[ProfileVersion].[Id] = @ProfileVersionId AND
		[luProfileVersionState].[Name] = 'Draft'
   
	IF @State = 'Published' BEGIN

		SELECT
			@ProfileId = [ProfileId]
		FROM
			[ProfileVersion]
		WHERE
			[Id] = @ProfileVersionId

		UPDATE
			[ProfileVersion]
		SET
			[EffectiveDateTo] = @EffectiveDateTo
		FROM
			[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
		WHERE
			[ProfileVersion].[ProfileId] = @ProfileId AND
			[luProfileVersionState].[Name] = 'Published' AND
			[ProfileVersion].[EffectiveDateTo] IS NULL AND
			[ProfileVersion].[Id] != @ProfileVersionId

	END 

END

GO
GRANT EXECUTE ON [dbo].[sppProfileVersionCurrency] TO [VLAProfilesUser]
GO
