-------------------------------------------------------------------------------------------------------
--- sppReferenceValue.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sppReferenceValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sppReferenceValue]
GO

CREATE PROCEDURE sppReferenceValue
	@ValueId uniqueidentifier,
	@UserId uniqueidentifier,
	@Reason varchar(255),
	@LastUpdated timestamp
AS
BEGIN
	
	SET NOCOUNT ON;

    DECLARE @EffectiveDate datetime
    SET @EffectiveDate = GETDATE()

	DECLARE @ReferenceTableId uniqueidentifier

	SELECT
		@ReferenceTableId = [ReferenceTable].[Id]
	FROM
		[ReferenceTable] INNER JOIN [ReferenceValue] ON [ReferenceTable].[Id] = [ReferenceValue].[ReferenceTableId]
	WHERE
		[ReferenceValue].[Id] = @ValueId AND
		[ReferenceTable].[IsMaintainable] = 1

	IF @ReferenceTableId IS NULL BEGIN
		RAISERROR('The specified reference value does not belong to a maintainable reference table', 16, 1)
		RETURN
	END

	IF NOT EXISTS
		(
		SELECT
			[Id]
		FROM
			[ReferenceValue]
		WHERE
			[Id] = @ValueId AND
			[LastUpdated] = @LastUpdated
		) BEGIN
		RAISERROR('The reference value cannot be inactivated because it has been edited by another user',16,1)
		RETURN
	END

	--Get the current Value
	DECLARE @OldLookupValue varchar(255)

	SELECT
		@OldLookupValue = [LookupValue]
	FROM
		[ReferenceValue]
	WHERE
		[Id] = @ValueId

	INSERT INTO [ReferenceTableAuditLog]
		(
		[Id],
		[ReferenceTableId],
		[ReferenceValueId],
		[OldLookupValue],
		[NewLookupValue],
		[UserId],
		[EffectiveDate],
		[LogDate],
		[Reason]
		)
	VALUES
		(
		NEWID(),
		@ReferenceTableId,
		@ValueId,
		@OldLookupValue,
		'- to be inactivated -',
		@UserId,
		@EffectiveDate,
		@EffectiveDate,
		@Reason
		)

	UPDATE
		[ReferenceValue]
    SET
		[EffectiveDateTo] = @EffectiveDate
    WHERE
		[Id] = @ValueId

END

GO
GRANT EXECUTE ON [dbo].[sppReferenceValue] TO [VLAProfilesUser]
GO
