-------------------------------------------------------------------------------------------------------
--- sppSpecies.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sppSpecies]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sppSpecies]
GO

CREATE PROCEDURE [dbo].[sppSpecies]
	@SpeciesId uniqueidentifier,
	@UserId uniqueidentifier,
	@Reason varchar(255),
	@LastUpdated timestamp
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @EffectiveDate smalldatetime
	SET @EffectiveDate = GetDate()

	-- Check timestamp is valid
	IF NOT EXISTS (
		SELECT
			[Id]
		FROM
			[Species]
		WHERE
			[Id] = @SpeciesId 
			AND [LastUpdated] = @LastUpdated
		) 
			BEGIN
				RAISERROR('The species cannot be inactivated because it has been edited by another user',16,1)
				RETURN
			END

	DECLARE @OldParentId uniqueidentifier
	DECLARE @OldName varchar(50)
	SELECT
		@OldParentId = [ParentId],
		@OldName = [Name]
	FROM
		[dbo].[Species]
	WHERE
		[Id]=@SpeciesId

	DECLARE @OldParent varchar(50)
	IF @OldParentId IS NULL
	BEGIN
		SET @OldParent = '- root species -'
	END
	ELSE
	BEGIN
		SELECT
			@OldParent = [Name]
		FROM
			[dbo].[Species]
		WHERE
			[Id]=@OldParentId
	END

	--Insert Audit (parent)
    INSERT INTO [SpeciesTableAuditLog]
		(
		[Id],
		[UserId],
		[EffectiveDate],
		[LogDate],
		[Reason],
		[OldName],
		[NewName],
		[OldParent],
		[NewParent]
		)
	VALUES
		(
		newid(),
		@UserId,
		@EffectiveDate,
		@EffectiveDate,
		@Reason,
		@OldName,
		'- to be inactivated -',
		@OldParent,
		'- to be inactivated -'
		) 

	-- Update Species
    UPDATE 
		[Species]
	SET
		[EffectiveDateTo] = @EffectiveDate
	WHERE
		[Id] = @SpeciesId

END

GO
GRANT EXECUTE ON [dbo].[sppSpecies] TO [VLAProfilesUser]
GO
