<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EmailFromAddress" value="noreply@apha.gov.uk"/>
		<add key="EmailFromDisplayName" value="noreply@apha.gov.uk"/>
	</appSettings>
	<connectionStrings>
		<add name="ProfilesDatabase" connectionString="Server=10.201.2.20;Database=SurveillanceProfiles;User Id=VLAProfilesUser;Password=password;"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
