------------------------------------------------------------------------------------------------------
--- GetChildSpecies.SQL
------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetChildSpecies]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[GetChildSpecies]
GO

CREATE FUNCTION [dbo].[GetChildSpecies]
(
	@SpeciesId uniqueidentifier
)
RETURNS 
@tmpChildSpecies TABLE
(
	Id uniqueidentifier,
	ChildCount int,
	PassNumber int
)
AS
BEGIN
		
DECLARE @tmpSpecies TABLE
	(
	Id uniqueidentifier,
	ChildCount int
	)

INSERT INTO @tmpSpecies
SELECT
	[ParentSpecies].[Id],
	COUNT([ChildSpecies].[Id])
FROM
	[Species] ParentSpecies LEFT JOIN [Species] ChildSpecies ON ParentSpecies.Id = ChildSpecies.ParentId
GROUP BY
	[ParentSpecies].[Id]

DECLARE
	@Pass int,
	@RowCount int

SET @Pass = 1
SET @RowCount = 0

INSERT INTO @tmpChildSpecies
	(
	Id,
	ChildCount,
	PassNumber
	)
SELECT
	[Species].[Id],
	[ChildCount],
	@Pass 
FROM
	@tmpSpecies tmpSpecies INNER JOIN [Species] ON tmpSpecies.Id = [Species].[Id]
WHERE
	[Species].[Id] = @SpeciesId

SELECT
	@RowCount = @@RowCount,
	@Pass = @Pass + 1

WHILE (@RowCount != 0) BEGIN

    INSERT INTO @tmpChildSpecies 
		(
		Id,
		ChildCount,
		PassNumber
		)
    SELECT
        tmpSpecies.Id,
        tmpSpecies.ChildCount,
        @Pass
    FROM
		@tmpSpecies tmpSpecies INNER JOIN [Species] ON tmpSpecies.[Id] = [Species].[Id]
		INNER JOIN @tmpChildSpecies tmpChildSpecies on tmpChildSpecies.Id = Species.ParentID
    WHERE
		tmpChildSpecies.PassNumber = @Pass - 1

    SELECT @RowCount = @@RowCount, @Pass = @Pass + 1

END
	
	RETURN 
END

GO
