--------------------------------------------------------------------------------------------------------
--- IsAncestorSpecies.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IsAncestorSpecies]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[IsAncestorSpecies]
GO

CREATE FUNCTION [dbo].[IsAncestorSpecies]
(
	@SpeciesId uniqueidentifier,
	@ParentSpeciesId uniqueidentifier
)
RETURNS bit
AS
BEGIN
	DECLARE @ParentId uniqueidentifier

	SELECT
		@ParentId = [ParentId]
	FROM
		[Species]
	WHERE
		[Id] = @SpeciesId

	IF @ParentId IS NULL BEGIN
		RETURN 0
	END

	IF @ParentId = @ParentSpeciesId BEGIN
		RETURN 1
	END

	RETURN dbo.IsAncestorSpecies(@ParentId, @ParentSpeciesId)

END

GO
