USE [SurveillanceProfilesLive]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetYesNoInfectiousViruses]    Script Date: 25-03-2015 12:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[udf_GetYesNoInfectiousViruses]
(
	@lstValue AS uniqueidentifier,
	@IsInfec AS int,
	@DiseaseName NVARCHAR(100)
)
RETURNS int
AS
BEGIN

	Declare @rtrnValues int

	IF @IsInfec > 0

		BEGIN

			DECLARE @X xml

			DECLARE @First as nvarchar(500)
			DECLARE @Second as nvarchar(500)
			DECLARE @Third as nvarchar(500)
			DECLARE @Fourth as nvarchar(500)
			DECLARE @Fifth as nvarchar(500)

			SELECT @X = CONVERT(xml,' <root> <s>' + REPLACE((SELECT Disease5 as s FROM [dbo].[DiseaseFilters] WHERE DiseaseName = @DiseaseName AND IsActive = 1 AND IsInUse = 1 GROUP BY FilterNumber, Disease5),',','</s> <s>') + '</s>   </root> ')

			SET @First = (SELECT Value FROM (SELECT ROW_NUMBER() OVER (ORDER BY [Value] ASC) AS rownumber, d.Value FROM (SELECT [Value] = T.c.value('.','varchar(20)') FROM @X.nodes('/root/s') T(c)) as d )  as temptablename WHERE rownumber IN (1))	
			SET @Second = (SELECT Value FROM (SELECT ROW_NUMBER() OVER (ORDER BY [Value] ASC) AS rownumber, d.Value FROM (SELECT [Value] = T.c.value('.','varchar(20)') FROM @X.nodes('/root/s') T(c)) as d )  as temptablename WHERE rownumber IN (2))
			SET @Third = (SELECT Value FROM (SELECT ROW_NUMBER() OVER (ORDER BY [Value] ASC) AS rownumber, d.Value FROM (SELECT [Value] = T.c.value('.','varchar(20)') FROM @X.nodes('/root/s') T(c)) as d )  as temptablename WHERE rownumber IN (3))
			SET @Fourth = (SELECT Value FROM (SELECT ROW_NUMBER() OVER (ORDER BY [Value] ASC) AS rownumber, d.Value FROM (SELECT [Value] = T.c.value('.','varchar(20)') FROM @X.nodes('/root/s') T(c)) as d )  as temptablename WHERE rownumber IN (4))
			SET @Fifth = (SELECT Value FROM (SELECT ROW_NUMBER() OVER (ORDER BY [Value] ASC) AS rownumber, d.Value FROM (SELECT [Value] = T.c.value('.','varchar(20)') FROM @X.nodes('/root/s') T(c)) as d )  as temptablename WHERE rownumber IN (5))

			SET @rtrnValues = (SELECT CASE WHEN (SELECT COUNT(*) FROM ReferenceValue Where LOWER(LookupValue) IN (@First,@Second,@Third,@Fourth,@Fifth) AND ID = @lstValue) > 0 THEN 1 ELSE 0 END)
		END

	RETURN @rtrnValues
END