---------------------------------------------------------------------------------------------------------
--- spgaluSectionReviewFrequency.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaluSectionReviewFrequency]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaluSectionReviewFrequency]
GO

CREATE PROCEDURE spgaluSectionReviewFrequency
AS
BEGIN
	SET NOCOUNT ON;

	SELECT     
		[Id], 
		[LookupValue],
		[SequenceNumber]
	FROM 
		[luSectionReviewFrequency]
	ORDER BY
		[SequenceNumber]

END

GO
GRANT EXECUTE ON [dbo].[spgaluSectionReviewFrequency] TO [VLAProfilesUser]
GO
