------------------------------------------------------------------------------------------------------
--- spgaPrioritisationVariables.SQL
------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaPrioritisationVariables]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaPrioritisationVariables]
GO

CREATE PROCEDURE [dbo].[spgaPrioritisationVariables] 

AS
BEGIN

	SET NOCOUNT ON;

    -- Get ranking range
	SELECT
		[Id],
		[LowerBound],
		[UpperBound],
		[LastUpdated]
	FROM
		[PrioritisationRankingRange]
	WHERE
		[PrioritisationType]= 'Profile'

	-- Get prioritisation categories
	SELECT
		[Id],
		[Name]
	FROM
		[PrioritisationCategory]

	-- Get category criterion
	SELECT
		[Id],
		[PrioritisationCategoryId],
		[Code],
		[Name],
		[Weighting]
	FROM
		[PrioritisationCriterion]
	ORDER BY
		[Code]

	-- Get criterion values
	SELECT
		[Id],
		[PrioritisationCriterionId],
		[CriterionValue],
		[Score]
	FROM
		[PrioritisationCriterionValue]
	ORDER BY
		[SequenceNumber]
		
END

GO
GRANT EXECUTE ON [dbo].[spgaPrioritisationVariables] TO [VLAProfilesUser]
GO
