---------------------------------------------------------------------------------------------------------
--- spgaProfileNoteType.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaProfileNoteType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaProfileNoteType]
GO

CREATE PROCEDURE [dbo].[spgaProfileNoteType]

AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		[Id],
		[Name],
		[PluralName],
		[SequenceNumber] 
	FROM
		[luProfileNoteType]


END

GO
GRANT EXECUTE ON [dbo].[spgaProfileNoteType] TO [VLAProfilesUser]
GO
