-------------------------------------------------------------------------------------------------------
--- spgaCurrentStaticReport.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaCurrentStaticReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaCurrentStaticReport]
GO

CREATE PROCEDURE [dbo].[spgaCurrentStaticReport]
	@IsUserManual bit,
	@PublicOnly bit
AS
BEGIN

	SET NOCOUNT ON;

	IF @IsUserManual = 1 AND @PublicOnly = 1 BEGIN
		RAISERROR('User manuals cannot be public - this combination of flags is not allowed', 16, 1)
		RETURN
	END
	
	IF @PublicOnly = 0 BEGIN

		SELECT
			[StaticReportVersion].[Id],
			[StaticReportVersion].[StaticReportId],
			[StaticReportVersion].[Title],
			[StaticReportVersion].[VersionMajor],
			[StaticReportVersion].[EffectiveDateFrom],
			[StaticReportVersion].[EffectiveDateTo],
			[StaticReport].[IsUserManual],
			[StaticReportVersion].[IsPublic],
			DATALENGTH([StaticReportVersion].[PdfData])
		FROM
			[StaticReportVersion]INNER JOIN [StaticReport] ON [StaticReportVersion].[StaticReportId] = [StaticReport].[Id]
		WHERE
			[StaticReportVersion].[EffectiveDateTo] IS NULL AND
			[StaticReport].[IsUserManual] = @IsUserManual
		ORDER BY
			[StaticReportVersion].[Title]

	END ELSE BEGIN

		WITH [LatestPublic] ([StaticReportId], [VersionMajor]) AS
		(
		SELECT
			[StaticReportId],
			MAX([VersionMajor]) AS [VersionMajor]
		FROM
			[StaticReportVersion] INNER JOIN [StaticReport] ON [StaticReportVersion].[StaticReportId] = [StaticReport].[Id]
		WHERE
			[StaticReport].[IsUserManual] = @IsUserManual AND
			[IsPublic] = 1
		GROUP BY
			[StaticReportId]
		)
		SELECT
			[StaticReportVersion].[Id],
			[StaticReportVersion].[StaticReportId],
			[StaticReportVersion].[Title],
			[StaticReportVersion].[VersionMajor],
			[StaticReportVersion].[EffectiveDateFrom],
			[StaticReportVersion].[EffectiveDateTo],
			[StaticReport].[IsUserManual],
			[StaticReportVersion].[IsPublic],
			DATALENGTH([StaticReportVersion].[PdfData])
		FROM
			[StaticReportVersion]INNER JOIN [StaticReport] ON [StaticReportVersion].[StaticReportId] = [StaticReport].[Id]
			INNER JOIN [LatestPublic] ON ([StaticReportVersion].[StaticReportId] = [LatestPublic].[StaticReportId] AND [StaticReportVersion].[VersionMajor] = [LatestPublic].[VersionMajor])
		WHERE
			[StaticReport].[IsUserManual] = @IsUserManual
		ORDER BY
			[StaticReportVersion].[Title]

	END

END

GO
GRANT EXECUTE ON [dbo].[spgaCurrentStaticReport] TO [VLAProfilesUser]
GO
