---------------------------------------------------------------------------------------------------------
--- spgaluSectionReviewStatusType.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaluSectionReviewStatusType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaluSectionReviewStatusType]
GO

CREATE PROCEDURE spgaluSectionReviewStatusType
AS
BEGIN
	SET NOCOUNT ON;

	SELECT     
		[Id], 
		[Name],
		[SequenceNumber]
	FROM 
		[luReviewStatus]
	ORDER BY
		[SequenceNumber]

END

GO
GRANT EXECUTE ON [dbo].[spgaluSectionReviewStatusType] TO [VLAProfilesUser]
GO
