/****** Object:  StoredProcedure [dbo].[spgaSelectedDiseaseSpecies]    Script Date: 25-03-2015 17:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[spgaSelectedDiseaseSpecies]		

	@DiseaseName as nvarchar(500)

AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @DateNow As SmallDateTime
	SET @DateNow = DateAdd(mi, 1, GETDATE())

	SELECT y.Id, y.[ParentId], y.Name, y.IsActive, y.IsInUse, t.DiseaseName,
	 case t.Disease1 When 'endemic diseases' THEN 0 ELSE case t.Disease1 When 'both' THEN 2 ELSE 1 END END as Disease1
	,case t.Disease2 When 'zoonotic' THEN 0 ELSE case Disease2 When 'both' THEN 2 ELSE 1 END END as Disease2
	,case t.Disease3 When 'notifiable' THEN 0 ELSE case Disease3 When 'both' THEN 2 ELSE 1 END END as Disease3
	,case t.Disease4 When 'infectious' THEN 0 ELSE case Disease4 When 'both' THEN 2 ELSE 1 END END as Disease4,
	t.Disease5, t.FilterNumber
	FROM DiseaseFilters t INNER JOIN
	(SELECT
		[Species].[Id],
		[Species].[ParentId],
		[Species].[Name]
		,CAST(CASE WHEN [EffectiveDateTo] IS NULL THEN 1 WHEN @DateNow BETWEEN [EffectiveDateFrom] AND [EffectiveDateTo] THEN 1 ELSE 0 END AS bit) AS [IsActive],
		CAST(CASE WHEN [tmpProfileVersionSpecies].[SpeciesId]IS NULL THEN 0 ELSE 1 END AS bit) AS [IsInUse]
	FROM
		[Species] LEFT JOIN 
		(	SELECT [SpeciesId] 
			FROM [ProfileVersionSpecies] 
			GROUP BY [SpeciesId]
		) AS tmpProfileVersionSpecies ON [tmpProfileVersionSpecies].[SpeciesId] = [Species].[Id]) as y ON t.SelectedSpecies = y.Id	

		Where t.DiseaseName = @DiseaseName AND t.IsActive = 1 AND t.IsInUse = 1

END
