--------------------------------------------------------------------------------------------------------
--- spgaBaseReferenceData.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaBaseReferenceData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaBaseReferenceData]
GO

CREATE PROCEDURE [dbo].[spgaBaseReferenceData]
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		[Id],
		[Name],
		[SqlType]
	FROM
		[luDataFieldType]
	FOR XML AUTO

	SELECT
		[Id],
		[Name],
		[IsContributor]
	FROM
		[luProfileUserRole]
	FOR XML AUTO

	SELECT
		[Id],
		[Name]
	FROM
		[luProfileVersionState]
	FOR XML AUTO
	
	SELECT
		[Id],
		[LookupValue],
		[SequenceNumber]
	FROM
		[luSectionReviewFrequency]
	FOR XML AUTO
	
	SELECT
		[Id],
		[Name]
	FROM
		[PrioritisationCategory]
	FOR XML AUTO

	SELECT
		[Id],
		[PrioritisationCategoryId],
		[IrrelevanceFieldId],
		[IrrelevanceValueId],
		[IrrelevanceFlag]
	FROM
		[PrioritisationCategoryIrrelevance]
	FOR XML AUTO

	SELECT
		[Id],
		[PrioritisationCategoryId],
		[Code],
		[Name],
		[Weighting],
		[MappingFlag],
		[TrueMapping],
		[FalseMapping]
	FROM
		[PrioritisationCriterion]
	FOR XML AUTO

	SELECT
		[Id],
		[PrioritisationCriterionId],
		[CriterionValue],
		[Score],
		[SequenceNumber]
	FROM
		[PrioritisationCriterionValue]
	FOR XML AUTO

	SELECT
		[Id],
		[LowerBound],
		[UpperBound]
	FROM 
		[PrioritisationRankingRange]
	FOR XML AUTO

	SELECT
		[Id],
		[Name],
		[ShortName],
		[ProfileQuestionId],
		[FieldNumber],
		[DataFieldTypeId],
		[IsMandatory],
		[ReferenceTableId],
		[IsReadOnlyCurrentSituation],
		[IsReadOnlyScenario],
		[DefaultValue]
	FROM
		[ProfileField]
	FOR XML AUTO

	SELECT
		[Id],
		[Name],
		[ShortName],
		[ProfileSectionId],
		[QuestionNumber],
		[IsPerSpecies],
		[IsRepeating],
		[UserGuidance],
		[IrrelevanceFieldId],
		[IrrelevanceValueId],
		[IrrelevanceFlag]
	FROM
		[ProfileQuestion]
	FOR XML AUTO

	SELECT
		[Id],
		[Name],
		[ShortName],
		[SectionNumber]
	FROM
		[ProfileSection]
	FOR XML AUTO

	SELECT
		[Id],
		[Name],
		[IsMaintainable]
	FROM
		[ReferenceTable]
	FOR XML AUTO
	
	SELECT
		[Id],
		[ReferenceTableId],
		[LookupValue],
		[SequenceNumber]
	FROM
		[ReferenceValue]
	FOR XML AUTO

	SELECT
		[Id],
		[ParentId],
		[Name]/*,
		[CommercialTrade],
		[ImportanceOfExportTrade],
		[ImpactOnLevelOfImports],
		[ImpactOnIntraCommunityFlows],
		[ImpactOnThirdCountryFlows],
		[ExportMarketValue],
		[SequenceNumber],
		[CommercialTradeComments],
		[ImportanceOfExportTradeComments],
		[ImpactOnLevelOfImportsComments],
		[ImpactOnIntraCommunityFlowsComments],
		[ImpactOnThirdCountryFlowsComments],
		[ExportMarketValueComments]*/
	FROM
		[Species]
	FOR XML AUTO

	SELECT
		[Id],
		[Name],
		[ShortName],
		[FieldNumber],
		[ReferenceTableId],
		[DataFieldTypeId],
		[IsMandatory]
	FROM
		[SpeciesField]
	FOR XML AUTO

END
