--------------------------------------------------------------------------------------------------------
--- spgaSpeciesTableAuditLog.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaSpeciesTableAuditLog]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaSpeciesTableAuditLog]
GO

CREATE PROCEDURE [dbo].[spgaSpeciesTableAuditLog]
AS
BEGIN

	SET NOCOUNT ON;

	SELECT     
		[SpeciesTableAuditLog].[Id],
		[User].[FullName], 
		[SpeciesTableAuditLog].[EffectiveDate],
		[SpeciesTableAuditLog].[LogDate], 
        [SpeciesTableAuditLog].[Reason],
		[SpeciesTableAuditLog].[OldName],
		[SpeciesTableAuditLog].[NewName],
		[SpeciesTableAuditLog].[OldParent],
		[SpeciesTableAuditLog].[NewParent]
	FROM         
		[SpeciesTableAuditLog] INNER JOIN [User] ON [SpeciesTableAuditLog].[UserId] = [User].[Id]
	
	ORDER BY
		[SpeciesTableAuditLog].[LogDate] DESC	
END

GO
GRANT EXECUTE ON [dbo].[spgaSpeciesTableAuditLog] TO [VLAProfilesUser]
GO
