--------------------------------------------------------------------------------------------------------
--- spgaSpellCustomWord.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaSpellCustomWord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaSpellCustomWord]
GO

CREATE PROCEDURE [dbo].[spgaSpellCustomWord]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		[Id],
		[Word],
		[LastUpdated]
	FROM
		[dbo].[SpellCustomWord]

END

GO
GRANT EXECUTE ON [dbo].[spgaSpellCustomWord] TO [VLAProfilesUser]
GO
