----------------------------------------------------------------------------------------------------
--- spgaSpecies.SQL
----------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaSpecies]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaSpecies]
GO

CREATE PROCEDURE [dbo].[spgaSpecies]

AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @DateNow As SmallDateTime
	SET @DateNow = DateAdd(mi, 1, GETDATE()) 

	SELECT
		[Species].[Id],
		[Species].[ParentId],
		[Species].[Name],
		CAST(CASE WHEN [EffectiveDateTo] IS NULL THEN 1 WHEN @DateNow BETWEEN [EffectiveDateFrom] AND [EffectiveDateTo] THEN 1 ELSE 0 END AS bit) AS [IsActive],
		CAST(CASE WHEN [tmpProfileVersionSpecies].[SpeciesId]IS NULL THEN 0 ELSE 1 END AS bit) AS [IsInUse]
	FROM
		[Species] LEFT JOIN 
		(	SELECT [SpeciesId] 
			FROM [ProfileVersionSpecies] 
			GROUP BY [SpeciesId]
		) AS tmpProfileVersionSpecies ON [tmpProfileVersionSpecies].[SpeciesId] = [Species].[Id]
	ORDER BY
		ISNULL([Species].[SequenceNumber], 999),
		[Species].[EffectiveDateFrom]


END

GO
GRANT EXECUTE ON [dbo].[spgaSpecies] TO [VLAProfilesUser]
GO
