----------------------------------------------------------------------------------------------------------
--- spgaluProfileUserRole.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaluProfileUserRole]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaluProfileUserRole]
GO

CREATE PROCEDURE [dbo].[spgaluProfileUserRole] 

AS
BEGIN
	SET NOCOUNT ON;

	SELECT     
		[Id], 
		[Name],
		[IsContributor]
	FROM 
		[luProfileUserRole]

END

GO
GRANT EXECUTE ON [dbo].[spgaluProfileUserRole] TO [VLAProfilesUser]
GO
