--------------------------------------------------------------------------------------------------------
--- spgaProfileVersionSection.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaProfileVersionSection]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaProfileVersionSection]
GO

CREATE PROCEDURE [dbo].[spgaProfileVersionSection]
	@ProfileVersionId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

    DECLARE @IsWhatIfScenario bit

	SELECT
		@IsWhatIfScenario = CASE WHEN [ParentId] IS NULL THEN 0 ELSE 1 END
	FROM
		[ProfileVersion] INNER JOIN [Profile] ON [ProfileVersion].[ProfileId] = [Profile].[Id]
	WHERE
		[ProfileVersion].[Id] = @ProfileVersionId

	--Profiled Species
	SELECT
		[Species].[Id],
		[Species].[Name],
		CAST(CASE WHEN [EffectiveDateTo] IS NULL THEN 1 ELSE 0 END AS bit) AS [IsActive]
	FROM
		[Species] INNER JOIN [ProfileVersionSpecies] ON [Species].[Id] = [ProfileVersionSpecies].[SpeciesId]
		INNER JOIN [luAffectedSpeciesType] ON [ProfileVersionSpecies].[AffectedSpeciesTypeId] = [luAffectedSpeciesType].[Id]	
	WHERE
		[ProfileVersionSpecies].[ProfileVersionId] = @ProfileVersionId AND
		[luAffectedSpeciesType].[Name] = 'Profiled'

	--Revision Dates and Timestamp
    SELECT
		[ProfileVersionSection].[ProfileSectionId],
		[ProfileVersionSection].[TechnicalReviewFrequency],
		[ProfileVersionSection].[PolicyReviewFrequency],
		[ProfileVersionSection].[NextTechnicalReview],
		[ProfileVersionSection].[NextPolicyReview],
		[ProfileVersionSection].[LastUpdated],
		[ProfileVersionSection].[PolicyReviewStatusId],
		[ProfileVersionSection].[TechnicalReviewStatusId]
	FROM
		[ProfileVersionSection] INNER JOIN [ProfileSection] ON [ProfileVersionSection].[ProfileSectionId] = [ProfileSection].[Id]
	WHERE
		[ProfileVersionSection].[ProfileVersionId] = @ProfileVersionId
	ORDER BY
		[ProfileSection].[SectionNumber]
	
	--Question Names
	SELECT 
		[ProfileQuestion].[ProfileSectionId],
		[ProfileQuestion].[Id],
		[ProfileQuestion].[Name],
		[ProfileQuestion].[NonTechnicalName]
	FROM
		[ProfileQuestion] INNER JOIN [ProfileSection] ON [ProfileQuestion].[ProfileSectionId] = [ProfileSection].[Id]
	ORDER BY
		[ProfileSection].[SectionNumber],
		[ProfileQuestion].[QuestionNumber]
	
	--Question Rows
	SELECT
		[ProfileQuestion].[ProfileSectionId],
		[ProfileVersionQuestionRow].[Id],
		[ProfileVersionQuestionRow].[ProfileQuestionId],
		[ProfileVersionQuestionRow].[SequenceNumber]		
	FROM
		[ProfileVersionQuestionRow] INNER JOIN [ProfileQuestion] ON [ProfileVersionQuestionRow].[ProfileQuestionId] = [ProfileQuestion].[Id]
	WHERE
		[ProfileVersionId] = @ProfileVersionId
	ORDER BY
		[SequenceNumber]

	--Field Values
	SELECT 
		[ProfileQuestion].[ProfileSectionId],		
		[ProfileVersionFieldValue].[Id],
		[ProfileVersionFieldValue].[SpeciesId],
		[ProfileVersionFieldValue].[ProfileVersionQuestionRowId],
		[ProfileVersionFieldValue].[BooleanValue],
		[ProfileVersionFieldValue].[ListValue],
		[ProfileVersionFieldValue].[DecimalValue],
		[ProfileVersionFieldValue].[DateValue],
		[ProfileVersionFieldValue].[TextValue],
		[ProfileField].[Id],
		'00000000-0000-0000-0000-000000000000',
		[ProfileQuestion].[Id],
		[ProfileQuestion].[QuestionNumber],
		[ProfileField].[FieldNumber]
	FROM
		[ProfileVersionFieldValue] INNER JOIN
		[ProfileField] ON [ProfileVersionFieldValue].[ProfileFieldId] = [ProfileField].[Id] INNER JOIN
		[ProfileQuestion] ON [ProfileField].[ProfileQuestionId] = [ProfileQuestion].[Id]	
	WHERE 
		[ProfileVersionFieldValue].[ProfileVersionId] = @ProfileVersionId 	

	UNION

	SELECT 
		tmpField.[ProfileSectionId],
		[ProfileVersionFieldValue].[Id],
		[ProfileVersionFieldValue].[SpeciesId],
		[ProfileVersionFieldValue].[ProfileVersionQuestionRowId],
		[ProfileVersionFieldValue].[BooleanValue],
		[ProfileVersionFieldValue].[ListValue],
		[ProfileVersionFieldValue].[DecimalValue],
		[ProfileVersionFieldValue].[DateValue],
		[ProfileVersionFieldValue].[TextValue],
		[ProfileField].[Id],
		[ProfileField].[ProfileFieldGroupId],
		tmpField.[QuestionId],
		tmpField.[QuestionNumber],
		[ProfileField].[FieldNumber]
	FROM
		[ProfileVersionFieldValue] INNER JOIN
		[ProfileField] ON [ProfileVersionFieldValue].[ProfileFieldId] = [ProfileField].[Id] INNER JOIN	
		(
		SELECT	
			[ProfileField].[Id],
			[ProfileQuestion].[Id] As QuestionId,
			[ProfileQuestion].[QuestionNumber],
			[ProfileQuestion].[ProfileSectionId]
		FROM 
			[ProfileField] INNER JOIN 
			[ProfileQuestion] ON [ProfileField].[ProfileQuestionId] = [ProfileQuestion].[Id]		
		) tmpField ON [ProfileField].[ProfileFieldGroupId] = tmpField.[Id] 
	WHERE
		[ProfileVersionFieldValue].[ProfileVersionId] = @ProfileVersionId 

	
END

GO
GRANT EXECUTE ON [dbo].[spgaProfileVersionSection] TO [VLAProfilesUser] 
GO
