------------------------------------------------------------------------------------------------------
--- spgaProfileSection.SQL
------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaProfileSection]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaProfileSection]
GO

CREATE PROCEDURE [dbo].[spgaProfileSection]
AS
BEGIN

	SET NOCOUNT ON;

    SELECT
		[ProfileSection].[Id],
		[ProfileSection].[Name],
		[ProfileSection].[ShortName],
		[ProfileSection].[SectionNumber],
		[ProfileSection].[Note]
	FROM
		[ProfileSection]
	ORDER BY
		[ProfileSection].[SectionNumber]
END

GO
GRANT EXECUTE ON [dbo].[spgaProfileSection] TO [VLAProfilesUser]
GO
