-------------------------------------------------------------------------------------------------------
--- spgaGlobalUser.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaGlobalUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaGlobalUser]
GO

CREATE PROCEDURE [dbo].[spgaGlobalUser]
AS
BEGIN

	SET NOCOUNT ON;

	SELECT
		[Id],
		[UserName],
		[FullName],
		[Organisation],
		[IsProfileEditor],
		[IsPolicyProfileUser],
		[LastUpdated]
	FROM
		[User]
	WHERE
		[IsProfileEditor] = 1 OR [IsPolicyProfileUser] = 1
	ORDER BY
		[FullName]
END

GO
GRANT EXECUTE ON [dbo].[spgaGlobalUser] TO [VLAProfilesUser]
GO
