------------------------------------------------------------------------------------------------------
--- spgaProfileFieldValue.SQL
------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spgaProfileFieldValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spgaProfileFieldValue]
GO

CREATE PROCEDURE [dbo].[spgaProfileFieldValue]
	
AS
BEGIN

	SET NOCOUNT ON;

    SELECT
		REPLACE([ProfileSection].[ShortName], ' ', '') AS [SectionName],
		REPLACE([ProfileQuestion].[ShortName], ' ', '') AS [QuestionName],
		[ProfileQuestion].[IsPerSpecies],
		[ProfileQuestion].[IsRepeating],
		REPLACE([ProfileField].[ShortName], ' ', '') AS [FieldName],
		[luDataFieldType].[Name] AS [DataType],
		[LookupValue]
	FROM
		[ProfileSection] INNER JOIN [ProfileQuestion] ON [ProfileSection].[Id] = [ProfileQuestion].[ProfileSectionId]
		INNER JOIN [ProfileField] ON [ProfileQuestion].[Id] = [ProfileField].[ProfileQuestionId]
		INNER JOIN [luDataFieldType] ON [ProfileField].[DataFieldTypeId] = [luDataFieldtype].[Id]
		LEFT JOIN [ReferenceValue] ON [ProfileField].[ReferenceTableId] = [ReferenceValue].[ReferenceTableId]
	ORDER BY
		[SectionNumber],
		[QuestionNumber],
		[FieldNumber],
		[SequenceNumber]
END

GO
