<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReportSourceDirectory" value="C:\reports"/>
    <add key="ReportDestinationDirectory" value="C:\Projects\VLA86\SurveillanceProfiles\StaticReport"/>
  </appSettings>
  <connectionStrings>
    <add name="ProfilesDatabase" connectionString="Server=coconut;Database=VLA_SurveillanceProfilesDev;User Id=VLAProfilesUser;Password=VLAProfilesUser;"/>
  </connectionStrings>

</configuration>
