/****** Object:  Table [dbo].[DiseaseFilters]    Script Date: 25-03-2015 18:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseFilters](
	[FilterId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_DiseaseFilters_FilterId]  DEFAULT (newid()),
	[FilterNumber] [bigint] NOT NULL,
	[DiseaseName] [nvarchar](500) NOT NULL,
	[Disease1] [nvarchar](50) NOT NULL,
	[Disease2] [nvarchar](50) NOT NULL,
	[Disease3] [nvarchar](50) NOT NULL,
	[Disease4] [nvarchar](50) NOT NULL,
	[Disease5] [nvarchar](200) NOT NULL,
	[SelectedSpecies] [uniqueidentifier] NOT NULL,
	[DateInserted] [datetime] NOT NULL CONSTRAINT [DF_DiseaseFilters_DateInserted]  DEFAULT (getdate()),
	[LastUpdated] [datetime] NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_DiseaseFilters_IsActive]  DEFAULT ((1)),
	[IsInUse] [bit] NOT NULL CONSTRAINT [DF_DiseaseFilters_IsInUse]  DEFAULT ((1)),
 CONSTRAINT [PK_DiseaseFilters] PRIMARY KEY CLUSTERED 
(
	[FilterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
