<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net35" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net35" />
  <package id="NPoco" version="2.10.11" targetFramework="net35" />
  <package id="Sfw.ExplicitMapping" version="1.0.42430.26" targetFramework="net35" />
  <package id="VLA.Profiles.CSharpActions" version="1.0.42436.18" targetFramework="net35" />
  <package id="VLA.Profiles.DataModels" version="1.0.42436.18" targetFramework="net35" />
</packages>