<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="StaticReportFolder" value="C:\Projects\VLA86\StaticReport"/>
		<add key="PublishedProfilePdfLocation" value="C:\Projects\VLA86 - Surveillance Profiles\SurveillanceProfiles\ProfilesWeb\PublishedProfiles"/>
		<add key="ExitLink" value="http://www.defra.gov.uk/foodfarm/farmanimal/diseases/vetsurveillance/index.htm"/>
		<add key="ApplicationName" value="Internal Web Application"/>
		<add key="VersionName" value="development"/>
		<add key="EventLogSource" value="SurveillanceProfiles"/>
		<add key="ShowVersion" value="1"/>
		<add key="CslaAuthentication" value="Csla"/>
		<add key="ShowProfileReportsLink" value="1"/>
		<!-- settings for review emails-->
		<add key="ShowReviewEmailPage" value="1"/>
		<add key="EmailFromAddress" value="testing@sfwltd.co.uk"/>
		<add key="EmailFromDisplayName" value="Test Sender"/>
		<add key="UseSQLDirectly" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="ProfilesDatabase" connectionString="Server=coconut;Database=VLA_SurveillanceProfilesDev;User Id=VLAProfilesUser;Password=VLAProfilesPassword*99;"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<sessionState mode="InProc" timeout="60"/>
		<!--for live deployment, set requireSSL to "true"
    <httpCookies requireSSL="true"/>-->
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="csla" namespace="Csla.Web" assembly="Csla"/>
				<add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
				<add tagPrefix="pwc" assembly="App_Code" namespace="ProfilesWeb.Controls"/>
				<add tagPrefix="cht" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
			<tagMapping>
				<add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
			</tagMapping>
		</pages>
		<!-- uncomment this section to make the web application use the SSO for authentication. If you do this, make sure you
		configure the StructureMap.config to use the WcfClient version of the data access layer for the User Authentication service.
	     for live deployment, set requireSSL to "true"
   
		<authentication mode="Forms">
			<forms name=".SsoAuth" loginUrl="http://localhost/VLAServices/Login.aspx" requireSSL="true"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
     	-->
		<machineKey validationKey="F9D1A2D3E1D3E2F7B3D9F90FF3965ABDAC304902" decryptionKey="F9D1A2D3E1D3E2F7B3D9F90FF3965ABDAC304902F8D923AC" validation="SHA1"/>
		<!-- 
  	      Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" strict="true" explicit="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="AuthenticationModule" type="ProfilesLibrary.AuthenticationModule, ProfilesLibrary"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/><add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="AuthenticationModule" type="ProfilesLibrary.AuthenticationModule, ProfilesLibrary"/>
		</modules>
		<handlers>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/><remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
		<defaultDocument>
			<files>
				<add value="Home.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ProfilesServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="7183560" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="2097152" maxArrayLength="2097152" maxBytesPerRead="4096" maxNameTableCharCount="32768"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/Profiles.Services/StaticReportService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IStaticReportService" name="StaticReportService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/ProfileReportService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IProfileReportService" name="ProfileReportService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/UserAuthenticationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IUserAuthenticationService" name="UserAuthenticationService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/ProfileNoteService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IProfileNoteService" name="ProfileNoteService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/ProfileSearchService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IProfileSearchService" name="ProfileSearchService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/SpeciesVersionDataService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.ISpeciesVersionDataService" name="SpeciesVersionDataService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/ProfileVersionDataService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IProfileVersionDataService" name="ProfileVersionDataService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/ErrorLogService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IErrorLogService" name="ErrorLogService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/SpeciesDataService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.ISpeciesDataService" name="SpeciesDataService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/SpellCheckService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.ISpellCheckService" name="SpellCheckService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/ReviewCommentService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IReviewCommentService" name="ReviewCommentService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/ReferenceValueService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IReferenceValueService" name="ReferenceValueService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/ProfileQuestionService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IProfileQuestionService" name="ProfileQuestionService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost/Profiles.Services/PrioritisationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProfilesServices" contract="Profiles.Contracts.ServiceContracts.IPrioritisationService" name="PrioritisationService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
