/****** Object:  StoredProcedure [dbo].[spiDiseaseFilterValue]    Script Date: 25-03-2015 17:46:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[spiDiseaseFilterValue]	
	@FilterNumber as int=0,	
	@DiseaseName as varchar(500),
	@Disease1 as varchar(50),
	@Disease2 as varchar(50),
	@Disease3 as varchar(50),
	@Disease4 as varchar(50),
	@Disease5 as varchar(200),
	@SelectedSpecies as uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;	

	 IF @Disease3 = 'non-notifiable'
			
		BEGIN

		INSERT INTO DiseaseFilters (FilterNumber, DiseaseName, Disease1, Disease2, Disease3, Disease4, Disease5, SelectedSpecies)
		VALUES (@FilterNumber,@DiseaseName,@Disease1,@Disease2,@Disease3,@Disease4,'NULL',@SelectedSpecies)

		END

	  ELSE

		BEGIN

		INSERT INTO DiseaseFilters (FilterNumber, DiseaseName, Disease1, Disease2, Disease3, Disease4, Disease5, SelectedSpecies)
		VALUES (@FilterNumber,@DiseaseName,@Disease1,@Disease2,@Disease3,@Disease4,@Disease5,@SelectedSpecies)

		END
			
END
