/****** Object:  StoredProcedure [dbo].[spiDeleteFilterFromFilterList]    Script Date: 25-03-2015 17:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[spiDeleteFilterFromFilterList]	
	@DiseaseName as nvarchar(500)
AS
BEGIN
	
	SET NOCOUNT ON;

    UPDATE DiseaseFilters SET IsActive = 0, LastUpdated = GETDATE() Where DiseaseName = @DiseaseName
		
END
