---------------------------------------------------------------------------------------------------------
--- spiErrorLog.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiErrorLog]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiErrorLog]
GO

CREATE PROCEDURE [dbo].[spiErrorLog]
	@Id uniqueidentifier, 
	@ErrorType varchar(255),
	@Exception varchar(MAX), 
	@StackTrace varchar(MAX), 
	@ApplicationName varchar(100),
	@VersionName varchar(100),
	@Request varchar(255),
	@Username varchar(255)
AS
BEGIN

	SET NOCOUNT ON;

    INSERT INTO [ErrorLog]
		(
		[Id],
		[ErrorType],
		[Exception],
		[StackTrace],
		[LogDate],
		[Username],
		[ApplicationName],
		[VersionName],
		[Request]
		)
	VALUES
		(
		@Id,
		@ErrorType,
		@Exception,
		@StackTrace,
		GETDATE(),
		@Username,
		@ApplicationName,
		@VersionName,
		@Request
		) 
END

GO
GRANT EXECUTE ON [dbo].[spiErrorLog] TO [VLAProfilesUser]
GO
