/****** Object:  StoredProcedure [dbo].[spiGetMaxFilterNumber]    Script Date: 25-03-2015 17:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[spiGetMaxFilterNumber]
	@DiseaseName as nvarchar(500)
AS
BEGIN

	IF ((SELECT COUNT(*) FROM DiseaseFilters Where DiseaseName = @DiseaseName AND IsActive = 1) = 0)

	BEGIN

		SELECT TOP 1 ISNUll(MAX(FilterNumber), 0) + 1 as FilterNumber FROM DiseaseFilters ORDER BY 1 DESC

	END

	ELSE

	BEGIN

		SELECT 0 as FN

	END
		
END
