/****** Object:  StoredProcedure [dbo].[spiGetDiseaseRankingFilterName]    Script Date: 30-03-2015 16:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spiGetDiseaseRankingFilterName]	
	@FilterNumberFetched as int=0
AS
BEGIN
	
	SET NOCOUNT ON;

    --SELECT FilterId, DiseaseName, DateInserted FROM DiseaseFilters Where DateInserted IN (select max(DateInserted) from DiseaseFilters Where IsActive = 1 AND IsInUse = 1 GROUP BY FilterNumber) ORDER BY DateInserted ASC
	SELECT FilterId, DiseaseName, DateInserted FROM( SELECT ROW_NUMBER() OVER(ORDER BY FilterId ) AS Row1, FilterId, DiseaseName, DateInserted FROM [dbo].DiseaseFilters Where DateInserted IN (SELECT max(DateInserted) FROM [dbo].DiseaseFilters Where IsActive = 1 AND IsInUse = 1 GROUP BY FilterNumber)) as c Where Row1 IN ( SELECT max(Row1) FROM ( SELECT ROW_NUMBER() OVER(ORDER BY FilterId ) AS Row1, FilterId, DiseaseName, DateInserted FROM [dbo].DiseaseFilters Where DateInserted IN (SELECT max(DateInserted) FROM [dbo].DiseaseFilters Where IsActive = 1 AND IsInUse = 1 GROUP BY FilterNumber)) as y GROUP BY DiseaseName, DateInserted)  ORDER BY DateInserted DESC
		
END