--------------------------------------------------------------------------------------------------------
--- spiProfileVersionSectionUser.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileVersionSectionUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileVersionSectionUser]
GO

CREATE PROCEDURE [dbo].[spiProfileVersionSectionUser]
	@ProfileVersionId uniqueidentifier,
	@ProfileSectionId uniqueidentifier,
	@UserId uniqueidentifier,
	@LastContributionDate datetime
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS
		(
		SELECT
			[ProfileVersionId]
		FROM
			[ProfileVersionSectionUser]
		WHERE
			[ProfileVersionId] = @ProfileVersionId AND
			[ProfileSectionId] = @ProfileSectionId AND
			[UserId] = @UserId
		)
	BEGIN
		UPDATE 
			[ProfileVersionSectionUser]
		SET
			[LastContributionDate] = @LastContributionDate
		WHERE
			[ProfileVersionId] = @ProfileVersionId AND
			[ProfileSectionId] = @ProfileSectionId AND
			[UserId] = @UserId
	END
	ELSE
	BEGIN
		INSERT INTO	[ProfileVersionSectionUser]
			(
			[ProfileVersionId],
			[ProfileSectionId],
			[UserId], 
			[LastContributionDate]
			)
		VALUES
			(
			@ProfileVersionId,
			@ProfileSectionId,
			@UserId,
			@LastContributionDate
			)
	END

	
END

GO
GRANT EXECUTE ON [dbo].[spiProfileVersionSectionUser] TO [VLAProfilesUser]
GO
