--------------------------------------------------------------------------------------------------------
--- spiProfileVersionNoteQuestion.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileVersionNoteQuestion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileVersionNoteQuestion]
GO

CREATE PROCEDURE [dbo].[spiProfileVersionNoteQuestion]
	@ProfileVersionNoteId uniqueidentifier,
	@ProfileQuestionId uniqueidentifier,
	@ProfileSectionId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

	IF NOT EXISTS 
	(
		SELECT
			[ProfileVersionNoteId],
			[ProfileQuestionId],
			[ProfileSectionId]
		FROM
			[ProfileVersionNoteQuestion]
		WHERE
			[ProfileVersionNoteId] = @ProfileVersionNoteId AND
			[ProfileQuestionId] = @ProfileQuestionId AND
			[ProfileSectionId] = @ProfileSectionId
	)
	BEGIN
		INSERT INTO [ProfileVersionNoteQuestion]
		(
			[ProfileVersionNoteId],
			[ProfileQuestionId],
			[ProfileSectionId]
		)
		VALUES
		(
			@ProfileVersionNoteId,
			@ProfileQuestionId,
			@ProfileSectionId
		)
	END

END

GO
GRANT EXECUTE ON [dbo].[spiProfileVersionNoteQuestion] TO [VLAProfilesUser]
GO
