-------------------------------------------------------------------------------
--- spiProfileContributor.SQL
-------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileContributor]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileContributor]
GO
 
CREATE PROCEDURE [dbo].[spiProfileContributor]
	@UserId uniqueidentifier,
	@UserName varchar(50),
	@FullName varchar(100),
	@Organisation varchar(100),
	@RoleId uniqueidentifier,
	@ProfileId uniqueidentifier,
	@LastUpdated timestamp,
	@NewLastUpdated timestamp OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--Does User exist?
	IF EXISTS
		(
		SELECT
			[Id]
		FROM
			[User]
		WHERE
			[Id] = @UserId
		)
	BEGIN
		-- Throw error if timestamp is different 
		IF NOT EXISTS
		(
		SELECT
			[Id]
		FROM
			[User]
		WHERE
			[Id] = @UserId AND
			[LastUpdated] = @LastUpdated
		)	
			BEGIN
				RAISERROR('The user information has been edited by another user', 16, 1)
				RETURN
			END
		
		IF EXISTS --If user exists and is not an SSO user
			(SELECT
				*
			FROM
				[dbo].[User]
			WHERE
				[Id] = @UserId AND
				[SsoUserId] IS NULL)
		BEGIN

			-- Update User
			UPDATE
				[User]
			SET
				[UserName] = @UserName,
				[FullName] = @FullName,
				[Organisation] = @Organisation
			WHERE
				[Id] = @UserId

		END
	
		-- Does Profile User exist?
		IF EXISTS
			(
			SELECT
				[ProfileUserRoleId]
			FROM
				[ProfileUser]
			WHERE
				[UserId] = @UserId 
				AND [ProfileId] = @ProfileId
			)
				BEGIN
					
					-- Update Profile User
					UPDATE
						[ProfileUser]
					SET
						[ProfileUserRoleId] = @RoleId
					WHERE
						[UserId] = @UserId 
						AND [ProfileId] = @ProfileId
					
			END	ELSE BEGIN

					-- Insert Profile User
					INSERT INTO [ProfileUser]
						(
						[UserId],
						[ProfileId],
						[ProfileUserRoleId]
						)
					VALUES
						(
						@UserId,
						@ProfileId,
						@RoleId
						)
				END
	END ELSE BEGIN
	
	IF EXISTS
		(
		SELECT
			[Id]
		FROM
			[User]
		WHERE
			[UserName] = @UserName
		)	
			BEGIN
				RAISERROR('There is already a user with the specified username', 16, 1)
				RETURN
			END

		-- Insert User
		INSERT INTO [User]
			(
			[Id],
			[UserName],
			[FullName],
			[Organisation],
			[IsProfileEditor],
			[IsPolicyProfileUser]
			)
		VALUES
			(
			@UserId,
			@UserName,
			@FullName,
			@Organisation,
			0,
			0
			)
		
		-- Insert Profile User
		INSERT INTO [ProfileUser]
			(
			[UserId],
			[ProfileId],
			[ProfileUserRoleId]
			)
		VALUES
			(
			@UserId,
			@ProfileId,
			@RoleId
			)
	END

	-- Select Timestamp
	SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[User]
	WHERE
		[Id] = @UserId
END

GO
GRANT EXECUTE ON [dbo].[spiProfileContributor] TO [VLAProfilesUser]
GO

