--------------------------------------------------------------------------------------------------------
--- spiProfileSectionUser.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileSectionUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileSectionUser]
GO

CREATE PROCEDURE [dbo].[spiProfileSectionUser]
	@UserId uniqueidentifier,
	@ProfileId uniqueidentifier,
	@ProfileSectionId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	IF NOT EXISTS 
	(
		SELECT
			[UserId],
			[ProfileId],
			[ProfileSectionId]
		FROM
			[ProfileSectionUser]
		WHERE
			[UserId] = @UserId AND
			[ProfileId] = @ProfileId AND
			[ProfileSectionId] = @ProfileSectionId
	)
	BEGIN

		INSERT 
			[ProfileSectionUser]
		(
			[UserId],
			[ProfileId],
			[ProfileSectionId]
		)
		VALUES
		(
			@UserId,
			@ProfileId,
			@ProfileSectionId
		)
	
	END

END

GO
GRANT EXECUTE ON [dbo].[spiProfileSectionUser] TO [VLAProfilesUser]
GO
