----------------------------------------------------------------------------------------------------------
--- spiProfileVersionQuestionRow.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileVersionQuestionRow]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileVersionQuestionRow]
GO

CREATE PROCEDURE spiProfileVersionQuestionRow
	@Id uniqueidentifier,
	@ProfileVersionId uniqueidentifier,
	@ProfileQuestionId uniqueidentifier,
	@SequenceNumber int
AS
BEGIN
	
	SET NOCOUNT ON;

    INSERT INTO [ProfileVersionQuestionRow]
		(
		[Id],
		[ProfileVersionId],
		[ProfileQuestionId],
		[SequenceNumber]
		)
	VALUES
		(
		@Id,
		@ProfileVersionId,
		@ProfileQuestionId,
		@SequenceNumber
		)

END

GO
GRANT EXECUTE ON [dbo].[spiProfileVersionQuestionRow] TO [VLAProfilesUser]
GO
