---------------------------------------------------------------------------------------------------------
--- spiProfileVersionReportData.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileVersionReportData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileVersionReportData]
GO

CREATE PROCEDURE [dbo].[spiProfileVersionReportData]
	@ProfileVersionId uniqueidentifier,
	@ProfileReportId uniqueidentifier,
	@PdfData image
AS
BEGIN
	
	SET NOCOUNT ON;

	-- check that this profile version is allowed to have a profile report of this type
	IF EXISTS
		(
		SELECT
			[Profile].[Id]
		FROM
			[ProfileVersion] INNER JOIN [Profile] ON [ProfileVersion].[ProfileId] = [Profile].[Id]
		WHERE
			[ProfileVersion].[Id] = @ProfileVersionId AND
			[Profile].[ParentId] IS NOT NULL
		) BEGIN
		
		-- profile version belongs to a "what-if" scenario; check it is allowed this report type
		IF NOT EXISTS
			(
			SELECT
				[Id]
			FROM
				[luProfileReport]
			WHERE
				[Id] = @ProfileReportId AND
				[IncludeInScenarios] = 1
			) BEGIN
				RAISERROR('This report type is not allowed for profile versions that belong to a "what-if" scenario.',16,1)
				RETURN
			END
	END

	-- save the PDF data into the database
    IF EXISTS (
		SELECT
			[ProfileVersionId],
			[ProfileReportId]
		FROM
			[ProfileVersionReport]
		WHERE
			[ProfileVersionId] = @ProfileVersionId AND
			[ProfileReportId] = @ProfileReportId
		) BEGIN

		UPDATE
			[ProfileVersionReport]
		SET
			[PdfData] = @PdfData
		WHERE
			[ProfileVersionId] = @ProfileVersionId AND
			[ProfileReportId] = @ProfileReportId

	END ELSE BEGIN

		INSERT INTO [ProfileVersionReport]
			(
			[ProfileVersionId],
			[ProfileReportId],
			[PdfData]
			)
		VALUES
			(
			@ProfileVersionId,
			@ProfileReportId,
			@PdfData
			)
	END
END

GO
GRANT EXECUTE ON [dbo].[spiProfileVersionReportData] TO [VLAProfilesUser]
GO
