-------------------------------------------------------------------------------------------------------
--- spiProfileVersionNote.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileVersionNote]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileVersionNote]
GO

CREATE PROCEDURE [dbo].[spiProfileVersionNote]
	@Id uniqueidentifier,
	@ProfileVersionId uniqueidentifier,
	@ProfileNoteTypeId uniqueidentifier,
	@NoteText varchar(max),
	@NewLastUpdated timestamp OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [ProfileVersionNote]
	(
		[Id],
		[ProfileVersionId],
		[ProfileNoteTypeId],
		[NoteText]
	)
	VALUES
	(
		@Id,
		@ProfileVersionId,
		@ProfileNoteTypeId,
		@NoteText
	)


	SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[ProfileVersionNote]
    WHERE
		[Id] = @Id

END

GO
GRANT EXECUTE ON [dbo].[spiProfileVersionNote] TO [VLAProfilesUser]
GO
