-------------------------------------------------------------------------------------------------------
--- spiProfileVersionFieldMultiValue.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileVersionFieldMultiValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileVersionFieldMultiValue]
GO

CREATE PROCEDURE [dbo].[spiProfileVersionFieldMultiValue] 
	@ProfileVersionId uniqueidentifier,
	@ProfileFieldId uniqueidentifier,
	@SpeciesId uniqueidentifier = NULL,
	@ProfileVersionQuestionRowId uniqueidentifier = NULL,
	@ListValue uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

   INSERT INTO [ProfileVersionFieldValue]
	(
		[Id],
		[ProfileVersionId],
		[ProfileFieldId],
		[SpeciesId],
		[ProfileVersionQuestionRowId],
		[ListValue]
	)
	VALUES
	(
		NEWID(),
		@ProfileVersionId,
		@ProfileFieldId,
		@SpeciesId,
		@ProfileVersionQuestionRowId,
		@ListValue
	)
END

GO
GRANT EXECUTE ON [dbo].[spiProfileVersionFieldMultiValue] TO [VLAProfilesUser]
GO
