---------------------------------------------------------------------------------------------------------
--- spiProfile.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfile]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfile]
GO

CREATE PROCEDURE [dbo].[spiProfile]
	@ProfileId uniqueidentifier,
	@ParentId uniqueidentifier = NULL,
	@Title varchar(255) = NULL,
	@ScenarioTitle varchar(255) = NULL,
	@ProfileStatusId uniqueidentifier = NULL,
	@NewLastUpdated timestamp OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	IF @Title IS NOT NULL BEGIN

		IF @ParentId IS NOT NULL BEGIN
			RAISERROR('The profile title of a "what-if" scenario cannot be set',16,1)
			RETURN
		END

		IF EXISTS (
			SELECT 
				[Id]
			FROM	
				[Profile] 
			WHERE
				[Title] = @Title AND
				[Id] != @ProfileId
		) BEGIN
			RAISERROR('The profile title is already in use for a different profile',16,1)
			RETURN
		END
	END

	IF @ScenarioTitle IS NOT NULL BEGIN

		IF @ParentId IS NULL BEGIN
			RAISERROR('The scenario title of a "current situation" profile cannot be set',16,1)
			RETURN
		END

		IF EXISTS (
			SELECT 
				[Id]
			FROM	
				[Profile] 
			WHERE
				[ScenarioTitle] = @ScenarioTitle AND
				[ParentId] = @ParentId AND
				[Id] != @ProfileId
		) BEGIN
			RAISERROR('The scenario title is already in use for a different scenario belonging to the same profile',16,1)
			RETURN
		END
	END

    INSERT INTO [Profile]
		(
		[Id],
		[ParentId],
		[Title],
		[ScenarioTitle],
		[ProfileStatusId]
		)
	VALUES
		(
		@ProfileId,
		@ParentId,
		@Title,
		@ScenarioTitle,
		@ProfileStatusId
		)

	SELECT
		@NewLastUpdated = [LastUpdated]
    FROM
		[Profile]
    WHERE
		[Id] = @ProfileId

END

GO
GRANT EXECUTE ON [dbo].[spiProfile] TO [VLAProfilesUser]
GO
