-------------------------------------------------------------------------------------------------------
--- spiProfileVersion.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileVersion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileVersion]
GO

CREATE PROCEDURE [dbo].[spiProfileVersion]
	@ProfileVersionId uniqueidentifier,
	@ProfileId uniqueidentifier,
	@Title varchar(255),
	@ScenarioTitle varchar(255) = NULL,
	@VersionMajor tinyint,
	@VersionMinor tinyint,
	@State varchar(50),
	@EffectiveDateFrom smalldatetime,
	@CloneProfileVersionId uniqueidentifier = NULL,
	@IsPublic bit
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @ProfileVersionStateId uniqueidentifier

	SELECT
		@ProfileVersionStateId = [Id]
	FROM
		[luProfileVersionState]
	WHERE
		[Name] = @State

	IF EXISTS (
		SELECT
			[Id]
		FROM
			[ProfileVersion]
		WHERE
			[ProfileId] = @ProfileId AND
			[VersionMajor] = @VersionMajor AND
			[VersionMinor] = @VersionMinor
	) BEGIN
		RAISERROR('There is already a profile version for this profile with the specified version number. The profile may have been altered by another user.',16,1)
		RETURN
	END

	IF @IsPublic=1 AND @State='Draft'
		BEGIN
			RAISERROR('You cannot make a draft profile public.',16,1)
			RETURN
	END

	INSERT INTO [ProfileVersion]
		(
		[Id],
		[ProfileId],
		[Title],
		[ScenarioTitle],
		[VersionMajor],
		[VersionMinor],
		[ProfileVersionStateId],
		[EffectiveDateFrom],
		[IsPublic]
		)
	VALUES
		(
		@ProfileVersionId,
		@ProfileId,
		@Title,
		@ScenarioTitle,
		@VersionMajor,
		@VersionMinor,
		@ProfileVersionStateId,
		@EffectiveDateFrom,
		@IsPublic
		)

	IF @CloneProfileVersionId IS NULL BEGIN

		INSERT INTO [ProfileVersionSection]
			(
			[ProfileVersionId],
			[ProfileSectionId]
			)
		SELECT
			@ProfileVersionId,
			[ProfileSection].[Id]
		FROM
			[ProfileSection]

		-- insert default field values
		INSERT INTO [ProfileVersionFieldValue]
			(
			[Id],
			[ProfileVersionId],
			[ProfileFieldId],
			[SpeciesId],
			[ProfileVersionQuestionRowId],
			[TextValue]
			)
		SELECT
			NEWID(),
			@ProfileVersionId,
			[Id],
			NULL,
			NULL,
			[DefaultValue]
		FROM
			[ProfileField]
		WHERE
			[DefaultValue] IS NOT NULL
	
	END ELSE BEGIN

		INSERT INTO [ProfileVersionSection]
			(
			[ProfileVersionId],
			[ProfileSectionId],
			[TechnicalReviewFrequency],
			[PolicyReviewFrequency],
			[NextTechnicalReview],
			[NextPolicyReview],
			[TechnicalReviewStatusId],
			[PolicyReviewStatusId],
			[TechnicalReviewCompleted],
			[PolicyReviewCompleted]
			)
		SELECT
			@ProfileVersionId,
			[ProfileSectionId],
			[TechnicalReviewFrequency],
			[PolicyReviewFrequency],
			[NextTechnicalReview],
			[NextPolicyReview],
			[TechnicalReviewStatusId],
			[PolicyReviewStatusId],
			[TechnicalReviewCompleted],
			[PolicyReviewCompleted]
		FROM
			[ProfileVersionSection]
		WHERE
			[ProfileVersionId] = @CloneProfileVersionId

		DECLARE @NoteIdTable TABLE
			(
			[Id] uniqueidentifier,
			[NewId] uniqueidentifier
			)

		INSERT INTO @NoteIdTable
			(
			[Id],
			[NewId]
			)
		SELECT
			[Id],
			NEWID()
		FROM
			[ProfileVersionNote]
		WHERE
			[ProfileVersionId] = @CloneProfileVersionId

		INSERT INTO [ProfileVersionNote]
			(
			[Id],
			[ProfileVersionId],		
			[ProfileNoteTypeId],
			[NoteText]
			)
		SELECT
			idt.[NewId],
			@ProfileVersionId,			
			[ProfileVersionNote].[ProfileNoteTypeId],
			[ProfileVersionNote].[NoteText]
		FROM
			[ProfileVersionNote] INNER JOIN @NoteIdTable idt ON [ProfileVersionNote].[Id] = idt.[Id]
		WHERE
			[ProfileVersionNote].[ProfileVersionId] = @CloneProfileVersionId

		INSERT INTO [ProfileVersionNoteQuestion]
			(
			[ProfileVersionNoteId],
			[ProfileSectionId],
			[ProfileQuestionId]			
			)
		SELECT
			idt.[NewId],
			[ProfileVersionNoteQuestion].[ProfileSectionId],
			[ProfileVersionNoteQuestion].[ProfileQuestionId]
		FROM
			[ProfileVersionNote] INNER JOIN [ProfileVersionNoteQuestion] ON [ProfileVersionNote].[Id] = [ProfileVersionNoteQuestion].[ProfileVersionNoteId]
			INNER JOIN @NoteIdTable idt ON [ProfileVersionNote].[Id] = idt.[Id]
		WHERE
			[ProfileVersionNote].[ProfileVersionId] = @CloneProfileVersionId;

		WITH [ReviewCommentList]
			(
			[Id],
			[NewId],
			[ProfileSectionId],
			[CommentDate],
			[Subject],
			[CommentReference],
			[Comment],
			[UserId],
			[ParentId],
			[NewParentId]
			)
		AS
			(
			SELECT
				[ReviewComment].[Id],
				NEWID() AS [NewId],
				[ReviewComment].[ProfileSectionId],
				[ReviewComment].[CommentDate],
				[ReviewComment].[Subject],
				[ReviewComment].[CommentReference],
				[ReviewComment].[Comment],
				[ReviewComment].[UserId],
				[ReviewComment].[ParentId],
				CAST(NULL AS uniqueidentifier) AS [NewParentId]
			FROM
				[ReviewComment]
			WHERE
				[ReviewComment].[ProfileVersionId] = @CloneProfileVersionId AND
				[ReviewComment].[ParentId] IS NULL

			UNION ALL

			SELECT
				[ReviewComment].[Id],
				NEWID() AS [NewId],
				[ReviewComment].[ProfileSectionId],
				[ReviewComment].[CommentDate],
				[ReviewComment].[Subject],
				[ReviewComment].[CommentReference],
				[ReviewComment].[Comment],
				[ReviewComment].[UserId],
				[ReviewComment].[ParentId],
				[ReviewCommentList].[NewId] AS [NewParentId]
			FROM
				[ReviewComment] INNER JOIN [ReviewCommentList] ON [ReviewComment].[ParentId] = [ReviewCommentList].[Id]
			WHERE
				[ReviewComment].[ProfileVersionId] = @CloneProfileVersionId
			)

		INSERT INTO [ReviewComment]
			(
			[Id],
			[ProfileVersionId],
			[ProfileSectionId],
			[CommentDate],
			[Subject],
			[CommentReference],
			[Comment],
			[UserId],
			[ParentId]
			)
		SELECT
			[NewId],
			@ProfileVersionId,
			[ProfileSectionId],
			[CommentDate],
			[Subject],
			[CommentReference],
			[Comment],
			[UserId],
			[NewParentId]
		FROM
			[ReviewCommentList]

		DECLARE @RowIdTable TABLE
			(
			[Id] uniqueidentifier,
			[NewId] uniqueidentifier
			)

		INSERT INTO @RowIdTable
			(
			[Id],
			[NewId]
			)
		SELECT
			[Id],
			NEWID()
		FROM
			[ProfileVersionQuestionRow]
		WHERE
			[ProfileVersionId] = @CloneProfileVersionId

		INSERT INTO [ProfileVersionQuestionRow]
			(
			[Id],
			[ProfileVersionId],
			[ProfileQuestionId],
			[SequenceNumber]
			)
		SELECT
			rit.[NewId],
			@ProfileVersionId,
			[ProfileVersionQuestionRow].[ProfileQuestionId],
			[ProfileVersionQuestionRow].[SequenceNumber]
		FROM
			[ProfileVersionQuestionRow] INNER JOIN @RowIdTable rit ON [ProfileVersionQuestionRow].[Id] = rit.[Id]
		WHERE
			[ProfileVersionQuestionRow].[ProfileVersionId] = @CloneProfileVersionId

		INSERT INTO [ProfileVersionFieldValue]
			(
			[Id],
			[ProfileVersionId],
			[ProfileFieldId],
			[SpeciesId],
			[ProfileVersionQuestionRowId],
			[BooleanValue],
			[ListValue],
			[DecimalValue],
			[DateValue],
			[TextValue]
			)
		SELECT
			NEWID(),
			@ProfileVersionId,
			[ProfileFieldId],
			NULL,
			rit.[NewId],
			[BooleanValue],
			[ListValue],
			[DecimalValue],
			[DateValue],
			[TextValue]
		FROM
			[ProfileVersionFieldValue] LEFT JOIN @RowIdTable rit ON [ProfileVersionFieldValue].[ProfileVersionQuestionRowId] = rit.[Id]
		WHERE
			[ProfileVersionFieldValue].[ProfileVersionId] = @CloneProfileVersionId AND
			[ProfileVersionFieldValue].[SpeciesId] IS NULL
	END    

END

GO
GRANT EXECUTE ON [dbo].[spiProfileVersion] TO [VLAProfilesUser]
GO
