---------------------------------------------------------------------------------------------------------
--- spiProfileVersionSpecies.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiProfileVersionSpecies]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiProfileVersionSpecies]
GO

CREATE PROCEDURE [dbo].[spiProfileVersionSpecies]
	@ProfileVersionId uniqueidentifier,
	@SpeciesId uniqueidentifier,
	@CloneProfileVersionId uniqueidentifier = NULL,
	@AffectedSpeciesTypeName varchar(50)
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @ParentSpeciesCount int
    DECLARE @ChildSpeciesCount int
    DECLARE @SpeciesIsActive bit
    DECLARE @AffectedSpeciesTypeId uniqueidentifier
	
    -- if this species doesn't exist (or isn't profiled) in the profile being cloned, treat as if we are not cloning
    IF NOT EXISTS
    (
    SELECT
		[ProfileVersionId] 
	FROM
		[ProfileVersionSpecies] INNER JOIN [luAffectedSpeciesType] ON [ProfileVersionSpecies].[AffectedSpeciesTypeId] = [luAffectedSpeciesType].[Id]
	WHERE
		[ProfileVersionId] = @CloneProfileVersionId AND 
		[SpeciesId] = @SpeciesId AND
		[luAffectedSpeciesType].[Name] = 'Profiled'
    ) BEGIN
    SET @CloneProfileVersionId = NULL
    END

    SELECT
		@ChildSpeciesCount = MAX(CAST(dbo.IsAncestorSpecies([SpeciesId], @SpeciesId) AS int)),
		@ParentSpeciesCount = MAX(CAST(dbo.IsAncestorSpecies(@SpeciesId, [SpeciesId]) AS int))
    FROM
		[ProfileVersionSpecies]
    WHERE
		[ProfileVersionId] = @ProfileVersionId

    IF @ParentSpeciesCount > 0 BEGIN
		RAISERROR('You cannot add this species to the profile version because it is an ancestor of an existing affected species', 16, 1)
		RETURN
    END

    IF @ChildSpeciesCount > 0 BEGIN
		RAISERROR('You cannot add this species to the profile version because it is a descendant of an existing affected species', 16, 1)
		RETURN
    END

    SELECT
		@SpeciesIsActive = CAST(CASE WHEN [EffectiveDateTo] IS NULL THEN 1 ELSE 0 END AS bit)
    FROM
		[Species]
    WHERE
		[Id] = @SpeciesId

    IF @SpeciesIsActive = 0 BEGIN
		RAISERROR('You cannot add an inactive species to a profile version', 16, 1)
		RETURN
    END

	SELECT
		@AffectedSpeciesTypeId = [Id]
	FROM
		[luAffectedSpeciesType]
	WHERE
		[Name] = @AffectedSpeciesTypeName
	
	IF @AffectedSpeciesTypeId IS NULL BEGIN
		RAISERROR('The specified affected species type name does not exist in the database.', 16, 1)
		RETURN
	END
	
    --create the row in the link table to indicate that this species is affected for this profile version
    INSERT INTO [ProfileVersionSpecies]
		(
		ProfileVersionId,
		SpeciesId,
		AffectedSpeciesTypeId
		)
    VALUES
		(
		@ProfileVersionId,
		@SpeciesId,
		@AffectedSpeciesTypeId
		)

	IF @AffectedSpeciesTypeName = 'Profiled' AND @CloneProfileVersionId IS NOT NULL BEGIN
	
		INSERT INTO [ProfileVersionFieldValue]
			(
			[Id],
			[ProfileVersionId],
			[ProfileFieldId],
			[SpeciesId],
			[ProfileVersionQuestionRowId],
			[BooleanValue],
			[ListValue],
			[DecimalValue],
			[DateValue],
			[TextValue]
			)
		SELECT
			NEWID(),
			@ProfileVersionId,
			[ProfileFieldId],
			[SpeciesId],
			NULL,
			[BooleanValue],
			[ListValue],
			[DecimalValue],
			[DateValue],
			[TextValue]
		FROM
			[ProfileVersionFieldValue]
		WHERE
			[ProfileVersionFieldValue].[ProfileVersionId] = @CloneProfileVersionId AND
			[ProfileVersionFieldValue].[SpeciesId] = @SpeciesId AND
			[ProfileVersionFieldValue].[ProfileVersionQuestionRowId] IS NULL

INSERT INTO [ProfileVersionFieldValue]
			(
			[Id],
			[ProfileVersionId],
			[ProfileFieldId],
			[SpeciesId],
			[ProfileVersionQuestionRowId],
			[BooleanValue],
			[ListValue],
			[DecimalValue],
			[DateValue],
			[TextValue]
			)
		SELECT
			NEWID(),
			@ProfileVersionId,			
			[ProfileVersionFieldValue].[ProfileFieldId],
			[ProfileVersionFieldValue].[SpeciesId],
			pvqr2.[Id],
			[ProfileVersionFieldValue].[BooleanValue],
			[ProfileVersionFieldValue].[ListValue],
			[ProfileVersionFieldValue].[DecimalValue],
			[ProfileVersionFieldValue].[DateValue],
			[ProfileVersionFieldValue].[TextValue]	
		FROM 
			[ProfileVersionQuestionRow] pvqr1 INNER JOIN 
			[ProfileVersionQuestionRow] pvqr2 ON pvqr1.[ProfileQuestionId] = pvqr2.[ProfileQuestionId] AND 
			pvqr1.[SequenceNumber] = [pvqr2].[SequenceNumber] INNER JOIN
			[ProfileVersionFieldValue] ON pvqr1.[Id] = [ProfileVersionFieldValue].[ProfileVersionQuestionRowId]
		WHERE
			pvqr1.[ProfileVersionId] = @CloneProfileVersionId AND
			pvqr2.[ProfileVersionId] = @ProfileVersionId AND
			[ProfileVersionFieldValue].[SpeciesId] = @SpeciesId

	END
		
END

GO
GRANT EXECUTE ON [dbo].[spiProfileVersionSpecies] TO [VLAProfilesUser]
GO
