---------------------------------------------------------------------------------------------------------
--- spiReviewComment.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiReviewComment]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiReviewComment]
GO

CREATE PROCEDURE [dbo].[spiReviewComment] 
	@Id uniqueidentifier,
	@ProfileVersionId uniqueidentifier,
	@ProfileSectionId uniqueidentifier,
	@CommentDate datetime,
	@Subject varchar(255),
	@CommentReference varchar(255),
	@Comment text,
	@UserName varchar(50),
	@ParentId uniqueidentifier,
    @NewLastUpdated timestamp OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @UserId uniqueidentifier

	SELECT
		@UserId = [Id]
	FROM
		[User]
	WHERE
		[UserName] = @UserName

    INSERT INTO [ReviewComment]
		(
		[Id],
		[ProfileVersionId],
		[ProfileSectionId],
		[CommentDate],
		[Subject],
		[CommentReference],
		[Comment],
		[UserId],
		[ParentId]
		)
	VALUES
		(
		@Id,
		@ProfileVersionId,
		@ProfileSectionId,
		@CommentDate,
		@Subject,
		@CommentReference,
		@Comment,
		@UserId,
		@ParentId
		)

    SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[ReviewComment]
    WHERE
		[Id] = @Id

END

GO
GRANT EXECUTE ON [dbo].[spiReviewComment] TO [VLAProfilesUser]
GO
