----------------------------------------------------------------------------------------------------------
--- spiReferenceValue.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiReferenceValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiReferenceValue]
GO

CREATE PROCEDURE [dbo].[spiReferenceValue]
	@ReferenceTableId uniqueidentifier,
	@ValueId uniqueidentifier,
    @NewLookupValue varchar(255),
    @UserId uniqueidentifier,
    @Reason varchar(255)
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @EffectiveDate datetime
    SET @EffectiveDate = GETDATE()

	IF NOT EXISTS
	(
		SELECT
			[Id]	
		FROM
			[ReferenceTable]
		WHERE
			[Id] = @ReferenceTableId AND
			[IsMaintainable] = 1
	) BEGIN
		RAISERROR('The specified reference table does not exist or is not maintainable', 16, 1)
		RETURN
	END

    IF EXISTS
	(
		SELECT
			[Id]
		FROM
			[ReferenceValue]
		WHERE
			[LookupValue] = @NewLookupValue AND
			[ReferenceTableId] = @ReferenceTableId
	) BEGIN
		RAISERROR('There is already a reference value with this name', 16, 1)
		RETURN
	END
	  
	INSERT INTO [ReferenceTableAuditLog]
		(
		[Id],
		[ReferenceTableId],
		[ReferenceValueId],
		[OldLookupValue],
		[NewLookupValue],
		[UserId],
		[EffectiveDate],
		[LogDate],
		[Reason]
		)
	VALUES
		(
		NEWID(),
		@ReferenceTableId,
		@ValueId,
		'- new entry -',
		@NewLookupValue,
		@UserId,
		@EffectiveDate,
		@EffectiveDate,
		@Reason
		)

	INSERT INTO [ReferenceValue]
		(
		[Id],
		[ReferenceTableId],
		[LookupValue],
		[EffectiveDateFrom],
		[EffectiveDateTo]
		)
    VALUES
		(
		@ValueId,
		@ReferenceTableId,
		@NewLookupValue,
		@EffectiveDate,
		NULL
		)
END

GO
GRANT EXECUTE ON [dbo].[spiReferenceValue] TO [VLAProfilesUser]
GO
