---------------------------------------------------------------------------------------------------------
--- spiStaticReport.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiStaticReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiStaticReport]
GO

CREATE PROCEDURE [dbo].[spiStaticReport]
	@Title varchar(255),
	@PdfData image,
	@IsUserManual bit,
	@IsPublic bit
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @StaticReportId uniqueidentifier
	DECLARE @VersionMajor tinyint
	DECLARE @EffectiveDate smalldatetime
	DECLARE @OldVersionIsUserManual bit

	SET @StaticReportId = NULL
	SET @VersionMajor = 1
	SET @EffectiveDate = GETDATE()
	SET @OldVersionIsUserManual = @IsUserManual

	SELECT
		@StaticReportId = [StaticReportId],
		@VersionMajor = [VersionMajor] + 1,
		@OldVersionIsUserManual = [IsUserManual]
	FROM
		[StaticReportVersion] INNER JOIN [StaticReport] ON [StaticReportVersion].[StaticReportId] = [StaticReport].[Id]
	WHERE
		[Title] = @Title AND
		[EffectiveDateTo] IS NULL

	IF @OldVersionIsUserManual != @IsUserManual BEGIN
		IF @IsUserManual = 1 BEGIN
			RAISERROR('You cannot upload a user manual with the same title as an existing static report',16,1)
			RETURN
		END ELSE BEGIN
			RAISERROR('You cannot upload a static report with the same title as an existing user manual',16,1)
			RETURN
		END
	END

	IF @StaticReportId IS NULL BEGIN
		SET @StaticReportId = NEWID()

		INSERT INTO [StaticReport]
			(
			[Id],
			[IsUserManual]
			)
		VALUES
			(
			@StaticReportId,
			@IsUserManual
			)

	END ELSE BEGIN

		UPDATE
			[StaticReportVersion]
		SET
			[EffectiveDateTo] = @EffectiveDate
		WHERE
			[StaticReportId] = @StaticReportId AND
			[EffectiveDateTo] IS NULL

	END

	INSERT INTO [StaticReportVersion]
		(
		[Id],
		[StaticReportId],
		[Title],
		[VersionMajor],
		[EffectiveDateFrom],
		[PdfData],
		[IsPublic]
		)
	VALUES
		(
		NEWID(),
		@StaticReportId,
		@Title,
		@VersionMajor,
		@EffectiveDate,
		@PdfData,
		@IsPublic
		)
END

GO
GRANT EXECUTE ON [dbo].[spiStaticReport] TO [VLAProfilesUser]
GO
