-------------------------------------------------------------------------------------------------------
--- spiSpellCustomWord.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiSpellCustomWord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiSpellCustomWord]
GO

CREATE PROCEDURE [dbo].[spiSpellCustomWord]
	@Id uniqueidentifier,
	@Word varchar(255),
	@LastUpdated timestamp output
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO [dbo].[SpellCustomWord]
	(
		[Id],
		[Word]
	)
	VALUES
	(
		@Id,
		@Word
	)
	
	SELECT 
		@LastUpdated = LastUpdated 
	FROM 
		[dbo].[SpellCustomWord]
	WHERE
		[Id] = @Id

END

GO
GRANT EXECUTE ON [dbo].[spiSpellCustomWord] TO [VLAProfilesUser]
GO
