--------------------------------------------------------------------------------------------------------
--- spiSpecies.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiSpecies]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiSpecies]
GO

CREATE PROCEDURE [dbo].[spiSpecies]
	@SpeciesId uniqueidentifier,
	@UserId uniqueidentifier,
	@Reason varchar(255),
	@ParentId uniqueidentifier,
	@Name varchar(50)
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @EffectiveDate smalldatetime
	SET @EffectiveDate = GetDate()

	IF EXISTS
	(
	SELECT
		[Id]
	FROM
		[Species]
	WHERE
		[Name] = @Name 
	) BEGIN
		RAISERROR('Save failed: there is already a species with this name', 16, 1)
		RETURN
	END

	DECLARE @NextSequenceNumber int
	IF @ParentId IS NULL
	BEGIN
		SELECT 
			@NextSequenceNumber = max(isnull([SequenceNumber], 0)) + 1
		FROM 
			[Species]
		WHERE 
			[ParentId] IS NULL
	END 
	ELSE
	BEGIN
		SELECT 
			@NextSequenceNumber = max(isnull([SequenceNumber], 0)) + 1
		FROM 
			[Species]
		WHERE 
			[ParentId] = @ParentId
	END

	DECLARE @ParentName varchar(50)
	IF @ParentId IS NULL
	BEGIN
		SET @ParentName = '- root species -'
	END 
	ELSE
	BEGIN
		SELECT
			@ParentName = [Name]
		FROM
			[dbo].[Species]
		WHERE
			[Id]=@ParentId
	END

    INSERT INTO [Species]
		(
		[Id],
		[ParentId],
		[Name],
		[EffectiveDateFrom],
		[EffectiveDateTo],
		[SequenceNumber]
		)
	VALUES
		(
		@SpeciesId,
		@ParentId,
		@Name,
		@EffectiveDate,
		Null,
		isnull(@NextSequenceNumber, 1)
		) 


    INSERT INTO [SpeciesTableAuditLog]
		(
		[Id],
		[OldName],
		[NewName],
		[OldParent],
		[NewParent],
		[UserId],
		[EffectiveDate],
		[LogDate],
		[Reason]
		)
	VALUES
		(
		newid(),
		'- new entry -',
		@Name,
		'- new entry -',
		@ParentName,
		@UserId,
		@EffectiveDate,
		@EffectiveDate,
		@Reason
		) 


END

GO
GRANT EXECUTE ON [dbo].[spiSpecies] TO [VLAProfilesUser] 
GO
