----------------------------------------------------------------------------------------------------------
--- spiSpeciesFieldMultiValue.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiSpeciesFieldMultiValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiSpeciesFieldMultiValue]
GO

CREATE PROCEDURE [dbo].[spiSpeciesFieldMultiValue] 
	@SpeciesId uniqueidentifier,
	@SpeciesFieldId uniqueidentifier,
	@ListValue uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

   INSERT INTO [SpeciesFieldValue]
	(
		[Id],
		[SpeciesId],
		[SpeciesFieldId],
		[ListValue]
	)
	VALUES
	(
		NEWID(),
		@SpeciesId,
		@SpeciesFieldId,
		@ListValue
	)
END

GO
GRANT EXECUTE ON [dbo].[spiSpeciesFieldMultiValue] TO [VLAProfilesUser]
GO
