----------------------------------------------------------------------------------------------------------
--- spiSsoUser.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spiSsoUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spiSsoUser]
GO

CREATE PROCEDURE [spiSsoUser]
	(
		@UserName varchar(50),
		@FullName varchar(100),
		@EmailAddress varchar(50),
		@Organisation varchar(100),
		@SsoUserId uniqueidentifier
	)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	DECLARE @Exists Int
	SELECT
		@Exists = COUNT([Id])
	FROM
		[User]
	WHERE
		[SsoUserId] = @SsoUserId
	
	IF @Exists=0
	BEGIN
		INSERT INTO [dbo].[User]
			(
			[UserName],
			[FullName],
			[Organisation],
			[IsProfileEditor],
			[IsPolicyProfileUser],
			[SsoUserId],
			[IsUserManagementSystem],
			[EmailAddress]
			)
     VALUES
           (
			@UserName,
			@FullName,
			@Organisation,
			0,
			0,
			@SsoUserId,
			0,
			@EmailAddress
			)	
	END 
	ELSE 
	BEGIN
		IF @Exists=1
		BEGIN
			UPDATE [dbo].[User]
			SET
				UserName=@UserName,
				FullName=@FullName,
				EmailAddress = @EmailAddress,
				Organisation=@Organisation	
			WHERE
				[SsoUserId]=@SsoUserId
		END 
		ELSE 
		BEGIN
			RAISERROR('This user exists multiple times', 16, 1)
		END
	END
END

GO
GRANT EXECUTE ON [dbo].[spiSsoUser] TO [VLAProfilesUser]
GO
