/****** Object:  StoredProcedure [dbo].[spiUpdateDiseaseFilterValue]    Script Date: 30-03-2015 15:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spiUpdateDiseaseFilterValue]
	@FilterNumber as int,
	@DiseaseName as varchar(500),
	@Disease1 as varchar(50),
	@Disease2 as varchar(50),
	@Disease3 as varchar(50),
	@Disease4 as varchar(50),
	@Disease5 as varchar(200),
	@SelectedSpecies as uniqueidentifier
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @COUNTOFSPECIES as INT
	DECLARE @COUNTOFSPECIESINSRTD as INT

	SET @COUNTOFSPECIES = (SELECT COUNT(*) FROM DiseaseFilters WHERE FilterNumber = @FilterNumber AND IsInUse = 0 AND SelectedSpecies = @SelectedSpecies)

	IF @COUNTOFSPECIES > 0

		BEGIN			

			UPDATE DiseaseFilters SET DiseaseName = @DiseaseName, Disease1 = @Disease1, Disease2 = @Disease2, Disease3 = @Disease3, Disease4 = @Disease4, 
			Disease5 = @Disease5, LastUpdated = GetDate(), IsInUse = 1 Where FilterNumber = @FilterNumber AND IsInUse = 0 AND SelectedSpecies = @SelectedSpecies			

		END

	ELSE

		BEGIN

			SET @COUNTOFSPECIESINSRTD = (SELECT COUNT(*) FROM DiseaseFilters WHERE FilterNumber = @FilterNumber AND IsInUse = 1 AND SelectedSpecies = @SelectedSpecies)

				IF @COUNTOFSPECIESINSRTD = 0

					BEGIN
			
						IF @Disease3 = 'non-notifiable'
							
							BEGIN				

								INSERT INTO DiseaseFilters (FilterNumber, DiseaseName, Disease1, Disease2, Disease3, Disease4, Disease5, SelectedSpecies)						
								VALUES (@FilterNumber,@DiseaseName,@Disease1,@Disease2,@Disease3,@Disease4,'NULL',@SelectedSpecies)
								
							END				

						ELSE

							BEGIN

								 INSERT INTO DiseaseFilters (FilterNumber, DiseaseName, Disease1, Disease2, Disease3, Disease4, Disease5, SelectedSpecies)
								 VALUES (@FilterNumber,@DiseaseName,@Disease1,@Disease2,@Disease3,@Disease4,@Disease5,@SelectedSpecies)

							END

				END
		END
END