/****** Object:  StoredProcedure [dbo].[spiUpdateDisableDiseaseFilterValue]    Script Date: 25-03-2015 17:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spiUpdateDisableDiseaseFilterValue]	
	@FilterNumber as int
AS
BEGIN
	
	SET NOCOUNT ON;

	UPDATE DiseaseFilters SET IsInUse = 0 Where FilterNumber = @FilterNumber

END
