--------------------------------------------------------------------------------------------------------
--- spuProfileQuestion.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuProfileQuestion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuProfileQuestion]
GO

CREATE PROCEDURE [dbo].[spuProfileQuestion]
	@Id uniqueidentifier,
	@UserGuidance text,
	@LastUpdated timestamp,
	@NewLastUpdated timestamp OUTPUT,
	@Name varchar(255),
	@NonTechnicalName varchar(255)
AS
BEGIN
	SET NOCOUNT ON;

IF NOT EXISTS (
		SELECT
			[Id]
		FROM
			[ProfileQuestion]
		WHERE
			[Id] = @Id AND
			[LastUpdated] = @LastUpdated
	) BEGIN
		RAISERROR('The user guidance has been edited by another user',16,1)
		RETURN
	END

    UPDATE
		[ProfileQuestion]
	SET
		[ProfileQuestion].[UserGuidance] = @UserGuidance,
		[ProfileQuestion].[Name]=@Name,
		[ProfileQuestion].[NonTechnicalName]=@NonTechnicalName
	WHERE
		[ProfileQuestion].[Id] = @Id

	SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[ProfileQuestion]
	WHERE
		[ProfileQuestion].[Id] = @Id

END

GO
GRANT EXECUTE ON [dbo].[spuProfileQuestion] TO [VLAProfilesUser]
GO
