---------------------------------------------------------------------------------------------------------
--- spuProfileVersionSection.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuProfileSectionUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuProfileSectionUser]
GO

CREATE PROCEDURE [dbo].[spuProfileSectionUser]
	@UserId uniqueidentifier,
	@ProfileId uniqueidentifier,	
	@ReviewEmail bit
AS
BEGIN
		
	UPDATE
		[ProfileSectionUser]
	SET
		[ReviewEmail]=@ReviewEmail
	WHERE
		[UserId] = @UserId AND
		[ProfileId] = @ProfileId

END

GO
GRANT EXECUTE ON [dbo].[spuProfileSectionUser] TO [VLAProfilesUser]
GO
