-------------------------------------------------------------------------------------------------------
--- spuProfile.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuProfile]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuProfile]
GO

CREATE PROCEDURE [dbo].[spuProfile]
	@ProfileId uniqueidentifier,
	@Title varchar(255),
	@ScenarioTitle varchar(255),
	@LastUpdated timestamp,
	@NewLastUpdated timestamp OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	-- check that the timestamp is OK
	IF NOT EXISTS (
		SELECT
			[Id] 
		FROM
			[Profile]
		WHERE
			[Id] = @ProfileId AND 
			[LastUpdated] = @LastUpdated
	) BEGIN
		RAISERROR('The profile has been edited by another user',16,1)
		RETURN
	END

	DECLARE @ParentId uniqueidentifier

	SELECT
		@ParentId = [ParentId]
	FROM
		[Profile]
	WHERE
		[Id] = @ProfileId

	IF @Title IS NOT NULL BEGIN

		IF @ParentId IS NOT NULL BEGIN
			RAISERROR('The profile title of a "what-if" scenario cannot be edited',16,1)
			RETURN
		END

		IF EXISTS (
			SELECT 
				[Id]
			FROM	
				[Profile] 
			WHERE
				[Title] = @Title AND
				[Id] != @ProfileId
		) BEGIN
			RAISERROR('The profile title is already in use for a different profile',16,1)
			RETURN
		END
	END

	IF @ScenarioTitle IS NOT NULL BEGIN

		IF @ParentId IS NULL BEGIN
			RAISERROR('The scenario title of a "current situation" profile cannot be edited',16,1)
			RETURN
		END

		IF EXISTS (
			SELECT 
				[Id]
			FROM	
				[Profile] 
			WHERE
				[ScenarioTitle] = @ScenarioTitle AND
				[ParentId] = @ParentId AND
				[Id] != @ProfileId
		) BEGIN
			RAISERROR('The scenario title is already in use for a different scenario belonging to the same profile',16,1)
			RETURN
		END
	END

	DECLARE @DraftStateId uniqueidentifier

	SELECT
		@DraftStateId = [Id]
	FROM
		[luProfileVersionState]
	WHERE
		[Name] = 'Draft'

	UPDATE
		[Profile]
	SET
		[Title] = @Title,
		[ScenarioTitle] = @ScenarioTitle
	WHERE
		[Id] = @ProfileId

	SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[Profile]
	WHERE
		[Id] = @ProfileId

	IF @Title IS NOT NULL BEGIN

		-- update the profile title of the current draft version of this profile, if there is one
		UPDATE
			[ProfileVersion]
		SET
			[Title] = @Title
		WHERE
			[ProfileId] = @ProfileId AND
			[EffectiveDateTo] IS NULL AND
			[ProfileVersionStateId] = @DraftStateId

		-- update the profile title of the current draft versions of any what-if scenarios belonging to this profile
		UPDATE
			[ProfileVersion]
		SET
			[Title] = @Title
		FROM
			[ProfileVersion] INNER JOIN [Profile] ON [ProfileVersion].[ProfileId] = [Profile].[Id]
			INNER JOIN [Profile] AS [ParentProfile] ON [Profile].[ParentId] = [ParentProfile].[Id]
		WHERE
			[ParentProfile].[Id] = @ProfileId AND
			[ProfileVersion].[EffectiveDateTo] IS NULL AND
			[ProfileVersionStateId] = @DraftStateId

	END

	IF @ScenarioTitle IS NOT NULL BEGIN

		-- update the scenario title of the current draft version of this profile, if there is one
		UPDATE
			[ProfileVersion]
		SET
			[ScenarioTitle] = @ScenarioTitle
		WHERE
			[ProfileId] = @ProfileId AND
			[EffectiveDateTo] IS NULL AND
			[ProfileVersionStateId] = @DraftStateId
	
	END

END

GO
GRANT EXECUTE ON [dbo].[spuProfile] TO [VLAProfilesUser]
GO
