------------------------------------------------------------------------------------------------------
--- spuProfileVersionQuestionRow.SQL
------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuProfileVersionQuestionRow]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuProfileVersionQuestionRow]
GO

CREATE PROCEDURE spuProfileVersionQuestionRow
	@Id uniqueidentifier,
	@SequenceNumber int
AS
BEGIN

	SET NOCOUNT ON;

    UPDATE
		[ProfileVersionQuestionRow]
	SET
		[SequenceNumber] = @SequenceNumber
	WHERE
		[Id] = @Id

END

GO
GRANT EXECUTE ON [dbo].[spuProfileVersionQuestionRow] TO [VLAProfilesUser]
GO
