------------------------------------------------------------------------------------------------------
--- spuPrioritisationCriterion.SQL
------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuPrioritisationCriterion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuPrioritisationCriterion]
GO

CREATE PROCEDURE [dbo].[spuPrioritisationCriterion] 
	@CriterionId uniqueidentifier, 
	@Weighting int,
	@Name varchar(255)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE
		[PrioritisationCriterion]
    SET      
        [Weighting] = @Weighting,
        [Name] = @Name
	WHERE
		[Id] = @CriterionId

END

GO
GRANT EXECUTE ON [dbo].[spuPrioritisationCriterion] TO [VLAProfilesUser]
GO
