----------------------------------------------------------------------------------------------------------
--- spuProfileVersionNote.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuProfileVersionNote]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuProfileVersionNote]
GO

CREATE PROCEDURE [dbo].[spuProfileVersionNote]
	@Id uniqueidentifier,
	@NoteText varchar(max),
	@LastUpdated timestamp OUTPUT,
	@NewLastUpdated timestamp OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	IF NOT EXISTS (
		SELECT
			[Id] 
		FROM
			[ProfileVersionNote]
		WHERE
			[Id] = @Id AND 
			[LastUpdated] = @LastUpdated
	) BEGIN
		RAISERROR('The reference has been edited by another user',16,1)
		RETURN
	END

	UPDATE 
		[ProfileVersionNote]
	SET
		[NoteText] = @NoteText
	WHERE
		[Id] = @Id

	SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[ProfileVersionNote]
    WHERE
		[Id] = @Id

END

GO
GRANT EXECUTE ON [dbo].[spuProfileVersionNote] TO [VLAProfilesUser]
GO
