---------------------------------------------------------------------------------------------------------
--- spuPrioritisationRankingRange.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuPrioritisationRankingRange]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuPrioritisationRankingRange]
GO

CREATE PROCEDURE [dbo].[spuPrioritisationRankingRange] 
	@UpperBound int, 
	@LowerBound int,
	@LastUpdated timestamp,
	@NewLastUpdated timestamp OUTPUT,
	@PrioritisationType varchar(20)
AS
BEGIN

	SET NOCOUNT ON;

	IF NOT EXISTS(
		SELECT 
			[Id]
		FROM
			[PrioritisationRankingRange]
		WHERE
			[LastUpdated] = @LastUpdated

	) BEGIN
		RAISERROR('Save failed. The prioritisation variables have been edited by another user',16,1)
	END

	UPDATE
		[PrioritisationRankingRange]
    SET      
        [UpperBound] = @UpperBound,
		[LowerBound] = @LowerBound
	WHERE
		[PrioritisationType] = @PrioritisationType

	SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[PrioritisationRankingRange]


END

GO
GRANT EXECUTE ON [dbo].[spuPrioritisationRankingRange] TO [VLAProfilesUser]
GO
