---------------------------------------------------------------------------------------------------------
--- spuProfileVersionSection.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuProfileVersionSection]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuProfileVersionSection]
GO

CREATE PROCEDURE [dbo].[spuProfileVersionSection]
	@ProfileVersionId uniqueidentifier,
	@ProfileSectionId uniqueidentifier,
	@TechnicalReviewFrequency uniqueidentifier,
	@PolicyReviewFrequency uniqueidentifier,
	@NextTechnicalReview smalldatetime,
	@NextPolicyReview smalldatetime,
	@LastUpdated timestamp,
	@NewLastUpdated timestamp OUTPUT,
	@PolicyReviewStatusId uniqueidentifier,
	@TechnicalReviewStatusId uniqueidentifier,
	@PolicyReviewCompleted smalldatetime,
	@TechnicalReviewCompleted smalldatetime
AS
BEGIN

	SET NOCOUNT ON;

    IF EXISTS (
		SELECT
			[Id]
		FROM
			[ProfileVersion]
		WHERE
			[Id] = @ProfileVersionId AND
			[EffectiveDateTo] IS NOT NULL
	) BEGIN
		RAISERROR('The profile version cannot be edited because it is not current',16,1)
		RETURN
	END

	IF EXISTS (
		SELECT
			[ProfileVersion].[Id]
		FROM
			[ProfileVersion] INNER JOIN [luProfileVersionState] ON [ProfileVersion].[ProfileVersionStateId] = [luProfileVersionState].[Id]
		WHERE
			[ProfileVersion].[Id] = @ProfileVersionId AND
			[luProfileVersionState].[Name] != 'Draft'
	) BEGIN
		RAISERROR('The profile version cannot be edited because it is not a draft version',16,1)
		RETURN
	END

	IF NOT EXISTS (
		SELECT
			[ProfileVersionId],
			[ProfileSectionId]
		FROM
			[ProfileVersionSection]
		WHERE
			[ProfileVersionId] = @ProfileVersionId AND
			[ProfileSectionId] = @ProfileSectionId AND
			[LastUpdated] = @LastUpdated
	) BEGIN
		RAISERROR('The profile version section has been edited by another user',16,1)
		RETURN
	END

	UPDATE
		[ProfileVersionSection]
	SET
		[TechnicalReviewFrequency] = @TechnicalReviewFrequency,
		[PolicyReviewFrequency] = @PolicyReviewFrequency,
		[NextTechnicalReview] = @NextTechnicalReview,
		[NextPolicyReview] = @NextPolicyReview,
		[TechnicalReviewStatusId] = @TechnicalReviewStatusId,
		[PolicyReviewStatusId] = @PolicyReviewStatusId,
		[TechnicalReviewCompleted] = @TechnicalReviewCompleted,
		[PolicyReviewCompleted] = @PolicyReviewCompleted
	WHERE
		[ProfileVersionId] = @ProfileVersionId AND
		[ProfileSectionId] = @ProfileSectionId

	SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[ProfileVersionSection]
	WHERE
		[ProfileVersionId] = @ProfileVersionId AND
		[ProfileSectionId] = @ProfileSectionId

END

GO
GRANT EXECUTE ON [dbo].[spuProfileVersionSection] TO [VLAProfilesUser]
GO
