---------------------------------------------------------------------------------------------------------
--- spuProfileVersionSpeciesTradeData.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuProfileVersionSpeciesTradeData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuProfileVersionSpeciesTradeData]
GO

CREATE PROCEDURE [dbo].[spuProfileVersionSpeciesTradeData]
	@ProfileVersionId uniqueidentifier,
	@SpeciesId uniqueidentifier
AS
BEGIN

		SET NOCOUNT ON;

		-- remove any existing data held against the profile version that should
		-- be copied from the Species table	
		DELETE
			[ProfileVersionFieldValue]
		FROM
			[ProfileVersionFieldValue] INNER JOIN [ProfileField] ON [ProfileVersionFieldValue].[ProfileFieldId] = [ProfileField].[Id]
			INNER JOIN [SpeciesField] ON [ProfileVersionFieldValue].[ProfileFieldId] = [SpeciesField].[ProfileFieldId]
		WHERE
			[ProfileVersionFieldValue].[ProfileVersionId] = @ProfileVersionId AND
			[ProfileVersionFieldValue].[SpeciesId] = @SpeciesId

		-- add new rows to the profile version with the values copied from the
		-- Species table for this species
		INSERT INTO [ProfileVersionFieldValue]
			(
			[Id],
			[ProfileVersionId],
			[ProfileFieldId],
			[SpeciesId],
			[ProfileVersionQuestionRowId],
			[BooleanValue],
			[ListValue],
			[DecimalValue],
			[DateValue],
			[TextValue]
			)
		SELECT
			NEWID(),
			@ProfileVersionId,
			[SpeciesField].[ProfileFieldId],
			@SpeciesId ,
			NULL,
			[SpeciesFieldValue].[BooleanValue],
			[SpeciesFieldValue].[ListValue],
			NULL,
			NULL,
			[SpeciesFieldValue].[TextValue]
		FROM
			[SpeciesFieldValue] INNER JOIN [SpeciesField] ON [SpeciesFieldValue].[SpeciesFieldId] = [SpeciesField].[Id]
		WHERE
			[SpeciesField].[ProfileFieldId] IS NOT NULL AND
			[SpeciesFieldValue].[SpeciesId] = @SpeciesId
			  
	  END

GO
GRANT EXECUTE ON [dbo].[spuProfileVersionSpeciesTradeData] TO [VLAProfilesUser]
GO
