------------------------------------------------------------------------------------------------------
--- spuPrioritisationCriterionValue.SQL
------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuPrioritisationCriterionValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuPrioritisationCriterionValue]
GO

CREATE PROCEDURE [dbo].[spuPrioritisationCriterionValue] 
	@CriterionValueId uniqueidentifier, 
	@Score int
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE
		[PrioritisationCriterionValue]
    SET      
        [Score] = @Score
	WHERE
		[Id] = @CriterionValueId

END

GO
GRANT EXECUTE ON [dbo].[spuPrioritisationCriterionValue] TO [VLAProfilesUser]
GO
