--------------------------------------------------------------------------------------------------------
--- spuProfileVersionFieldValue.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuProfileVersionFieldValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuProfileVersionFieldValue]
GO

CREATE PROCEDURE [dbo].[spuProfileVersionFieldValue]
	@ProfileVersionId uniqueidentifier,
	@ProfileFieldId uniqueidentifier,
	@SpeciesId uniqueidentifier = NULL,
	@ProfileVersionQuestionRowId uniqueidentifier = NULL,
	@BooleanValue bit = NULL,
	@ListValue uniqueidentifier = NULL,
	@DecimalValue money = NULL,
	@DateValue datetime = NULL,
	@TextValue varchar(max) = NULL
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @EmptyGuid uniqueidentifier
	SET @EmptyGuid = '00000000-0000-0000-0000-000000000000'

    DECLARE @ProfileVersionFieldValueId uniqueidentifier

	SELECT
		@ProfileVersionFieldValueId = [Id]
	FROM
		[ProfileVersionFieldValue]
	WHERE
		[ProfileVersionId] = @ProfileVersionId AND
		[ProfileFieldId] = @ProfileFieldId AND
		ISNULL([SpeciesId], @EmptyGuid) = ISNULL(@SpeciesId, @EmptyGuid) AND
		ISNULL([ProfileVersionQuestionRowId], @EmptyGuid) = ISNULL(@ProfileVersionQuestionRowId, @EmptyGuid)

	IF @ProfileVersionFieldValueId IS NOT NULL BEGIN

		IF @BooleanValue IS NULL AND 
					@ListValue IS NULL AND 
					@DecimalValue IS NULL AND 
					@DateValue IS NULL AND
					@TextValue IS NULL BEGIN

			DELETE
			FROM
				[ProfileVersionFieldValue]
			WHERE
				[Id] = @ProfileVersionFieldValueId

		END ELSE BEGIN

			UPDATE
				[ProfileVersionFieldValue]
			SET
				[BooleanValue] = @BooleanValue,
				[ListValue] = @ListValue,
				[DecimalValue] = @DecimalValue,
				[DateValue] = @DateValue,
				[TextValue] = @TextValue
			WHERE
				[Id] = @ProfileVersionFieldValueId

		END

	END ELSE BEGIN

		INSERT INTO [ProfileVersionFieldValue]
			(
			[Id],
			[ProfileVersionId],
			[ProfileFieldId],
			[SpeciesId],
			[ProfileVersionQuestionRowId],
			[BooleanValue],
			[ListValue],
			[DecimalValue],
			[DateValue],
			[TextValue]
			)
		VALUES
			(
			NEWID(),
			@ProfileVersionId,
			@ProfileFieldId,
			@SpeciesId,
			@ProfileVersionQuestionRowId,
			@BooleanValue,
			@ListValue,
			@DecimalValue,
			@DateValue,
			@TextValue
			)

	END

END

GO
GRANT EXECUTE ON [dbo].[spuProfileVersionFieldValue] TO [VLAProfilesUser]
GO
