-------------------------------------------------------------------------------------------------------
--- spuReviewComment.SQL
-------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuReviewComment]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuReviewComment]
GO

CREATE PROCEDURE [dbo].[spuReviewComment]
	@Id uniqueidentifier,
	@Subject varchar(255),
	@CommentReference varchar(255),
	@Comment text,
	@LastUpdated timestamp,
	@NewLastUpdated timestamp OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	IF NOT EXISTS (
		SELECT
			[Id] 
		FROM
			[ReviewComment]
		WHERE
			[Id] = @Id AND 
			[LastUpdated] = @LastUpdated
	) BEGIN
		RAISERROR('The Review Comment has been edited by another user',16,1)
		RETURN
	END

    UPDATE
		[ReviewComment]
	SET
		[Subject] = @Subject,
		[CommentReference] = @CommentReference,
		[Comment] = @Comment
	WHERE
		[Id] = @Id

	SELECT
		@NewLastUpdated = [LastUpdated]
	FROM
		[ReviewComment]
	WHERE
		[Id] = @Id

END

GO
GRANT EXECUTE ON [dbo].[spuReviewComment] TO [VLAProfilesUser]
GO
