--------------------------------------------------------------------------------------------------------
--- spuSpeciesFieldValue.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuSpeciesFieldValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuSpeciesFieldValue]
GO

CREATE PROCEDURE spuSpeciesFieldValue 
	@SpeciesId uniqueidentifier,
	@SpeciesFieldId uniqueidentifier,
	@BooleanValue bit = NULL,
	@ListValue uniqueidentifier = NULL,
	@TextValue varchar(max) = NULL
AS
BEGIN

	SET NOCOUNT ON;

    DECLARE @SpeciesFieldValueId uniqueidentifier

	SELECT
		@SpeciesFieldValueId = [Id]
	FROM
		[SpeciesFieldValue]
	WHERE
		[SpeciesId] = @SpeciesId AND
		[SpeciesFieldId] = @SpeciesFieldId 

	IF @SpeciesFieldValueId IS NOT NULL BEGIN

		IF @BooleanValue IS NULL AND 
					@ListValue IS NULL AND 
					@TextValue IS NULL BEGIN

			DELETE
			FROM
				[SpeciesFieldValue]
			WHERE
				[Id] = @SpeciesFieldValueId

		END ELSE BEGIN

			UPDATE
				[SpeciesFieldValue]
			SET
				[BooleanValue] = @BooleanValue,
				[ListValue] = @ListValue,
				[TextValue] = @TextValue
			WHERE
				[Id] = @SpeciesFieldValueId

		END

	END ELSE BEGIN

		INSERT INTO [SpeciesFieldValue]
			(
			[Id],
			[SpeciesId],
			[SpeciesFieldId],
			[BooleanValue],
			[ListValue],
			[TextValue]
			)
		VALUES
			(
			NEWID(),
			@SpeciesId,
			@SpeciesFieldId,
			@BooleanValue,
			@ListValue,
			@TextValue
			)

	END
END

GO
GRANT EXECUTE ON [dbo].[spuSpeciesFieldValue] TO [VLAProfilesUser]
GO
