----------------------------------------------------------------------------------------------------------
--- spuSpeciesSequenceNumber.SQL
----------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuSpeciesSequenceNumber]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuSpeciesSequenceNumber]
GO

CREATE PROCEDURE [dbo].[spuSpeciesSequenceNumber]
	@SpeciesId uniqueidentifier,
	@IsMovingUp bit
AS
BEGIN
	DECLARE @MaxSequenceNumber int
	DECLARE @OldSequenceNumber int
	DECLARE @NewSequenceNumber int
	DECLARE @ParentId uniqueidentifier
	DECLARE @EmptyGuid uniqueidentifier

	SET @EmptyGuid = '00000000-0000-0000-0000-000000000000'
	
	SELECT 
		@ParentId = [ParentId] 
	FROM 
		[Species] 
	WHERE 
		[Species].[Id] = @SpeciesId

	SELECT 
		@OldSequenceNumber = [SequenceNumber]
	FROM
		[Species]
	WHERE
		[Id] = @SpeciesId 	

	IF @IsMovingUp = 1
	BEGIN
		SET @NewSequenceNumber = @OldSequenceNumber - 1
	END
	ELSE
	BEGIN
		SET @NewSequenceNumber = @OldSequenceNumber + 1
	END

	IF NOT Exists
	(		
		SELECT
			[Id]
		FROM 
			[Species]
		WHERE
			ISNULL([ParentId], @EmptyGuid) = ISNULL(@ParentId, @EmptyGuid) AND
			[SequenceNumber] = @NewSequenceNumber
	)
	BEGIN
		RAISERROR('Sequence change failed: There is no species above/below this one', 16, 1)
		RETURN
	END	
	
	DECLARE @NextSpeciesId uniqueidentifier
		
	SELECT
		@NextSpeciesId = [Id]
	FROM
		[Species]
	WHERE
		ISNULL([ParentId], @EmptyGuid) = ISNULL(@ParentId, @EmptyGuid) AND
		[SequenceNumber] = @NewSequenceNumber

	UPDATE 
		[Species]
	SET
		[SequenceNumber] = @NewSequenceNumber
	WHERE
		[Id] = @SpeciesId	
	
	UPDATE
		[Species]
	SET
		[SequenceNumber] = @OldSequenceNumber
	WHERE
		[Id] = @NextSpeciesId
END	

GO
GRANT EXECUTE ON [dbo].[spuSpeciesSequenceNumber] TO [VLAProfilesUser]
GO
