--------------------------------------------------------------------------------------------------------
--- spuSpecies.SQL
--------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuSpecies]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuSpecies]
GO

CREATE PROCEDURE [dbo].[spuSpecies]
	@SpeciesId uniqueidentifier,
	@UserId uniqueidentifier,
	@Reason varchar(255),
	@ParentId uniqueidentifier,
	@Name varchar(50),
	@LastUpdated timestamp
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @EffectiveDate smalldatetime
	SET @EffectiveDate = GETDATE()
	
	IF EXISTS
	(
	SELECT
		[Id]
	FROM
		[Species]
	WHERE
		[Name] = @Name 
		AND [Id] <> @SpeciesId
	) BEGIN
		RAISERROR('Save failed: there is already a species with this name', 16, 1)
		RETURN
	END

	-- Check timestamp is valid
	IF NOT EXISTS (
		SELECT
			[Id]
		FROM
			[Species]
		WHERE
			[Id] = @SpeciesId 
			AND [LastUpdated] = @LastUpdated
		) 
			BEGIN
				RAISERROR('The species cannot be updated because it has been edited by another user',16,1)
				RETURN
			END

	DECLARE @OldName varchar(50)
	DECLARE @OldParentId uniqueidentifier
	SELECT
		@OldName = [Name],
		@OldParentId = [ParentId]
	FROM
		[dbo].[Species]
	WHERE
		[Id]=@SpeciesId


	DECLARE @OldParent varchar(50)
	IF @OldParentId IS NULL
	BEGIN
		SET @OldParent = '- root species -'
	END
	ELSE
	BEGIN
	SELECT
		@OldParent = [Name]
	FROM
		[dbo].[Species]
	WHERE
		[Id]=@OldParentId
	END

	DECLARE @NewParent varchar(50)
	IF @ParentId IS NULL
	BEGIN
		SET @NewParent = '- root species -'
	END
	ELSE
	BEGIN
		SELECT
			@NewParent = [Name]
		FROM
			[dbo].[Species]
		WHERE
			[Id]=@ParentId
	END

	DECLARE @NextSequenceNumber int
	IF isnull(@ParentId, '00000000-0000-0000-0000-000000000000') <> isnull(@OldParentId, '00000000-0000-0000-0000-000000000000')
	BEGIN	

		IF @ParentId IS NULL		
		BEGIN
					
			IF Exists
			(
			SELECT 
				[SequenceNumber]
			FROM 
				[Species]
			WHERE 
				[ParentId] IS NULL
			)
				BEGIN
					SELECT 
						@NextSequenceNumber = max(isnull([SequenceNumber], 0)) + 1
					FROM 
						[Species]
					WHERE 
						[ParentId] IS NULL
				END
				ELSE
				BEGIN
					SET @NextSequenceNumber = 1
				END
		END
		ELSE
		BEGIN

			IF Exists
			(
			SELECT 
				[SequenceNumber]
			FROM 
				[Species]
			WHERE 
				[ParentId] = @ParentId
			)
				BEGIN
					SELECT 
						@NextSequenceNumber = max(isnull([SequenceNumber], 0)) + 1
					FROM 
						[Species]
					WHERE 
						[ParentId] = @ParentId
				END
				ELSE
				BEGIN
					SET @NextSequenceNumber = 1
				END			
		END
	END
	ELSE
	BEGIN
	
		SELECT 
			@NextSequenceNumber = [SequenceNumber]
		FROM 
			[Species]
		WHERE 
			[Id] = @SpeciesId
	END 

	-- Update Species
    UPDATE 
		[Species]
	SET
		[ParentId] = @ParentId,
		[Name] = @Name,
		[SequenceNumber] = @NextSequenceNumber
	WHERE
		[Id] = @SpeciesId

	--Insert Audit (parent)
    INSERT INTO [SpeciesTableAuditLog]
		(
		[Id],
		[UserId],
		[EffectiveDate],
		[LogDate],
		[Reason],
		[OldName],
		[NewName],
		[OldParent],
		[NewParent]
		)
	VALUES
		(
		newid(),
		@UserId,
		@EffectiveDate,
		@EffectiveDate,
		@Reason,
		@OldName,
		@Name,
		@OldParent,
		@NewParent
		) 

END

GO
GRANT EXECUTE ON [dbo].[spuSpecies] TO [VLAProfilesUser]
GO
