-----------------------------------------------------------------------------------------------------
--- spuSpellCustomWord.SQL
-----------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuSpellCustomWord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuSpellCustomWord]
GO

CREATE PROCEDURE [dbo].[spuSpellCustomWord]
	@Id uniqueidentifier,
	@Word varchar(255),
	@LastUpdated timestamp,
	@NewLastUpdated timestamp output
AS
BEGIN
	SET NOCOUNT ON;

	IF NOT EXISTS
	(
	SELECT
		[Id]
	FROM
		[dbo].[SpellCustomWord]
	WHERE
		[Id] = @Id AND
		[LastUpdated] = @LastUpdated
	)	
	BEGIN
		RAISERROR('This word has been amended by another user', 16, 1)
		RETURN
	END
    
	UPDATE [dbo].[SpellCustomWord]
	SET
		[Word] = @Word
	WHERE	
		[Id] = @Id

	SELECT 
		@NewLastUpdated = [LastUpdated] 
	FROM 
		[dbo].[SpellCustomWord]
	WHERE
		[Id] = @Id

END

GO
GRANT EXECUTE ON [dbo].[spuSpellCustomWord] TO [VLAProfilesUser]
GO
