---------------------------------------------------------------------------------------------------------
--- spuStaticReportVersion.SQL
---------------------------------------------------------------------------------------------------------

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spuStaticReportVersion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spuStaticReportVersion]
GO

CREATE PROCEDURE [dbo].[spuStaticReportVersion] 
	@StaticReportVersionId uniqueidentifier
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @IsUserManual bit
	DECLARE @IsAlreadyPublic bit
	
	SELECT 
		@IsUserManual = [IsUserManual],
		@IsAlreadyPublic = [IsPublic]
	FROM
		[dbo].[StaticReportVersion]
	JOIN [dbo].[StaticReport] ON [StaticReportVersion].[StaticReportId]=[StaticReport].[Id]
	WHERE
		[StaticReportVersion].[Id]=@StaticReportVersionId
	

	IF @IsUserManual=1
	BEGIN
		RAISERROR ('You cannot make a user manual public',16,1)
		RETURN
	END

	IF @IsAlreadyPublic=1
	BEGIN
		RAISERROR ('This report is already public',16,1)
		RETURN
	END
	

    UPDATE
		[dbo].[StaticReportVersion]
	SET
		[IsPublic]=1
	WHERE
		[Id]=@StaticReportVersionId
	
END

GO
GRANT EXECUTE ON [dbo].[spuStaticReportVersion] TO [VLAProfilesUser]
GO
