<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<connectionStrings>
		<add name="ProfilesDatabase" connectionString="Server=.;Database=SurveillanceProfiles;User Id=VLAProfilesUser;Password=password;"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	<appSettings>
		<add key="CslaAuthentication" value="Csla"/>
		<add key="EmailFromAddress" value="testing@sfwltd.co.uk"/>
		<add key="EmailFromDisplayName" value="Test Sender"/>
		<add key="CslaAuthentication.User" value="internal\admin"/>
	</appSettings>
</configuration>
