<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="InternalHomePageUrlForReports" value="http://apha-007.cvlnt.vla.gov.uk/surveillanceprofiles/Home.aspx"/>
    <add key="PDFQualityStatementText" value="The D2R2 Quality Statement can be found in the footer on every page when browsing in the application or in the Help Using D2R2 section"/>
    <add key="StaticReportFolder" value="C:\Projects\VLA86\StaticReport"/>
    <add key="PublishedProfilePdfLocation" value="C:\Projects\VLA86 - Surveillance Profiles\SurveillanceProfiles\ProfilesWeb\PublishedProfiles"/>
    <add key="ApplicationName" value="Internal Web Application"/>
    <add key="VersionName" value="development"/>
    <add key="EventLogSource" value="SurveillanceProfiles"/>
    <add key="ShowVersion" value="1"/>
    <add key="CslaAuthentication" value="Csla"/>
    <add key="ShowProfileReportsLink" value="1"/>
    <!-- settings for review emails-->
    <add key="ShowReviewEmailPage" value="1"/>
    <add key="EmailFromAddress" value="testing@sfwltd.co.uk"/>
    <add key="EmailFromDisplayName" value="Test Sender"/>
    <add key="UseSQLDirectly" value="true"/>
    <add key="VersionNumber" value="1.6.0"/>
    <add key="SearchUseTextSearch" value="0"/>
    <add key="SearchUseExactWordMatch" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="ProfilesDatabase" connectionString="Server=10.98.2.4;Database=SurveillanceProfiles;User Id=VLAProfilesUser;Password=password;"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="20"/>
    <!--for live deployment, set requireSSL to "true"
    <httpCookies requireSSL="true"/>-->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="csla" namespace="Csla.Web" assembly="Csla"/>
        <add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="pwc" assembly="Profiles.WebControls" namespace="Profiles.WebControls.Profiles.WebControls"/>
        <add tagPrefix="pwcs" assembly="Profiles.WebControls" namespace="Profiles.WebControls.Profiles.WebControls.SearchControls"/>
        <add tagPrefix="pwcp" assembly="Profiles.WebControls" namespace="Profiles.WebControls.Profiles.WebControls.ProfileControls"/>
        <add tagPrefix="cht" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
      </tagMapping>
    </pages>
    <machineKey validationKey="F9D1A2D3E1D3E2F7B3D9F90FF3965ABDAC304902" decryptionKey="F9D1A2D3E1D3E2F7B3D9F90FF3965ABDAC304902F8D923AC" validation="SHA1"/>
    <compilation strict="true" explicit="true" debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="AuthenticationModule" type="ProfilesLibrary.AuthenticationModule, ProfilesLibrary"/>
    </httpModules>
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="AuthenticationModule" type="ProfilesLibrary.AuthenticationModule, ProfilesLibrary"/>
    </modules>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.7.123" newVersion="3.5.7.123"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SsoBinding" maxReceivedMessageSize="200000000">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000" maxArrayLength="20000000" maxBytesPerRead="20000000" maxNameTableCharCount="20000000"/>
          <security mode="Message">
            <message clientCredentialType="UserName" establishSecurityContext="true"/>
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/StaticReportService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IStaticReportService" name="StaticReportService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/ProfileReportService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileReportService" name="ProfileReportService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/UserAuthenticationService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IUserAuthenticationService" name="UserAuthenticationService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/ProfileNoteService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileNoteService" name="ProfileNoteService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/ProfileSearchService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileSearchService" name="ProfileSearchService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/SpeciesVersionDataService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.ISpeciesVersionDataService" name="SpeciesVersionDataService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/ProfileVersionDataService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileVersionDataService" name="ProfileVersionDataService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/ErrorLogService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IErrorLogService" name="ErrorLogService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/SpeciesDataService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.ISpeciesDataService" name="SpeciesDataService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/SpellCheckService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.ISpellCheckService" name="SpellCheckService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/ReviewCommentService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IReviewCommentService" name="ReviewCommentService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/ReferenceValueService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IReferenceValueService" name="ReferenceValueService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/ProfileQuestionService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileQuestionService" name="ProfileQuestionService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:44357/ProfilesServices/PrioritisationService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IPrioritisationService" name="PrioritisationService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost:81/Profiles.Services/BespokeReportTemplateService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IBespokeReportTemplateService" name="BespokeReportTemplateService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>