<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->    
    <connectionStrings>
      <add name="ProfilesDatabase" 
        connectionString="Server=.;Database=SurveillanceProfiles;User Id=VLAProfilesUser;Password=password;" 
        xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </connectionStrings>
	<appSettings>
		<add key="UseSQLDirectly" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
		<add key="ApplicationName" value="Internal Web Application" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
		<add key="VersionName" value="test" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
		<add key="EmailFromAddress" value="testing@sfwltd.co.uk" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
		<add key="EmailFromDisplayName" value="Test Sender Dev" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
		<add key="VersionNumber" value="1.6.0" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
	</appSettings>

	<system.serviceModel>
		<client>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/StaticReportService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IStaticReportService" name="StaticReportService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/ProfileReportService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileReportService" name="ProfileReportService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/UserAuthenticationService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IUserAuthenticationService" name="UserAuthenticationService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/ProfileNoteService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileNoteService" name="ProfileNoteService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/ProfileSearchService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileSearchService" name="ProfileSearchService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/SpeciesVersionDataService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.ISpeciesVersionDataService" name="SpeciesVersionDataService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/ProfileVersionDataService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileVersionDataService" name="ProfileVersionDataService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/ErrorLogService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IErrorLogService" name="ErrorLogService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/SpeciesDataService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.ISpeciesDataService" name="SpeciesDataService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/SpellCheckService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.ISpellCheckService" name="SpellCheckService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/ReviewCommentService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IReviewCommentService" name="ReviewCommentService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/ReferenceValueService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IReferenceValueService" name="ReferenceValueService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/ProfileQuestionService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IProfileQuestionService" name="ProfileQuestionService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
			<endpoint behaviorConfiguration="ClientBehaviour" address="http://localhost/ProfilesServices/PrioritisationService.svc" binding="wsHttpBinding" bindingConfiguration="SsoBinding" contract="Profiles.Contracts.ServiceContracts.IPrioritisationService" name="PrioritisationService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>

			<endpoint>
				<identity>
					<dns value="localhost" xdt:Transform="SetAttributes"/>
				</identity>
			</endpoint>
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<clientCredentials xdt:Transform="Insert">
						<serviceCertificate>
							<authentication certificateValidationMode="PeerOrChainTrust" revocationMode="Offline"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>